openapi: 3.0.4
info:
  title: "Finternet API - Account & Address Service"
  description: |
    API specification for account, address and account-key management in UNITS.

    All endpoints use the standard envelope (`context`/`payload` → `context`/`response`).
    On failure `context.status` is `failed`, `context.error` carries a `code` and a
    `message`, and `response` is empty.

    ### Authentication

    * `context.developerToken`: the developer token of the calling application. Required on
      every endpoint.
    * `context.authorization`: the end user's session token. Required on the endpoints that
      act on a signed-in user; each operation states when it is needed.
    * `signature` (top level): the end user's JWS over the payload, for operations that must
      be signed by the user.

    ### RBAC Scopes

    | Endpoint | Required scope |
    |----------|----------------|
    | `POST /v1/account/create` | `accounts:create` |
    | `POST /v1/account/update` | `accounts:manage` |
    | `POST /v1/account/get` | `accounts:view` |
    | `POST /v1/account/otp/generate` | *(scope resolved from apiID; requires user auth)* |
    | `POST /v1/account/otp/verify` | *(scope resolved from apiID; requires user auth)* |
    | `POST /v1/account/pii/decrypt` | *(scope resolved from apiID; requires user auth)* |
    | `POST /v1/account/login` | *(public: OTP/SSO bootstrap)* |
    | `POST /v1/account/logout` | *(public)* |
    | `POST /v1/address/checkAvailability` | *(public)* |
    | `POST /v1/address/resolve` | `accounts:view` |
    | `POST /v1/account/keys/register` | `keys:create` |
    | `POST /v1/account/keys/remove` | `keys:manage` |
    | `POST /v1/account/keys/get` | `keys:view` |
    | `POST /v1/account/keys/search` | `keys:view` |

    Calls failing the scope check return `403 FORBIDDEN`.

    ### Rate limiting

    All endpoints are protected by a scope-tier sliding-window rate limiter; on
    breach the response is `429 Too Many Requests` with a `Retry-After` header.
  version: "1.0.0"
servers:
  - url: "https://foundry.finternetlab.io"
    description: "Development Environment"
  - url: "http://localhost:3000"
    description: "Local Server"
tags:
  - name: "Account"
    description: "Registration, authentication and account profile management."
  - name: "Address"
    description: "Human-readable identifiers (Addresses)."
  - name: "Account Keys"
    description: "Public keys bound to an account, for additional devices, hardware keys and agent keys."

# ===============================================================
#   PATHS
# ===============================================================

paths:
  # -------------------- Account --------------------
  /v1/account/create:
    post:
      tags:
        - "Account"
      summary: "Register a new account"
      description: |
        Create a new account. The email or mobile is taken from the token in
        `context.authorization`, so it is not accepted in the payload.

        Requires a user session token in `context.authorization`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_RegistrationRequest'
            examples:
              PersonalRegistration:
                summary: "Register a PERSONAL account"
                value:
                  context:
                    id: "api.account.create"
                    version: "v1"
                    ts: "2025-09-08T12:00:00Z"
                    msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                    developerToken: "c2Et..."
                    authorization: "Bearer eyJ..."
                  payload:
                    address: "alice"
                    name: "Alice Smith"
                    entityType: "PERSONAL"
              BusinessRegistration:
                summary: "Register a BUSINESS account"
                value:
                  context:
                    id: "api.account.create"
                    version: "v1"
                    ts: "2025-09-08T12:01:00Z"
                    msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                    developerToken: "c2Et..."
                    authorization: "Bearer eyJ..."
                  payload:
                    address: "acmecorp"
                    name: "Acme Corporation"
                    entityType: "BUSINESS"
      responses:
        '200':
          description: "Account created. The response carries a session token, so no separate login call is needed."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_RegistrationSuccess'
              example:
                context:
                  id: "api.account.create"
                  version: "v1"
                  ts: "2025-09-08T12:00:01Z"
                  msgId: "c1b2c3d4-e5f6-7890-1234-567890abcdef"
                  status: "successful"
                response:
                  accessToken: "eyJ..."
                  tokenType: "Bearer"
                  expiresIn: 3600
        '400':
          description: "Bad request, such as a missing required field."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                MissingField:
                  summary: "Missing Required Field"
                  value:
                    context:
                      id: "api.account.create"
                      version: "v1"
                      ts: "2025-09-08T12:00:00Z"
                      msgId: "a1b2c3d4..."
                      status: "failed"
                      error:
                        code: "BAD_REQUEST"
                        message: "Field 'name' is required."
                    response: {}
        '409':
          description: "Conflict, an identifier is already in use."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
              examples:
                IdentifierTaken:
                  summary: "Address Taken"
                  value:
                    context:
                      id: "api.account.create"
                      version: "v1"
                      ts: "2025-09-08T12:00:00Z"
                      msgId: "a1b2c3d4..."
                      status: "failed"
                      error:
                        code: "IDENTIFIER_TAKEN"
                        message: "The address 'alice' is already in use."
                    response: {}

  /v1/account/update:
    post:
      tags:
        - "Account"
      summary: "Update account profile"
      description: |
        Update the profile of the signed-in user. The account is taken from the session
        token. `action` selects the step: `initiate` starts the update, the `verify_*`
        actions confirm a new contact with a one-time code, and `cancel` stops an update
        that is in progress.

        Requires a user session token in `context.authorization`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_UpdateAccountRequest'
            examples:
              Initiate:
                summary: "Start a profile update"
                value:
                  context:
                    id: "api.account.update"
                    version: "v1"
                    ts: "2025-09-09T10:00:00Z"
                    msgId: "d1e2f3a4-b5c6-7890-1234-567890abcdef"
                    developerToken: "c2Et..."
                    authorization: "Bearer <End_User_JWT_Token>"
                  payload:
                    action: "initiate"
                    data:
                      name: "Alice A. Smith"
                      email: "alice.smith@example.com"
                      mobile: "+919876543210"
              VerifyNewEmail:
                summary: "Confirm a new email with the code that was sent to it"
                value:
                  context:
                    id: "api.account.update"
                    version: "v1"
                    ts: "2025-09-09T10:02:00Z"
                    msgId: "d3e4f5a6-b7c8-9012-3456-7890abcdef12"
                    developerToken: "c2Et..."
                    authorization: "Bearer <End_User_JWT_Token>"
                  payload:
                    action: "verify_new_email"
                    data:
                      workflowId: "018f2c3d-4e5f-7890-abcd-1234567890ab"
                      recipient: "alice.smith@example.com"
                      otp: "123456"
              Cancel:
                summary: "Cancel an update that is in progress"
                value:
                  context:
                    id: "api.account.update"
                    version: "v1"
                    ts: "2025-09-09T10:05:00Z"
                    msgId: "d2e3f4a5-b6c7-8901-2345-67890abcdef1"
                    developerToken: "c2Et..."
                    authorization: "Bearer <End_User_JWT_Token>"
                  payload:
                    action: "cancel"
                    data:
                      workflowId: "018f2c3d-4e5f-7890-abcd-1234567890ab"
      responses:
        '200':
          description: "Step completed. The `response` object depends on the action."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                Cancelled:
                  summary: "action: cancel"
                  value:
                    context:
                      id: "api.account.update"
                      version: "v1"
                      ts: "2025-09-09T10:05:01Z"
                      msgId: "d2e3f4a5-b6c7-8901-2345-67890abcdef1"
                      status: "successful"
                    response:
                      workflowId: "018f2c3d-4e5f-7890-abcd-1234567890ab"
                      status: "cancelled"
        '202':
          description: "Step accepted and still in progress."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/address/checkAvailability:
    post:
      tags:
        - "Address"
      summary: "Check address availability"
      description: |
        Check whether an address is free to register. An address already registered on
        another federated instance is reported as unavailable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_AvailabilityCheckRequest'
            example:
              context:
                id: "api.address.checkAvailability"
                version: "v1"
                ts: "2025-09-08T11:00:00Z"
                msgId: "e1f2a3b4-c5d6-7890-1234-567890abcdef"
                developerToken: "c2Et..."
              payload:
                address: "newuser"
      responses:
        '200':
          description: "Availability of the address."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_AvailabilityResponse'
              example:
                context:
                  id: "api.address.checkAvailability"
                  version: "v1"
                  ts: "2025-09-08T11:00:01Z"
                  msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                  status: "successful"
                response:
                  available: true

  /v1/account/login:
    post:
      tags:
        - "Account"
      summary: "User login (OTP or SSO)"
      description: |
        Two flows:

        * **OTP**: send `username` to have a one-time code delivered, then send `username`
          and `otp` to receive a session token.
        * **SSO**: send `username` and `authToken`, a JWT signed by your own backend, to
          receive a session token without a code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_LoginRequest'
            examples:
              InitiateOTPMobile:
                summary: "OTP step 1: request a code (mobile)"
                value:
                  context:
                    id: "api.account.login"
                    version: "v1"
                    ts: "2025-09-09T09:00:00Z"
                    msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                    developerToken: "c2Et..."
                  payload:
                    username: "+919876543210"
              InitiateOTPEmail:
                summary: "OTP step 1: request a code (email)"
                value:
                  context:
                    id: "api.account.login"
                    version: "v1"
                    ts: "2025-09-09T09:00:00Z"
                    msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                    developerToken: "c2Et..."
                  payload:
                    username: "alice@example.com"
              VerifyOTP:
                summary: "OTP step 2: submit the code"
                value:
                  context:
                    id: "api.account.login"
                    version: "v1"
                    ts: "2025-09-09T09:00:30Z"
                    msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                    developerToken: "c2Et..."
                  payload:
                    username: "alice@example.com"
                    otp: "1234"
              SSOLogin:
                summary: "SSO: log in with an authToken"
                value:
                  context:
                    id: "api.account.login"
                    version: "v1"
                    ts: "2025-09-09T09:00:00Z"
                    msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef23"
                    developerToken: "c2Et..."
                  payload:
                    username: "alice@example.com"
                    authToken: "eyJhbGciOiJFZERTQSJ9..."
      responses:
        '200':
          description: |
            An acknowledgement that the code was sent (OTP step 1), or a session token.
            `isExisting` is `false` when no account exists yet for `username`, in which case
            the account must be created before the token can be used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
              examples:
                InitiateOTP_Response:
                  summary: "OTP step 1: code sent"
                  value:
                    context:
                      id: "api.account.login"
                      version: "v1"
                      ts: "2025-09-09T09:00:01Z"
                      msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                      status: "successful"
                    response:
                      success: true
                      message: "OTP sent successfully"
                VerifyOTP_Response_AccountExisits:
                  summary: "Session token for an existing account"
                  value:
                    context:
                      id: "api.account.login"
                      version: "v1"
                      ts: "2025-11-25T12:05:01Z"
                      msgId: "e1f2a3b4-c5d6-7890-1234-567890abcdef"
                      status: "successful"
                    response:
                      accessToken: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
                      tokenType: "Bearer"
                      expiresIn: 3600
                      isExisting: true
                VerifyOTP_Response_NewAccount:
                  summary: "Token for a user who has no account yet"
                  value:
                    context:
                      id: "api.account.login"
                      version: "v1"
                      ts: "2025-11-25T12:05:01Z"
                      msgId: "e1f2a3b4-c5d6-7890-1234-567890abcdef"
                      status: "successful"
                    response:
                      accessToken: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
                      tokenType: "Bearer"
                      expiresIn: 3600
                      isExisting: false
        '401':
          $ref: '#/components/responses/UnauthorizedError' # Catches both dev auth and user auth failures
        '404':
          description: "No account is registered for `username`. Returned on the OTP flow only."

  /v1/account/logout:
    post:
      tags:
        - "Account"
      summary: "User logout"
      description: "Invalidate the user's current session token. Requires a user session token in `context.authorization`."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_Empty'
            example:
              context:
                id: "api.account.logout"
                version: "v1"
                ts: "2025-09-09T10:30:00Z"
                msgId: "c1d2e3f4-a5b6-7890-1234-567890abcdef"
                developerToken: "c2Et..."
                authorization: "Bearer eyJ..."
              payload: {}
      responses:
        '200':
          description: "Session ended."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_Success'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/account/get:
    post:
      tags:
        - "Account"
      summary: "Get current account profile"
      description: "Return the profile of the signed-in user. Requires a user session token in `context.authorization`."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_Empty'
            example:
              context:
                id: "api.account.get"
                version: "v1"
                ts: "2025-09-09T09:05:00Z"
                msgId: "e1f2a3b4-c5d6-7890-1234-567890abcdef"
                developerToken: "c2Et..."
                authorization: "Bearer eyJ..."
              payload: {}
      responses:
        '200':
          description: "Account profile."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_AccountProfile'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/account/otp/generate:
    post:
      tags:
        - "Account"
      summary: "Generate an OTP for the signed-in user"
      description: |
        Send a one-time code to the signed-in user's registered email or mobile. The
        payload is empty; the recipient is resolved from the session.

        Requires a user session token in `context.authorization`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_Empty'
            example:
              context:
                id: "api.account.otp.generate"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "aa11bb22-cc33-dd44-ee55-ff6677889900"
                developerToken: "c2Et..."
                authorization: "Bearer eyJ..."
              payload: {}
      responses:
        '200':
          description: "Code sent."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_OTPGenerate'
              example:
                context:
                  id: "api.account.otp.generate"
                  version: "v1"
                  ts: "2026-04-07T10:00:01Z"
                  msgId: "aa11bb22-cc33-dd44-ee55-ff6677889900"
                  status: "successful"
                response:
                  success: true
                  message: "OTP sent successfully"
                  data:
                    status: "pending"
                    to: "alice@example.com"
                    channel: "email"
        '400':
          description: "No contact information available for the account."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/account/otp/verify:
    post:
      tags:
        - "Account"
      summary: "Verify an OTP for the signed-in user"
      description: |
        Verify a code sent to the signed-in user.

        Requires a user session token in `context.authorization`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_OTPVerifyRequest'
            example:
              context:
                id: "api.account.otp.verify"
                version: "v1"
                ts: "2026-04-07T10:01:00Z"
                msgId: "bb22cc33-dd44-ee55-ff66-778899001122"
                developerToken: "c2Et..."
                authorization: "Bearer eyJ..."
              payload:
                code: "123456"
      responses:
        '200':
          description: "Verification result."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_OTPVerify'
              example:
                context:
                  id: "api.account.otp.verify"
                  version: "v1"
                  ts: "2026-04-07T10:01:01Z"
                  msgId: "bb22cc33-dd44-ee55-ff66-778899001122"
                  status: "successful"
                response:
                  success: true
                  message: "OTP verified successfully"
                  data:
                    status: "verified"
                    valid: true
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          description: "Unauthorized, or the OTP is invalid."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/account/pii/decrypt:
    post:
      tags:
        - "Account"
      summary: "Decrypt one of the caller's own encrypted profile values"
      description: |
        Decrypt one of the encrypted values on the caller's own profile (a `pii.*_encrypted`
        value from `/v1/account/get`). A ciphertext belonging to any other account is
        refused.

        Requires a user session token in `context.authorization`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_DecryptPIIRequest'
            example:
              context:
                id: "api.account.pii.decrypt"
                version: "v1"
                ts: "2026-04-07T10:02:00Z"
                msgId: "cc33dd44-ee55-ff66-7788-990011223344"
                developerToken: "c2Et..."
                authorization: "Bearer eyJ..."
              payload:
                ciphertext: "<pii.email_encrypted value from /v1/account/get>"
      responses:
        '200':
          description: "Decrypted value."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_DecryptPII'
              example:
                context:
                  id: "api.account.pii.decrypt"
                  version: "v1"
                  ts: "2026-04-07T10:02:01Z"
                  msgId: "cc33dd44-ee55-ff66-7788-990011223344"
                  status: "successful"
                response:
                  plaintext: "alice@example.com"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  # /v1/account/lookup:
  #   post:
  #     tags:
  #       - "Account"
  #     summary: "Lookup account by PII"
  #     description: "Securely looks up an account profile using private info like email or phone. Requires Developer + User auth."
  #     security:
  #       - developerToken: []
  #       - developerSignature: []
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             $ref: '#/components/schemas/ApiRequest_LookupRequest'
  #           example:
  #             context:
  #               id: "api.account.lookup"
  #               version: "v1"
  #               ts: "2025-09-09T09:06:00Z"
  #               msgId: "e2f3a4b5-c6d7-8901-2345-67890abcdef"
  #               developerToken: "c2Et..."
  #               authorization: "Bearer eyJ..."
  #             payload:
  #               email: "bob.smith@example.com"
  #     responses:
  #       '200':
  #         description: "Account profile retrieved successfully."
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/ApiResponse_AccountProfile'
  #       '401':
  #         $ref: '#/components/responses/UnauthorizedError'
  #       '404':
  #         $ref: '#/components/responses/NotFoundError'

  /v1/address/resolve:
    post:
      tags:
        - "Address"
      summary: "Resolve an address"
      description: "Resolve an address to its DID."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_ResolveRequest'
            example:
              context:
                id: "api.address.resolve"
                version: "v1"
                ts: "2025-09-09T11:05:00Z"
                msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                developerToken: "c2Et..."
              payload:
                address: "alice"
      responses:
        '200':
          description: "Resolved address."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ResolveResponse'
              example:
                context:
                  id: "api.address.resolve"
                  version: "v1"
                  ts: "2025-09-09T11:05:01Z"
                  msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                  status: "successful"
                response:
                  address: "alice"
                  did: "did:key:z6MkpTHR8VNsBxYAAWHut2Geadd9jSwuBV8xRoAnwWsdvktH"
        '404':
          $ref: '#/components/responses/NotFoundError'

  # -------------------- Account Keys --------------------

  /v1/account/keys/register:
    post:
      tags: [Account Keys]
      summary: "Register an additional public key for the account"
      description: |
        Register a public key for the signed-in user. Supply `type` plus exactly one of
        `publicKey` or `address`.

        Requires a user session token in `context.authorization`.
      x-scopes: [keys:create]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_RegisterKeyRequest' }
            example:
              context:
                id: "api.account.keys.register"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "11111111-2222-3333-4444-555555555555"
                developerToken: "c2Et..."
                authorization: "Bearer eyJ..."
              payload:
                type: "ed25519"
                publicKey: "3f8a1c9d2b7e0f4a6c5d8e9b0a1c2d3e4f5a6b7c8d9e0f1a2b3c4d5e6f7a8b9c"
                name: "Ledger Nano"
                isPrimary: false
                isDefault: false
      responses:
        '201':
          description: "Key registered."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_AccountKeyInfo' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '409': { $ref: '#/components/responses/ConflictError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/account/keys/remove:
    post:
      tags: [Account Keys]
      summary: "Remove a public key from the account"
      description: |
        Remove one of the signed-in user's keys, identified by its `id` or `address`. The
        default key cannot be removed; make another key the default first.

        Requires a user session token in `context.authorization`.
      x-scopes: [keys:manage]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_RemoveKeyRequest' }
            example:
              context:
                id: "api.account.keys.remove"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "33333333-4444-5555-6666-777777777777"
                developerToken: "c2Et..."
                authorization: "Bearer eyJ..."
              payload:
                id: "0f8fad5b-d9cb-469f-a165-70867728950e"
      responses:
        '200':
          description: "Key removed."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_Success' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/account/keys/get:
    post:
      tags: [Account Keys]
      summary: "Get a single public key for the account"
      description: |
        Return one of the signed-in user's keys, identified by its `id` or `address`.

        Requires a user session token in `context.authorization`.
       
      x-scopes: [keys:view]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_GetKeyRequest' }
            example:
              context:
                id: "api.account.keys.get"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "44444444-5555-6666-7777-888888888888"
                developerToken: "c2Et..."
                authorization: "Bearer eyJ..."
              payload:
                id: "0f8fad5b-d9cb-469f-a165-70867728950e"
      responses:
        '200':
          description: "Key."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_AccountKeyInfo' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/account/keys/search:
    post:
      tags: [Account Keys]
      summary: "List the account's public keys"
      description: |
        List the signed-in user's keys. Optionally filter by `type` and `status`, and page
        the results with `pagination`.

        Requires a user session token in `context.authorization`.
      x-scopes: [keys:view]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_SearchKeysRequest' }
            example:
              context:
                id: "api.account.keys.search"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "22222222-3333-4444-5555-666666666666"
                developerToken: "c2Et..."
                authorization: "Bearer eyJ..."
              payload:
                type: "ed25519"
                status: "active"
                pagination: { limit: 20, offset: 0 }
      responses:
        '200':
          description: "Keys."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_AccountKeyList' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

# ===============================================================
#   COMPONENTS
# ===============================================================

components:
  # -------------------- Schemas --------------------
  schemas:
    # --- API Envelope Schemas ---
    Context:
      type: object
      required: [id, version, ts, msgId, developerToken]
      properties:
        id: { type: string, example: "api.account.create" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        developerToken: { type: string, example: "c2Et...", description: "Developer token for the calling application: base64 of `<clientId>:<clientSecret>`, as returned by `/v1/clients/register`." }
        authorization: { type: string, example: "Bearer eyJ...", nullable: true, description: "End user's session token." }
    ResponseContext:
      type: object
      required: [id, version, ts, msgId, status]
      properties:
        id: { type: string, example: "api.account.create" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        transactionId: { type: string, format: uuid, nullable: true }
        status: { type: string, enum: [successful, failed, pending] }
        error:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ErrorPayload'
    Signature:
      type: object
      required: [keyId, jws]
      properties:
        keyId: { type: string, format: uuid, example: "0f8fad5b-d9cb-469f-a165-70867728950e", description: "UUID of the registered key that produced the signature." }
        jws: { type: string, example: "eyJ...", description: "End user's JWS over the payload object." }
    ErrorPayload:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: "RESOURCE_NOT_FOUND" }
        message: { type: string }

    # --- Base Request/Response Schemas ---
    RequestContext:
      type: object
      required: [context, payload]
      properties:
        context: { $ref: '#/components/schemas/Context' }
        payload: { type: object }
        signature:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Signature'
    UserContext:
      type: object
      required: [id, version, ts, msgId, developerToken, authorization]
      properties:
        id: { type: string, example: "api.account.create" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        developerToken: { type: string, example: "c2Et...", description: "Developer token for the calling application: base64 of `<clientId>:<clientSecret>`, as returned by `/v1/clients/register`." }
        authorization: { type: string, example: "Bearer eyJ...", description: "End user's session token." }
    UserRequestContext:
      type: object
      required: [context, payload]
      properties:
        context: { $ref: '#/components/schemas/UserContext' }
        payload: { type: object }
        signature:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Signature'
    ApiResponse:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object }
    ApiError:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object, description: "Always empty on error.", example: {} }

    # --- Specific Request Envelopes ---
    ApiRequest_Empty: { allOf: [ { $ref: '#/components/schemas/UserRequestContext' }, { properties: { payload: { type: object } } } ] }
    ApiRequest_RegistrationRequest: { allOf: [ { $ref: '#/components/schemas/UserRequestContext' }, { properties: { payload: { $ref: '#/components/schemas/RegistrationRequest' } } } ] }
    ApiRequest_UpdateAccountRequest: { allOf: [ { $ref: '#/components/schemas/UserRequestContext' }, { properties: { payload: { $ref: '#/components/schemas/UpdateAccountRequest' } } } ] }
    ApiRequest_AvailabilityCheckRequest: { allOf: [ { $ref: '#/components/schemas/RequestContext' }, { properties: { payload: { $ref: '#/components/schemas/AvailabilityCheckRequest' } } } ] }
    ApiRequest_LoginRequest: { allOf: [ { $ref: '#/components/schemas/RequestContext' }, { properties: { payload: { $ref: '#/components/schemas/LoginRequest' } } } ] }
    ApiRequest_ResolveRequest: { allOf: [ { $ref: '#/components/schemas/RequestContext' }, { properties: { payload: { $ref: '#/components/schemas/ResolveRequest' } } } ] }
    ApiRequest_OTPVerifyRequest: { allOf: [ { $ref: '#/components/schemas/UserRequestContext' }, { properties: { payload: { $ref: '#/components/schemas/OTPVerifyRequest' } } } ] }
    ApiRequest_DecryptPIIRequest: { allOf: [ { $ref: '#/components/schemas/UserRequestContext' }, { properties: { payload: { $ref: '#/components/schemas/DecryptPIIRequest' } } } ] }

    # --- Specific Response Envelopes ---
    ApiResponse_RegistrationSuccess: { allOf: [ { $ref: '#/components/schemas/ApiResponse' }, { properties: { response: { $ref: '#/components/schemas/CreateAccountResponse' } } } ] }
    ApiResponse_AvailabilityResponse: { allOf: [ { $ref: '#/components/schemas/ApiResponse' }, { properties: { response: { $ref: '#/components/schemas/AvailabilityResponse' } } } ] }
    ApiResponse_AccountProfile: { allOf: [ { $ref: '#/components/schemas/ApiResponse' }, { properties: { response: { $ref: '#/components/schemas/AccountProfile' } } } ] }
    ApiResponse_ResolveResponse: { allOf: [ { $ref: '#/components/schemas/ApiResponse' }, { properties: { response: { $ref: '#/components/schemas/ResolveResponse' } } } ] }
    ApiResponse_OTPGenerate: { allOf: [ { $ref: '#/components/schemas/ApiResponse' }, { properties: { response: { $ref: '#/components/schemas/OTPGenerateResponse' } } } ] }
    ApiResponse_OTPVerify: { allOf: [ { $ref: '#/components/schemas/ApiResponse' }, { properties: { response: { $ref: '#/components/schemas/OTPVerifyResponse' } } } ] }
    ApiResponse_DecryptPII: { allOf: [ { $ref: '#/components/schemas/ApiResponse' }, { properties: { response: { $ref: '#/components/schemas/DecryptPIIResponse' } } } ] }

    ApiResponse_Success: { allOf: [ { $ref: '#/components/schemas/ApiResponse' }, { properties: { response: { type: object, properties: { message: { type: string, example: "Signout successful" } } } } } ] }

    # --- Account Keys ---
    KeyRegistrationEntry:
      type: object
      required: [id, type, address, isPrimary, isDefault, status, createdAt, updatedAt]
      description: "A public key registered to the account."
      properties:
        id: { type: string, format: uuid }
        name: { type: string, nullable: true, description: "Label for the key." }
        type: { type: string, example: "ed25519", description: "Key algorithm." }
        publicKeyHex: { type: string, nullable: true, example: "3f8a1c9d...", description: "Hex-encoded public key. Null when only a wallet address was registered." }
        address: { type: string, example: "0xAbC1230000000000000000000000000000000000" }
        isPrimary: { type: boolean, example: true }
        isDefault: { type: boolean, example: false }
        did: { type: string, nullable: true, example: "did:key:z...", description: "Null when only a wallet address was registered." }
        status: { type: string, example: "active" }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    RegisterKeyRequest:
      type: object
      required: [type]
      additionalProperties: false
      description: |
        Supply `type` plus exactly one of `publicKey` or `address`. Use `address` for
        wallets that expose only an on-chain address, such as MetaMask.
      oneOf:
        - required: [publicKey]
        - required: [address]
      properties:
        type: { type: string, enum: [ed25519, secp256k1], example: "ed25519", description: "Key algorithm." }
        publicKey: { type: string, description: "Hex- or base58-encoded public key." }
        address: { type: string, description: "On-chain wallet address, when the public key is not available." }
        name: { type: string, description: "Label for the key." }
        isPrimary: { type: boolean }
        isDefault: { type: boolean }
    RemoveKeyRequest:
      type: object
      additionalProperties: false
      description: "Identify the key by exactly one of `id` or `address`."
      oneOf:
        - required: [id]
        - required: [address]
      properties:
        id: { type: string, format: uuid }
        address: { type: string, minLength: 1 }
    GetKeyRequest:
      type: object
      additionalProperties: false
      description: "Identify the key by exactly one of `id` or `address`."
      oneOf:
        - required: [id]
        - required: [address]
      properties:
        id: { type: string, format: uuid }
        address: { type: string, minLength: 1 }
    SearchKeysRequest:
      type: object
      additionalProperties: false
      properties:
        type: { type: string, enum: [ed25519, secp256k1], description: "Filter by key algorithm." }
        status: { type: string, description: "Filter by key status." }
        pagination:
          type: object
          properties:
            limit: { type: integer, minimum: 1, maximum: 200 }
            offset: { type: integer, minimum: 0 }
    AccountKeyList:
      type: object
      required: [keys, pagination]
      properties:
        keys:
          type: array
          items: { $ref: '#/components/schemas/KeyRegistrationEntry' }
        pagination:
          type: object
          properties:
            total: { type: integer }
            limit: { type: integer }
            offset: { type: integer }

    ApiRequest_RegisterKeyRequest: { allOf: [ { $ref: '#/components/schemas/UserRequestContext' }, { properties: { payload: { $ref: '#/components/schemas/RegisterKeyRequest' } } } ] }
    ApiRequest_RemoveKeyRequest:   { allOf: [ { $ref: '#/components/schemas/UserRequestContext' }, { properties: { payload: { $ref: '#/components/schemas/RemoveKeyRequest' } } } ] }
    ApiRequest_GetKeyRequest:      { allOf: [ { $ref: '#/components/schemas/UserRequestContext' }, { properties: { payload: { $ref: '#/components/schemas/GetKeyRequest' } } } ] }
    ApiRequest_SearchKeysRequest:  { allOf: [ { $ref: '#/components/schemas/UserRequestContext' }, { properties: { payload: { $ref: '#/components/schemas/SearchKeysRequest' } } } ] }

    ApiResponse_AccountKeyInfo: { allOf: [ { $ref: '#/components/schemas/ApiResponse' }, { properties: { response: { $ref: '#/components/schemas/KeyRegistrationEntry' } } } ] }
    ApiResponse_AccountKeyList: { allOf: [ { $ref: '#/components/schemas/ApiResponse' }, { properties: { response: { $ref: '#/components/schemas/AccountKeyList' } } } ] }

    # --- Core Data Schemas (Payloads) ---
    RegistrationRequest:
      type: object
      required: [address, name, entityType]
      description: |
        The email or mobile is taken from the token in `context.authorization`, not from
        this payload.
      properties:
        address: { type: string, example: "alice" }
        name: { type: string, example: "Alice Smith" }
        entityType: { type: string, enum: [PERSONAL, BUSINESS] }
        signedRegisterNameEnvelope: { type: string, nullable: true, description: "Optional base64-encoded envelope, signed by the user's Ed25519 key, authorising registration of the address in the federation." }
        reservationProof: { type: string, nullable: true, description: "Optional signed proof that the address was already reserved for this user." }
        homeInstance: { type: string, nullable: true, description: "Accepted for forward compatibility and currently ignored; the receiving instance is always the home instance." }
    UpdateAccountRequest:
      type: object
      required: [action, data]
      properties:
        action:
          type: string
          enum: [initiate, verify_current_ownership, verify_new_email, verify_new_mobile, cancel]
        data:
          type: object
          description: |
            Fields for the chosen action. `initiate` accepts any of `name`, `email` and
            `mobile`. The `verify_*` actions require `workflowId`, `recipient` and `otp`.
            `cancel` requires `workflowId`.
    CreateAccountResponse:
      type: object
      required: [accessToken, tokenType, expiresIn]
      description: "Session token for the new account, so no separate login call is needed."
      properties:
        accessToken: { type: string, example: "eyJ..." }
        tokenType: { type: string, example: "Bearer" }
        expiresIn: { type: integer, example: 3600 }
    AvailabilityCheckRequest:
      type: object
      required: [address]
      properties:
        address: { type: string, example: "alice" }
    ResolveRequest:
      type: object
      required: [address]
      properties:
        address: { type: string, example: "alice", description: "The address to resolve." }
    LoginRequest:
      type: object
      required: [username]
      properties:
        username: { type: string, example: "alice", description: "Finternet address, email or mobile number." }
        otp: { type: string, example: "1234", nullable: true, description: "The one-time code. OTP flow only." }
        authToken: { type: string, minLength: 1, description: "A JWT signed by your backend. Supply instead of `otp` to log in without a code." }
    AvailabilityResponse:
      type: object
      properties:
        available: { type: boolean }
    ResolveResponse:
      type: object
      properties:
        address: { type: string, example: "alice" }
        did: { type: string, example: "did:key:z..." }
    AccountProfile:
      type: object
      required: [did, address, email, name, entityType, status, vaultEntityID, createdAt]
      properties:
        did: { type: string, example: "did:key:z..." }
        address: { type: string, example: "alice" }
        email: { type: string, format: email, example: "u***@example.com" }
        name: { type: string, example: "Alice Smith" }
        phoneNumber: { type: string, example: "+9***3210", nullable: true }
        entityType: { type: string, enum: [PERSONAL, BUSINESS] }
        status: { type: string, example: "active" }
        controllers:
          type: array
          description: "DIDs of the account's key controllers."
          items: { type: string }
        vaultEntityID: { type: string }
        homeInstance: { type: string, nullable: true, description: "The federated instance the account belongs to. Empty when the account is not federated." }
        createdAt: { type: string, format: date-time }
        pii:
          type: object
          nullable: true
          description: "Masked and encrypted forms of the account's contact details. Pass an encrypted value to `/v1/account/pii/decrypt` to read it."
          properties:
            address_encrypted: { type: string }
            address_masked: { type: string }
            email_encrypted: { type: string }
            email_masked: { type: string, example: "u***@example.com" }
            mobile_encrypted: { type: string }
            mobile_masked: { type: string, example: "+9***3210" }
        consents:
          type: array
          description: "Consent status per document, so the application can prompt for outstanding Terms agreements."
          items:
            type: object
            required: [docType, currentVersion, consentRequired]
            properties:
              docType: { type: string, example: "privacy_policy" }
              currentVersion: { type: integer, example: 3 }
              acceptedVersion: { type: integer, nullable: true, example: 2 }
              consentRequired: { type: boolean, example: true }

    # --- OTP and profile values ---
    OTPVerifyRequest:
      type: object
      properties:
        code:
          type: string
          pattern: '^\d{6}$'
          example: "123456"
          description: "The 6-digit code."
    DecryptPIIRequest:
      type: object
      required: [ciphertext]
      properties:
        ciphertext:
          type: string
          minLength: 1
          description: "One of the caller's own `pii.*_encrypted` values."
    OTPGenerateResponse:
      type: object
      required: [success, message, data]
      properties:
        success: { type: boolean, example: true }
        message: { type: string, example: "OTP sent successfully" }
        data:
          type: object
          properties:
            status: { type: string, example: "pending" }
            to: { type: string, example: "alice@example.com", description: "Where the code was sent." }
            channel: { type: string, enum: [email, sms], example: "email" }
    OTPVerifyResponse:
      type: object
      required: [success, message, data]
      properties:
        success: { type: boolean, example: true }
        message: { type: string, example: "OTP verified successfully" }
        data:
          type: object
          required: [status, valid]
          properties:
            status: { type: string, example: "verified" }
            valid: { type: boolean, example: true }
            jwt:
              nullable: true
              allOf:
                - $ref: '#/components/schemas/OTPJWTData'
    OTPJWTData:
      type: object
      properties:
        token: { type: string, example: "eyJ..." }
        expiresIn: { type: integer, example: 3600 }
        tokenType: { type: string, example: "Bearer" }
        issuer: { type: string, example: "otp-service" }
    DecryptPIIResponse:
      type: object
      required: [plaintext]
      properties:
        plaintext: { type: string, example: "alice@example.com", description: "The decrypted value." }

  # -------------------- Responses --------------------
  responses:
    UnauthorizedError:
      description: "Authentication failed. Can be invalid Developer Token OR invalid User JWT."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", transactionId: "...", status: "failed", error: { code: "UNAUTHORIZED", message: "Token invalid or expired." } }
            response: {}
    UnauthorizedDeveloperError:
      description: "Developer authentication failed (HTTP 401)."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", transactionId: "...", status: "failed", error: { code: "UNAUTHORIZED", message: "Invalid developer token." } }
            response: {}
    ForbiddenError:
      description: "Forbidden. Insufficient permissions."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", transactionId: "...", status: "failed", error: { code: "FORBIDDEN", message: "Insufficient permissions to perform this action." } }
            response: {}
    NotFoundError:
      description: "Resource not found."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", transactionId: "...", status: "failed", error: { code: "RESOURCE_NOT_FOUND", message: "The requested resource was not found." } }
            response: {}
    BadRequestError:
      description: "Invalid request."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", transactionId: "...", status: "failed", error: { code: "INVALID_INPUT", message: "Invalid request parameters." } }
            response: {}
    ConflictError:
      description: "Conflict with existing resource."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", transactionId: "...", status: "failed", error: { code: "CONFLICT", message: "An account with this identifier already exists." } }
            response: {}
    RateLimitedError:
      description: |
        Request exceeded the scope-tier sliding-window rate limit. The `Retry-After`
        response header indicates how long the caller should wait before retrying.
      headers:
        Retry-After:
          schema: { type: integer, description: "Seconds to wait before retrying." }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", transactionId: "...", status: "failed", error: { code: "TOO_MANY_REQUESTS", message: "Too many requests. Retry after 30s." } }
            response: {}
