openapi: 3.0.4
info:
  title: "Finternet API - API Clients and Developer Tokens"
  description: |
    API specification for API client and developer-token management in UNITS.

    An **API client** represents a developer or application that integrates with the
    Finternet platform. Each client:

    - Owns one or more **API keys** (developer tokens). Keys are hashed with SHA-256
      before storage; the plaintext is returned **once** at creation time and must be
      captured by the caller.
    - Is granted a set of **scopes** (see the RBAC vocabulary under
      `#/components/schemas/Scope`). Scopes are enforced on every endpoint; calls with
      an insufficient scope return `403 FORBIDDEN`.
    - May have `allowedOperations` restricting which operations the client can
      perform, keyed by scope.

    All endpoints follow the standard envelope (`context`/`payload` → `context`/`response`).

    ### Rate limiting

    Every request is passed through a scope-tier sliding-window rate limiter. When the
    limit is exceeded the service responds with `429 Too Many Requests` and a
    `Retry-After` header indicating when the caller may retry.

  version: "1.0.0"

servers:
  - url: "https://foundry.finternetlab.io"
    description: "Development Environment"
  - url: "http://localhost:3000"
    description: "Local Server"

tags:
  - name: "API Clients"
    description: "Register, list, update, and deactivate API clients."
  - name: "Client Keys"
    description: "Create, list, and revoke developer tokens (API keys) for a client."

paths:

  # -------------------- Client Lifecycle --------------------

  /v1/clients/register:
    post:
      tags: [API Clients]
      summary: "Register a new API client"
      description: |
        Create a new API client. Returns the client profile (without a key —
        call `/v1/clients/keys/create` to mint one).
      security:
        - developerToken: []
        - developerSignature: []
      x-scopes: [clients:create]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_RegisterClient' }
            example:
              context:
                id: "api.clients.register"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "11111111-2222-3333-4444-555555555555"
                developerToken: "fnt_..."
              payload:
                name: "Acme Wallet"
                description: "Production wallet integration for Acme Corp"
                scopes: ["tokens:view", "tokens:create", "tokens:transact", "accounts:view"]
                allowedOperations:
                  "tokens:transact":
                    "payload.operation": ["transfer", "burn"]
      responses:
        '201':
          description: "Client registered."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ClientProfile' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/get:
    post:
      tags: [API Clients]
      summary: "Get a single API client by ID"
      security:
        - developerToken: []
        - developerSignature: []
      x-scopes: [clients:view]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_GetClient' }
      responses:
        '200':
          description: "Client profile."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ClientProfile' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/list:
    post:
      tags: [API Clients]
      summary: "List API clients (scoped to the caller's account)"
      security:
        - developerToken: []
        - developerSignature: []
      x-scopes: [clients:view]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_ListClients' }
      responses:
        '200':
          description: "Client list."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ClientList' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/update:
    post:
      tags: [API Clients]
      summary: "Update an API client (name, description, scopes)"
      description: |
        Covers the previous `update-scopes` operation — any subset of fields may be
        supplied in `payload`. Absent fields are left unchanged.
      security:
        - developerToken: []
        - developerSignature: []
      x-scopes: [clients:manage]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_UpdateClient' }
      responses:
        '200':
          description: "Updated client profile."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ClientProfile' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/deactivate:
    post:
      tags: [API Clients]
      summary: "Deactivate an API client"
      description: |
        Deactivating a client immediately invalidates every key it owns. Part of the
        client lifecycle; requires the same scope as `register` by design.
      security:
        - developerToken: []
        - developerSignature: []
      x-scopes: [clients:create]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_DeactivateClient' }
      responses:
        '200':
          description: "Client deactivated."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ClientProfile' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  # -------------------- Key Lifecycle --------------------

  /v1/clients/keys/create:
    post:
      tags: [Client Keys]
      summary: "Create (mint) a new developer token for a client"
      description: |
        Returns the plaintext key **once**. The server stores only a SHA-256 hash —
        lost keys cannot be recovered and must be rotated.
      security:
        - developerToken: []
        - developerSignature: []
      x-scopes: [keys:create]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_CreateKey' }
            example:
              context:
                id: "api.clients.keys.create"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "22222222-3333-4444-5555-666666666666"
                developerToken: "fnt_..."
              payload:
                clientId: "c1a0f00d-aaaa-bbbb-cccc-000000000001"
                name: "Production — Acme Wallet, primary"
                expiresInDays: 365
      responses:
        '201':
          description: "Key created. `key` is returned **only on this response**."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_CreateKey' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/keys/list:
    post:
      tags: [Client Keys]
      summary: "List keys for a client"
      security:
        - developerToken: []
        - developerSignature: []
      x-scopes: [keys:view]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_ListKeys' }
      responses:
        '200':
          description: "Key list (metadata only — plaintext keys are never returned)."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_KeyList' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/keys/revoke:
    post:
      tags: [Client Keys]
      summary: "Revoke a developer token"
      security:
        - developerToken: []
        - developerSignature: []
      x-scopes: [keys:manage]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_RevokeKey' }
      responses:
        '200':
          description: "Key revoked."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_KeyInfo' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

# ===============================================================
#   COMPONENTS
# ===============================================================
components:

  # -------------------- Envelope --------------------
  schemas:

    Context:
      type: object
      required: [id, version, ts, msgId]
      properties:
        id: { type: string, example: "api.clients.register" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        developerToken: { type: string, description: "Caller's developer token (API key)." }
        developerSignature: { type: string, description: "Optional HTTP Signature." }

    ResponseContext:
      allOf:
        - $ref: '#/components/schemas/Context'
        - properties:
            status: { type: string, enum: [successful, failed] }
            error:
              type: object
              properties:
                code: { type: string }
                message: { type: string }

    RequestContext:
      type: object
      required: [context, payload]
      properties:
        context: { $ref: '#/components/schemas/Context' }
        payload: { type: object }

    ApiResponse:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object }

    ApiError:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object, example: {} }

    # -------------------- Scope vocabulary --------------------

    Scope:
      type: string
      description: |
        RBAC scope. Each scope is `<resource>:<action>`; `*` is a wildcard that matches
        any value. Examples: `tokens:view`, `tokens:*`, `*` (superuser).

        The 13-resource × 3-action vocabulary ships in release 2026.04.07:

        | Resource            | Actions                    |
        |---------------------|----------------------------|
        | accounts            | view / create / manage     |
        | tokens              | view / create / transact / manage |
        | tokenClasses        | view / create / manage     |
        | delegations         | view                       |
        | registry-chains     | view / create / manage     |
        | registry-wallets    | view / create / manage     |
        | registry-adapters   | view / create / manage     |
        | registry-programs   | view / create / manage     |
        | clients             | view / create / manage     |
        | keys                | view / create / manage     |
        | workflows           | view / create / manage     |
        | internal            | view / create / manage     |

        Wildcards: `tokens:*`, `accounts:*`, `*` — matched with priority
        (exact > prefix wildcard > suffix wildcard > full wildcard).
      enum:
        - "accounts:view"
        - "accounts:create"
        - "accounts:manage"
        - "tokens:view"
        - "tokens:create"
        - "tokens:transact"
        - "tokens:manage"
        - "tokens:*"
        - "tokenClasses:view"
        - "tokenClasses:create"
        - "tokenClasses:manage"
        - "delegations:view"
        - "registry-chains:view"
        - "registry-chains:create"
        - "registry-chains:manage"
        - "registry-wallets:view"
        - "registry-wallets:create"
        - "registry-wallets:manage"
        - "registry-adapters:view"
        - "registry-adapters:create"
        - "registry-adapters:manage"
        - "registry-programs:view"
        - "registry-programs:create"
        - "registry-programs:manage"
        - "clients:view"
        - "clients:create"
        - "clients:manage"
        - "keys:view"
        - "keys:create"
        - "keys:manage"
        - "workflows:view"
        - "workflows:create"
        - "workflows:manage"
        - "internal:view"
        - "internal:create"
        - "internal:manage"
        - "*"

    # -------------------- Client --------------------

    ClientStatus:
      type: string
      description: "Client lifecycle status as reported by the registry (e.g. `active`)."

    ScopeEntry:
      type: object
      required: [scope, status]
      description: |
        A single scope grant with approval-workflow bookkeeping. `active` entries
        behave as a plain granted scope; `pending`/`rejected` entries carry request
        metadata. Field names are snake_case as serialized by the service.
      properties:
        scope: { type: string }
        status: { type: string, enum: [active, pending, rejected] }
        requested_by: { type: string, nullable: true }
        requested_by_name: { type: string, nullable: true }
        requested_at: { type: string, format: date-time, nullable: true }
        approved_by: { type: string, nullable: true }
        approved_by_name: { type: string, nullable: true }
        approved_at: { type: string, format: date-time, nullable: true }
        rejected_by: { type: string, nullable: true }
        rejected_by_name: { type: string, nullable: true }
        rejected_at: { type: string, format: date-time, nullable: true }
        reason: { type: string, nullable: true }
        workflow_id: { type: string, nullable: true }
        expires_at: { type: string, format: date-time, nullable: true }

    ClientProfile:
      type: object
      required: [id, name, scopes, status, isSuperAdmin, createdAt, updatedAt]
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: "Acme Wallet" }
        description: { type: string, nullable: true }
        scopes:
          type: array
          items: { $ref: '#/components/schemas/ScopeEntry' }
          description: "Scopes granted to this client, each with approval-workflow status."
        allowedOperations:
          type: object
          nullable: true
          description: "Per-client operation restrictions. Structure is service-defined."
          additionalProperties:
            type: array
            items: { type: string }
        identities:
          description: "Free-form identity metadata associated with the client (structure is service-defined)."
        status: { $ref: '#/components/schemas/ClientStatus' }
        isSuperAdmin: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    ClientList:
      type: object
      required: [clients]
      properties:
        clients:
          type: array
          items: { $ref: '#/components/schemas/ClientProfile' }

    RegisterClientRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 255 }
        description: { type: string, maxLength: 1000 }
        scopes:
          type: array
          items: { $ref: '#/components/schemas/Scope' }
          description: "Scopes to assign to the client."
        allowedOperations:
          type: object
          description: |
            Per-scope operation restrictions. Outer key is a scope (e.g. `tokens:transact`);
            inner key is a dot-path into the request body; value is the list of permitted
            stringified scalars at that path. Unlisted scopes are unrestricted.
          additionalProperties:
            type: object
            additionalProperties:
              type: array
              items: { type: string }

    GetClientRequest:
      type: object
      required: [clientId]
      properties:
        clientId: { type: string, format: uuid }

    ListClientsRequest:
      type: object
      description: "No parameters — the list is scoped to the caller's account."
      properties: {}

    UpdateClientRequest:
      type: object
      required: [clientId]
      description: |
        Partial update. Supplying `scopes` replaces the full scope set (replace
        semantics): scopes absent from the array are dropped, scopes present are
        added / preserved / re-requested. Omit `scopes` to leave them untouched.
      properties:
        clientId: { type: string, format: uuid }
        name: { type: string, minLength: 1, maxLength: 255 }
        description: { type: string, maxLength: 1000 }
        scopes:
          type: array
          items: { $ref: '#/components/schemas/Scope' }
          description: "Complete desired scope set (replace semantics)."

    DeactivateClientRequest:
      type: object
      required: [clientId]
      properties:
        clientId: { type: string, format: uuid }

    # -------------------- Keys --------------------

    KeyStatus:
      type: string
      description: "Key lifecycle status as reported by the registry (e.g. `active`, `revoked`)."

    KeyInfo:
      type: object
      required: [id, status]
      description: "Key metadata. Plaintext is returned only at creation time."
      properties:
        id: { type: string, format: uuid }
        name: { type: string, description: "Human-readable name for the key." }
        status: { $ref: '#/components/schemas/KeyStatus' }
        identities:
          description: "Free-form identity metadata associated with the key (structure is service-defined)."
        expiresAt: { type: string, format: date-time, nullable: true }
        lastUsedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time, nullable: true }

    CreateKeyRequest:
      type: object
      required: [clientId, name]
      properties:
        clientId: { type: string, format: uuid }
        name: { type: string, minLength: 1, maxLength: 255, description: "Name for the API key." }
        expiresInDays:
          type: integer
          minimum: 1
          maximum: 365
          description: "Number of days until the key expires (default: 90)."

    CreateKeyResponse:
      type: object
      required: [key, keyInfo]
      properties:
        key:
          type: string
          description: |
            Plaintext developer token. Returned **only on creation**. The server stores a
            SHA-256 hash; the plaintext is unrecoverable.
          example: "fnt_AbCdEf..."
        keyInfo: { $ref: '#/components/schemas/KeyInfo' }

    ListKeysRequest:
      type: object
      required: [clientId]
      properties:
        clientId: { type: string, format: uuid }

    KeyList:
      type: object
      required: [keys]
      properties:
        keys:
          type: array
          items: { $ref: '#/components/schemas/KeyInfo' }

    RevokeKeyRequest:
      type: object
      required: [keyId]
      properties:
        keyId: { type: string, format: uuid }

    # -------------------- Envelopes --------------------

    ApiRequest_RegisterClient:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties: { payload: { $ref: '#/components/schemas/RegisterClientRequest' } }
    ApiRequest_GetClient:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties: { payload: { $ref: '#/components/schemas/GetClientRequest' } }
    ApiRequest_ListClients:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties: { payload: { $ref: '#/components/schemas/ListClientsRequest' } }
    ApiRequest_UpdateClient:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties: { payload: { $ref: '#/components/schemas/UpdateClientRequest' } }
    ApiRequest_DeactivateClient:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties: { payload: { $ref: '#/components/schemas/DeactivateClientRequest' } }
    ApiRequest_CreateKey:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties: { payload: { $ref: '#/components/schemas/CreateKeyRequest' } }
    ApiRequest_ListKeys:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties: { payload: { $ref: '#/components/schemas/ListKeysRequest' } }
    ApiRequest_RevokeKey:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties: { payload: { $ref: '#/components/schemas/RevokeKeyRequest' } }

    ApiResponse_ClientProfile:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/ClientProfile' } }
    ApiResponse_ClientList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/ClientList' } }
    ApiResponse_CreateKey:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/CreateKeyResponse' } }
    ApiResponse_KeyInfo:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/KeyInfo' } }
    ApiResponse_KeyList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/KeyList' } }

  # -------------------- Responses --------------------

  responses:
    UnauthorizedError:
      description: "Authentication failed."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "UNAUTHORIZED", message: "Token invalid or expired." } }
            response: {}
    ForbiddenError:
      description: "Scope check failed — the caller's developer token does not carry a scope required by this endpoint."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "FORBIDDEN", message: "Missing required scope: clients:create" } }
            response: {}
    NotFoundError:
      description: "Resource not found."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "RESOURCE_NOT_FOUND", message: "Client not found." } }
            response: {}
    BadRequestError:
      description: "Invalid request."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "INVALID_INPUT", message: "Invalid request parameters." } }
            response: {}
    RateLimitedError:
      description: |
        Request exceeded the scope-tier sliding-window rate limit. The `Retry-After`
        response header indicates how long the caller should wait before retrying.
      headers:
        Retry-After:
          schema: { type: integer, description: "Seconds to wait before retrying." }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "TOO_MANY_REQUESTS", message: "Too many requests. Retry after 30s." } }
            response: {}

  # -------------------- Security --------------------

  securitySchemes:
    developerToken:
      type: http
      scheme: bearer
      bearerFormat: "JWT or Opaque"
      description: "Developer API Key/Token in Authorization header."
    developerSignature:
      type: apiKey
      in: header
      name: Signature
      description: "IETF HTTP Signature (RFC 9421) for message integrity."
