openapi: 3.0.4
info:
  title: "Finternet API - API Clients and Developer Tokens"
  description: |
    API specification for API client and developer-token management in UNITS.

    An **API client** represents a developer or application that integrates with the
    Finternet platform. Each client:

    - Is backed by a Keycloak client. Registration returns the `clientSecret` and an
      initial `developerToken` **once**. The plaintext secret is not recoverable and
      must be captured by the caller. Use `/v1/clients/rotate-secret` to roll it.
    - Is granted a set of **scopes** (see the RBAC vocabulary under
      `#/components/schemas/Scope`). Scopes are enforced on every endpoint; calls with
      an insufficient scope return `403 FORBIDDEN`. Scopes are managed via
      `/v1/clients/scopes/update`.
    - May have `allowedOperations` restricting which operations the client can
      perform, keyed by scope.

    All endpoints follow the standard envelope (`context`/`payload` → `context`/`response`).

    ### Authentication

    * `context.developerToken`: the developer token of the calling application. Required on
      every endpoint.
    * `context.authorization`: the end user's session token. Required on the endpoints that
      act on a signed-in user; each operation states when it is needed.

    ### Rate limiting

    Every request is passed through a scope-tier sliding-window rate limiter. When the
    limit is exceeded the service responds with `429 Too Many Requests` and a
    `Retry-After` header indicating when the caller may retry.

  version: "1.0.0"

servers:
  - url: "https://foundry.finternetlab.io"
    description: "Development Environment"
  - url: "http://localhost:3000"
    description: "Local Server"

tags:
  - name: "API Clients"
    description: "Register, list, update, deactivate, reactivate, rotate the secret of, and manage scopes for API clients."

paths:

  # -------------------- Client Lifecycle --------------------

  /v1/clients/register:
    post:
      tags: [API Clients]
      summary: "Register a new API client"
      description: |
        Create a new API client backed by a Keycloak client. Returns the
        `clientSecret` and an initial `developerToken` **once**. Capture them now;
        the plaintext secret cannot be recovered.

        Requires a user session token in `context.authorization`.
      x-scopes: [clients:create]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_RegisterClient' }
            example:
              context:
                id: "api.clients.register"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "11111111-2222-3333-4444-555555555555"
                developerToken: "c2Et..."
              payload:
                name: "Acme Wallet"
                description: "Production wallet integration for Acme Corp"
                scopes: ["tokens:view", "tokens:create", "tokens:transact", "accounts:view"]
                allowedOperations:
                  "tokens:transact":
                    "payload.operation": ["transfer", "burn"]
                identities:
                  - type: "email"
                    address: "dev@acme.example"
      responses:
        '201':
          description: "Client registered. `clientSecret` and `developerToken` are returned **only on this response**."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_RegisterClient' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/get:
    post:
      tags: [API Clients]
      summary: "Get a single API client by ID"
      description: "Requires a user session token in `context.authorization`."
      x-scopes: [clients:view]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_GetClient' }
      responses:
        '200':
          description: "Client profile."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ClientProfile' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/list:
    post:
      tags: [API Clients]
      summary: "List API clients (scoped to the caller's account)"
      description: "Requires a user session token in `context.authorization`."
      x-scopes: [clients:view]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_ListClients' }
      responses:
        '200':
          description: "Client list."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ListClients' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/update:
    post:
      tags: [API Clients]
      summary: "Update an API client (name, description)"
      description: |
        Partial update of client metadata. Any subset of `name` / `description` may be
        supplied in `payload`; absent fields are left unchanged. Scopes are managed
        separately via `/v1/clients/scopes/update`.

        Requires a user session token in `context.authorization`.
      x-scopes: [clients:manage]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_UpdateClient' }
      responses:
        '200':
          description: "Updated client profile."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ClientProfile' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/scopes/update:
    post:
      tags: [API Clients]
      summary: "Update the scope set of an API client"
      description: |
        Replace the scope set granted to the client. Supplying `scopes` replaces the
        full set (replace semantics): scopes absent from the array are dropped, scopes
        present are added / preserved / re-requested.

        Requires a user session token in `context.authorization`.
      x-scopes: [clients:manage]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_UpdateClientScopes' }
      responses:
        '200':
          description: "Updated client profile."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ClientProfile' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/rotate-secret:
    post:
      tags: [API Clients]
      summary: "Rotate an API client's secret"
      description: |
        Issue a new `clientSecret` and `developerToken` for the client. The previous
        secret may remain valid for a grace period (`graceSeconds`); the effective
        cutover time is returned as `oldSecretValidUntil`. The new plaintext secret is
        returned **only on this response**.

        Requires a user session token in `context.authorization`.
      x-scopes: [clients:manage]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_RotateSecret' }
            example:
              context:
                id: "api.clients.rotate-secret"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "33333333-4444-5555-6666-777777777777"
                developerToken: "c2Et..."
              payload:
                clientId: "c1a0f00d-aaaa-bbbb-cccc-000000000001"
                graceSeconds: 3600
      responses:
        '200':
          description: "Secret rotated. `clientSecret` and `developerToken` are returned **only on this response**."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_RotateSecret' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/deactivate:
    post:
      tags: [API Clients]
      summary: "Deactivate an API client"
      description: |
        Deactivating a client immediately invalidates its credentials. Part of the
        client lifecycle; requires the same scope as `register` by design.

        Requires a user session token in `context.authorization`.
      x-scopes: [clients:create]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_DeactivateClient' }
      responses:
        '200':
          description: "Client deactivated."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ClientProfile' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/clients/reactivate:
    post:
      tags: [API Clients]
      summary: "Reactivate a deactivated API client"
      description: |
        Restore a previously deactivated client. Part of the client lifecycle.

        Requires a user session token in `context.authorization`.
      x-scopes: [clients:create]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_ReactivateClient' }
      responses:
        '200':
          description: "Client reactivated."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_ClientProfile' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '404': { $ref: '#/components/responses/NotFoundError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

# ===============================================================
#   COMPONENTS
# ===============================================================
components:

  # -------------------- Envelope --------------------
  schemas:

    Context:
      type: object
      required: [id, version, ts, msgId, developerToken]
      properties:
        id: { type: string, example: "api.clients.register" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        developerToken: { type: string, example: "c2Et...", description: "Developer token for the calling application: base64 of `<clientId>:<clientSecret>`, as returned by `/v1/clients/register`." }

    ResponseContext:
      allOf:
        - $ref: '#/components/schemas/Context'
        - properties:
            status: { type: string, enum: [successful, failed] }
            error:
              type: object
              properties:
                code: { type: string }
                message: { type: string }

    RequestContext:
      type: object
      required: [context, payload]
      properties:
        context: { $ref: '#/components/schemas/Context' }
        payload: { type: object }
    UserContext:
      type: object
      required: [id, version, ts, msgId, developerToken, authorization]
      properties:
        id: { type: string, example: "api.clients.register" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        developerToken: { type: string, example: "c2Et...", description: "Developer token for the calling application: base64 of `<clientId>:<clientSecret>`, as returned by `/v1/clients/register`." }
    UserRequestContext:
      type: object
      required: [context, payload]
      properties:
        context: { $ref: '#/components/schemas/UserContext' }
        payload: { type: object }

    ApiResponse:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object }

    ApiError:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object, example: {} }

    # -------------------- Scope vocabulary --------------------

    Scope:
      type: string
      description: |
        RBAC scope. Each scope is `<resource>:<action>`; `*` is a wildcard that matches
        any value. Examples: `tokens:view`, `tokens:*`, `*` (superuser).

        The 13-resource × 3-action vocabulary ships in release 2026.04.07:

        | Resource            | Actions                    |
        |---------------------|----------------------------|
        | accounts            | view / create / manage     |
        | tokens              | view / create / transact / manage |
        | tokenClasses        | view / create / manage     |
        | delegations         | view                       |
        | registry-chains     | view / create / manage     |
        | registry-wallets    | view / create / manage     |
        | registry-adapters   | view / create / manage     |
        | registry-programs   | view / create / manage     |
        | clients             | view / create / manage     |
        | keys                | view / create / manage     |
        | workflows           | view / create / manage     |
        | internal            | view / create / manage     |

        Wildcards: `tokens:*`, `accounts:*`, `*`, matched with priority
        (exact > prefix wildcard > suffix wildcard > full wildcard).
      enum:
        - "accounts:view"
        - "accounts:create"
        - "accounts:manage"
        - "tokens:view"
        - "tokens:create"
        - "tokens:transact"
        - "tokens:manage"
        - "tokens:*"
        - "tokenClasses:view"
        - "tokenClasses:create"
        - "tokenClasses:manage"
        - "delegations:view"
        - "registry-chains:view"
        - "registry-chains:create"
        - "registry-chains:manage"
        - "registry-wallets:view"
        - "registry-wallets:create"
        - "registry-wallets:manage"
        - "registry-adapters:view"
        - "registry-adapters:create"
        - "registry-adapters:manage"
        - "registry-programs:view"
        - "registry-programs:create"
        - "registry-programs:manage"
        - "clients:view"
        - "clients:create"
        - "clients:manage"
        - "keys:view"
        - "keys:create"
        - "keys:manage"
        - "workflows:view"
        - "workflows:create"
        - "workflows:manage"
        - "internal:view"
        - "internal:create"
        - "internal:manage"
        - "*"

    # -------------------- Client --------------------

    ClientStatus:
      type: string
      description: "Client lifecycle status as reported by the registry (e.g. `active`)."

    ScopeEntry:
      type: object
      required: [scope, status]
      description: |
        A single scope grant with approval-workflow bookkeeping. `active` entries
        behave as a plain granted scope; `pending`/`rejected` entries carry request
        metadata. Field names are snake_case as serialized by the service.
      properties:
        scope: { type: string }
        status: { type: string, enum: [active, pending, rejected] }
        requested_by: { type: string, nullable: true }
        requested_by_name: { type: string, nullable: true }
        requested_at: { type: string, format: date-time, nullable: true }
        approved_by: { type: string, nullable: true }
        approved_by_name: { type: string, nullable: true }
        approved_at: { type: string, format: date-time, nullable: true }
        rejected_by: { type: string, nullable: true }
        rejected_by_name: { type: string, nullable: true }
        rejected_at: { type: string, format: date-time, nullable: true }
        reason: { type: string, nullable: true }
        workflow_id: { type: string, nullable: true }
        expires_at: { type: string, format: date-time, nullable: true }

    RegisterIdentityRef:
      type: object
      required: [type, address]
      description: "An identity reference attached to a client at registration time."
      properties:
        type: { type: string }
        address: { type: string }

    ClientPartyRef:
      type: object
      required: [accountId]
      description: "A party (creator or owner) associated with a client."
      properties:
        accountId: { type: string, format: uuid }
        address: { type: string, nullable: true }

    ClientCreatorRef:
      type: object
      required: [address]
      description: "Minimal creator reference exposed on a client profile."
      properties:
        address: { type: string }

    ClientProfile:
      type: object
      required: [id, name, scopes, status, isSuperAdmin, keycloakClientId, createdAt, updatedAt]
      properties:
        id: { type: string, format: uuid }
        name: { type: string, example: "Acme Wallet" }
        description: { type: string, nullable: true }
        scopes:
          type: array
          items: { $ref: '#/components/schemas/ScopeEntry' }
          description: "Scopes granted to this client, each with approval-workflow status."
        allowedOperations:
          type: object
          nullable: true
          description: "Per-client operation restrictions, keyed by action. Structure is service-defined."
          additionalProperties:
            type: array
            items: { type: string }
        identities:
          description: "Free-form identity metadata associated with the client (structure is service-defined)."
        status: { $ref: '#/components/schemas/ClientStatus' }
        isSuperAdmin: { type: boolean }
        keycloakClientId: { type: string, description: "The backing Keycloak client identifier." }
        creator:
          allOf:
            - $ref: '#/components/schemas/ClientCreatorRef'
          nullable: true
          description: "The client's creator (address only)."
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    RegisterClientResponse:
      type: object
      required: [clientId, keycloakClientId, clientSecret, developerToken, name, status, creator, owner, scopes, createdAt]
      description: |
        Result of registering a client. `clientSecret` and `developerToken` are the
        plaintext credentials, returned **only on this response**.
      properties:
        clientId: { type: string, format: uuid }
        keycloakClientId: { type: string, description: "The backing Keycloak client identifier." }
        clientSecret:
          type: string
          description: "Plaintext client secret. Returned **only on creation** and unrecoverable thereafter."
        developerToken:
          type: string
          description: "Initial developer token minted for the client."
          example: "c2Et..."
        name: { type: string }
        status: { type: string }
        creator: { $ref: '#/components/schemas/ClientPartyRef' }
        owner: { $ref: '#/components/schemas/ClientPartyRef' }
        scopes:
          type: array
          items: { $ref: '#/components/schemas/ScopeEntry' }
        createdAt: { type: string, format: date-time }

    ListClientsResponse:
      type: object
      required: [clients]
      properties:
        clients:
          type: array
          items: { $ref: '#/components/schemas/ClientProfile' }

    RegisterClientRequest:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 255 }
        description: { type: string, maxLength: 1000 }
        scopes:
          type: array
          items: { $ref: '#/components/schemas/Scope' }
          description: "Scopes to assign to the client."
        allowedOperations:
          type: object
          description: |
            Per-scope operation restrictions. Outer key is a scope (e.g. `tokens:transact`);
            inner key is a dot-path into the request body; value is the list of permitted
            stringified scalars at that path. Unlisted scopes are unrestricted.
          additionalProperties:
            type: object
            additionalProperties:
              type: array
              items: { type: string }
        identities:
          type: array
          description: "Identity references to attach to the client."
          items: { $ref: '#/components/schemas/RegisterIdentityRef' }

    GetClientRequest:
      type: object
      required: [clientId]
      properties:
        clientId: { type: string, format: uuid }

    ListClientsRequest:
      type: object
      description: "No parameters. The list is scoped to the caller's account."
      properties: {}

    UpdateClientRequest:
      type: object
      required: [clientId]
      description: |
        Partial update of client metadata. Absent fields are left unchanged. Scopes are
        managed separately via `/v1/clients/scopes/update`.
      properties:
        clientId: { type: string, format: uuid }
        name: { type: string, minLength: 1, maxLength: 255 }
        description: { type: string, maxLength: 1000 }

    UpdateClientScopesRequest:
      type: object
      required: [clientId, scopes]
      description: |
        Replace the client's scope set (replace semantics). Scopes absent from the array
        are dropped; scopes present are added / preserved / re-requested.
      properties:
        clientId: { type: string, format: uuid }
        scopes:
          type: array
          items: { $ref: '#/components/schemas/Scope' }
          description: "Complete desired scope set (replace semantics)."

    DeactivateClientRequest:
      type: object
      required: [clientId]
      properties:
        clientId: { type: string, format: uuid }

    ReactivateClientRequest:
      type: object
      required: [clientId]
      properties:
        clientId: { type: string, format: uuid }

    # -------------------- Secret rotation --------------------

    RotateSecretRequest:
      type: object
      required: [clientId]
      properties:
        clientId: { type: string, format: uuid }
        graceSeconds:
          type: integer
          description: "Seconds the previous secret remains valid after rotation. Omit for an immediate cutover."

    RotateSecretResponse:
      type: object
      required: [clientId, keycloakClientId, clientSecret, developerToken, rotatedAt]
      description: |
        Result of rotating a client's secret. `clientSecret` and `developerToken` are the
        new plaintext credentials, returned **only on this response**.
      properties:
        clientId: { type: string, format: uuid }
        keycloakClientId: { type: string, description: "The backing Keycloak client identifier." }
        clientSecret:
          type: string
          description: "New plaintext client secret. Returned **only on this response** and unrecoverable thereafter."
        developerToken:
          type: string
          description: "New developer token minted for the client."
          example: "c2Et..."
        oldSecretValidUntil:
          type: string
          format: date-time
          nullable: true
          description: "Time until which the previous secret remains valid (present when `graceSeconds` was supplied)."
        rotatedAt: { type: string, format: date-time }

    # -------------------- Envelopes --------------------

    ApiRequest_RegisterClient:
      allOf:
        - $ref: '#/components/schemas/UserRequestContext'
        - properties: { payload: { $ref: '#/components/schemas/RegisterClientRequest' } }
    ApiRequest_GetClient:
      allOf:
        - $ref: '#/components/schemas/UserRequestContext'
        - properties: { payload: { $ref: '#/components/schemas/GetClientRequest' } }
    ApiRequest_ListClients:
      allOf:
        - $ref: '#/components/schemas/UserRequestContext'
        - properties: { payload: { $ref: '#/components/schemas/ListClientsRequest' } }
    ApiRequest_UpdateClient:
      allOf:
        - $ref: '#/components/schemas/UserRequestContext'
        - properties: { payload: { $ref: '#/components/schemas/UpdateClientRequest' } }
    ApiRequest_UpdateClientScopes:
      allOf:
        - $ref: '#/components/schemas/UserRequestContext'
        - properties: { payload: { $ref: '#/components/schemas/UpdateClientScopesRequest' } }
    ApiRequest_RotateSecret:
      allOf:
        - $ref: '#/components/schemas/UserRequestContext'
        - properties: { payload: { $ref: '#/components/schemas/RotateSecretRequest' } }
    ApiRequest_DeactivateClient:
      allOf:
        - $ref: '#/components/schemas/UserRequestContext'
        - properties: { payload: { $ref: '#/components/schemas/DeactivateClientRequest' } }
    ApiRequest_ReactivateClient:
      allOf:
        - $ref: '#/components/schemas/UserRequestContext'
        - properties: { payload: { $ref: '#/components/schemas/ReactivateClientRequest' } }

    ApiResponse_RegisterClient:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/RegisterClientResponse' } }
    ApiResponse_ClientProfile:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/ClientProfile' } }
    ApiResponse_ListClients:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/ListClientsResponse' } }
    ApiResponse_RotateSecret:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/RotateSecretResponse' } }

  # -------------------- Responses --------------------

  responses:
    UnauthorizedError:
      description: "Authentication failed."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "UNAUTHORIZED", message: "Token invalid or expired." } }
            response: {}
    ForbiddenError:
      description: "Scope check failed. The caller's developer token does not carry a scope required by this endpoint."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "FORBIDDEN", message: "Missing required scope: clients:create" } }
            response: {}
    NotFoundError:
      description: "Resource not found."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "RESOURCE_NOT_FOUND", message: "Client not found." } }
            response: {}
    BadRequestError:
      description: "Invalid request."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "INVALID_INPUT", message: "Invalid request parameters." } }
            response: {}
    RateLimitedError:
      description: |
        Request exceeded the scope-tier sliding-window rate limit. The `Retry-After`
        response header indicates how long the caller should wait before retrying.
      headers:
        Retry-After:
          schema: { type: integer, description: "Seconds to wait before retrying." }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "TOO_MANY_REQUESTS", message: "Too many requests. Retry after 30s." } }
            response: {}

