openapi: 3.0.4
info:
  title: "Finternet API - Delegations"
  description: |
    API specification for **delegated authorisation** in UNITS.

    A **delegation** records that one principal (the *grantor*) has granted another
    principal (the *grantee*) a labelled permission over their tokens, subject to a
    rule type and optional expiry. Delegations may also be issued as *deny* rules.

    These endpoints let the authenticated end user inspect the delegations relevant to
    them (`/list`) and resolve the effective permissions on a specific token (`/check`).

    Both endpoints authenticate the end user (user JWT) in addition to the developer
    token. All endpoints follow the standard envelope (`context`/`payload` →
    `context`/`response`) and are subject to scope-tier rate limiting.

  version: "1.0.0"

servers:
  - url: "https://foundry.finternetlab.io"
    description: "Development Environment"
  - url: "http://localhost:3000"
    description: "Local Server"

tags:
  - name: "Delegations"
    description: "List and check delegated permissions issued to or by a principal."

paths:

  /v1/delegations/list:
    post:
      tags: [Delegations]
      summary: "List delegations for the authenticated user"
      description: |
        Returns the delegations matching the supplied `filter` relative to the
        authenticated end user: those they granted, those granted to them, or those
        pending their approval.
      security:
        - developerToken: []
        - developerSignature: []
      x-scopes: [delegations:view]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_ListDelegations' }
            example:
              context:
                id: "api.delegations.list"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "11111111-2222-3333-4444-555555555555"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                filter: "granted_by_me"
      responses:
        '200':
          description: "Delegation list."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_DelegationList' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

  /v1/delegations/check:
    post:
      tags: [Delegations]
      summary: "Check the effective permissions on a specific token"
      description: |
        Resolve the *effective* permissions the authenticated user has on a specific
        token at request time. Returns, per permission level, whether it is allowed and
        where the decision came from, plus any active deny rules affecting the token.
      security:
        - developerToken: []
        - developerSignature: []
      x-scopes: [delegations:view]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ApiRequest_CheckDelegation' }
            example:
              context:
                id: "api.delegations.check"
                version: "v1"
                ts: "2026-04-07T10:00:00Z"
                msgId: "22222222-3333-4444-5555-666666666666"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                tokenId: "018f2c3d-4e5f-7890-abcd-1234567890ab"
      responses:
        '200':
          description: "Permission decision."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiResponse_DelegationCheck' }
        '400': { $ref: '#/components/responses/BadRequestError' }
        '401': { $ref: '#/components/responses/UnauthorizedError' }
        '403': { $ref: '#/components/responses/ForbiddenError' }
        '429': { $ref: '#/components/responses/RateLimitedError' }

components:
  schemas:

    # -------------------- Common envelope (Context/RequestContext/ApiResponse/ApiError) --------------------

    Context:
      type: object
      required: [id, version, ts, msgId]
      properties:
        id: { type: string, description: "Stable API identifier (e.g. `api.delegations.list`)." }
        version: { type: string, description: "API version." }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }

    RequestContext:
      type: object
      required: [context, payload]
      properties:
        context:
          allOf:
            - $ref: '#/components/schemas/Context'
            - properties:
                developerToken: { type: string, description: "Optional inline developer token; usually carried via the `Authorization` header." }
                developerSignature: { type: string, description: "Optional inline developer signature." }
                authorization: { type: string, description: "End-user session JWT. Required — both endpoints authenticate the end user (user JWT) in addition to the developer token." }

    ResponseContext:
      type: object
      required: [context]
      properties:
        context:
          allOf:
            - $ref: '#/components/schemas/Context'
            - properties:
                status: { type: string, enum: [successful, failed] }

    ApiResponse:
      allOf:
        - $ref: '#/components/schemas/ResponseContext'
        - type: object
          required: [response]
          properties:
            response: { type: object }

    ApiError:
      allOf:
        - $ref: '#/components/schemas/ResponseContext'
        - type: object
          properties:
            context:
              type: object
              properties:
                error:
                  type: object
                  required: [code, message]
                  properties:
                    code: { type: string }
                    message: { type: string }
            response: { type: object }

    # -------------------- Delegation domain --------------------

    DelegationItem:
      type: object
      required: [id, grantorAddress, granteeAddress, label, permission, ruleType, status, createdAt]
      properties:
        id: { type: string, format: uuid }
        grantorAddress: { type: string, description: "Address of the principal that granted the delegation." }
        granteeAddress: { type: string, description: "Address of the principal that received the delegation." }
        label: { type: string }
        permission: { type: string }
        ruleType: { type: string }
        status: { type: string }
        expiresAt: { type: string, format: date-time, nullable: true }
        requestedBy: { type: string, nullable: true }
        approvedAt: { type: string, format: date-time, nullable: true }
        revokedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }

    ListDelegationsResponse:
      type: object
      required: [delegations, filter, count]
      properties:
        delegations:
          type: array
          items: { $ref: '#/components/schemas/DelegationItem' }
        filter: { type: string, description: "Echoes the requested filter." }
        count: { type: integer }

    ListDelegationsRequest:
      type: object
      required: [filter]
      properties:
        filter:
          type: string
          enum: [granted_by_me, granted_to_me, pending]
          description: "Filter delegations: granted_by_me (I granted), granted_to_me (granted to me), pending (awaiting my approval)."

    CheckDelegationRequest:
      type: object
      required: [tokenId]
      properties:
        tokenId:
          type: string
          format: uuid
          description: "Token ID to check permissions for."

    PermissionDetail:
      type: object
      required: [allowed, source]
      properties:
        allowed: { type: boolean }
        source: { type: string, description: "Where the decision came from (e.g. direct grant, inherited)." }
        delegationId: { type: string, format: uuid, nullable: true }
        labelMatch: { type: string, nullable: true }

    DenyRule:
      type: object
      required: [delegationId, label, permission]
      properties:
        delegationId: { type: string, format: uuid }
        label: { type: string }
        permission: { type: string }

    PermissionCheckResponse:
      type: object
      required: [tokenId, permissions]
      properties:
        tokenId: { type: string, format: uuid }
        permissions:
          type: object
          description: "Map of permission level to its authorization state."
          additionalProperties: { $ref: '#/components/schemas/PermissionDetail' }
        denyRules:
          type: array
          description: "Active deny rules affecting the token."
          items: { $ref: '#/components/schemas/DenyRule' }

    # -------------------- Envelopes --------------------

    ApiRequest_ListDelegations:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties: { payload: { $ref: '#/components/schemas/ListDelegationsRequest' } }
    ApiRequest_CheckDelegation:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties: { payload: { $ref: '#/components/schemas/CheckDelegationRequest' } }

    ApiResponse_DelegationList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/ListDelegationsResponse' } }
    ApiResponse_DelegationCheck:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties: { response: { $ref: '#/components/schemas/PermissionCheckResponse' } }

  # -------------------- Responses --------------------

  responses:
    UnauthorizedError:
      description: "Authentication failed."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "UNAUTHORIZED", message: "Token invalid or expired." } }
            response: {}
    ForbiddenError:
      description: "Scope check failed — the caller's developer token does not carry a scope required by this endpoint."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "FORBIDDEN", message: "Missing required scope: delegations:view" } }
            response: {}
    BadRequestError:
      description: "Invalid request (e.g. missing or invalid `filter` for `list`, or missing `tokenId` for `check`)."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "INVALID_INPUT", message: "filter must be one of granted_by_me, granted_to_me, pending." } }
            response: {}
    RateLimitedError:
      description: |
        Request exceeded the scope-tier sliding-window rate limit. The `Retry-After`
        response header indicates how long the caller should wait before retrying.
      headers:
        Retry-After:
          schema: { type: integer, description: "Seconds to wait before retrying." }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "TOO_MANY_REQUESTS", message: "Too many requests. Retry after 30s." } }
            response: {}

  # -------------------- Security --------------------

  securitySchemes:
    developerToken:
      type: http
      scheme: bearer
      bearerFormat: "JWT or Opaque"
      description: "Developer API Key/Token in Authorization header."
    developerSignature:
      type: apiKey
      in: header
      name: Signature
      description: "IETF HTTP Signature (RFC 9421) for message integrity."
