openapi: 3.0.4
info:
  title: "Finternet API - Key Management Service"
  description: |
    API specification for the account's platform-managed signing key and for signing
    operations authorised by the account holder.

    Most endpoints use the standard envelope (`context`/`payload` → `context`/`response`).
    On failure `context.status` is `failed`, `context.error` carries a `code` and a
    `message`, and `response` is empty.

    > `POST /v1/account/sign` is a special case: `context` also carries the required
    > `method` and `account_did` fields, and `username`/`otp` are top level fields,
    > siblings of `context` and `payload`. See that operation for the exact shape.

    ### Authentication

    * `context.developerToken`: the calling application's developer token. Required on
      every endpoint.
    * `context.authorization`: the end user's session token. Required by
      `/v1/account/keys/create`.
    * `POST /v1/account/sign` takes no session token. The account holder authorises the
      signature in band, by confirming a one-time code sent to their registered contact.

    ### Rate limiting
    Endpoints are protected by a scope-tier sliding-window rate limiter; on breach
    the response is `429 Too Many Requests` with a `Retry-After` header.

  version: "1.0.0"
servers:
  - url: "https://foundry.finternetlab.io"
    description: "Development Environment"
  - url: "http://localhost:3000"
    description: "Local Development"
tags:
  - name: "Key Management"
    description: "Provision the account's signing key and use it to sign operations."

# ===============================================================
#   PATHS
# ===============================================================

paths:
  /v1/account/keys/create:
    post:
      tags:
        - "Key Management"
      summary: "Create the account's signing key"
      description: |
        Provision the signing key for the signed-in user's account. The payload is empty.
        The call is idempotent: an account that already has a signing key gets the existing
        key back. Requires a user session token.
      operationId: createKey
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_Empty'
            example:
              context:
                id: "api.account.keys.create"
                version: "v1"
                ts: "2026-04-07T12:00:00Z"
                msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload: {}
      responses:
        '201':
          description: "Signing key created, or returned unchanged if it already existed."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_CreateKeyResult'
              example:
                context:
                  id: "api.account.keys.create"
                  version: "v1"
                  ts: "2026-04-07T12:00:01Z"
                  msgId: "c1b2c3d4-e5f6-7890-1234-567890abcdef"
                  status: "successful"
                response:
                  keyId: "019ab8e9-0636-74fd-b5c4-192fc68b71e3"
                  publicKey: "d75a980182b10ab7d54bfed3c964073a0ee172f3daa62325af021a68f707511a"
                  did: "did:key:z6MkpTHR8VNsBxYAAWHut2Geadd9jSwuBV8xRoAnwWsdvktH"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/account/keys:
    get:
      tags:
        - "Key Management"
      summary: "List the account's keys"
      description: |
        Return the keys bound to the account. This is a read-only `GET`, so no request
        body is sent.
      operationId: listKeys
      security:
        - developerToken: []
        - developerSignature: []
      responses:
        '200':
          description: "List of the account's keys."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ListKeysResult'
              example:
                context:
                  id: "api.account.keys.list"
                  version: "v1"
                  ts: "2026-04-07T12:05:01Z"
                  msgId: "d1e2f3a4-b5c6-7890-1234-567890abcdef"
                  status: "successful"
                response:
                  keys:
                    - id: "019ab8e9-0636-74fd-b5c4-192fc68b71e3"
                      keyType: "ed25519"
                      keySource: "external"
                      publicKey: "d75a980182b10ab7d54bfed3c964073a0ee172f3daa62325af021a68f707511a"
                      did: "did:key:z6MkpTHR8VNsBxYAAWHut2Geadd9jSwuBV8xRoAnwWsdvktH"
                      status: "active"
                      createdAt: "2026-04-07T11:59:00Z"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '429':
          $ref: '#/components/responses/RateLimitedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/account/sign:
    post:
      tags:
        - "Key Management"
      summary: "Sign an operation with the account's key"
      description: |
        Sign an operation with the signing key of the account identified by
        `context.account_did`. The account holder authorises the signature by confirming a
        one-time code, so this endpoint takes no session token.

        Request shape (special):

        * `context` carries the standard fields plus the required `method` and
          `account_did`.
        * `payload` is the operation body to be signed. It must be byte identical to the
          `payload` later submitted to `POST /v1/token/transact`, because the signature is
          computed over exactly this object.
        * `username` and `otp` are top level fields, siblings of `context` and `payload`.

        Step 1, request without `otp`: a code is sent to `username`, which must be a
        contact of the account. Responds `200` with `status: otp_sent`.

        Step 2, resubmit with `otp`: the code is verified and the signed envelope is
        returned along with the `keyId` that produced the signature.
      operationId: sign
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignRequest'
            examples:
              Phase1_SendOtp:
                summary: "Step 1: omit otp to have a code sent"
                value:
                  context:
                    id: "api.account.sign"
                    version: "v1"
                    ts: "2026-04-07T12:15:00Z"
                    msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                    developerToken: "fnt_..."
                    method: "lock.request"
                    account_did: "did:key:z6MkpTHR8VNsBxYAAWHut2Geadd9jSwuBV8xRoAnwWsdvktH"
                  payload:
                    operation: "transfer"
                    tokenId: "a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    to: "bob"
                    value: "100000000"
                  username: "alice@example.com"
              Phase2_CompleteSigning:
                summary: "Step 2: resubmit with the code to sign"
                value:
                  context:
                    id: "api.account.sign"
                    version: "v1"
                    ts: "2026-04-07T12:15:30Z"
                    msgId: "a2b3c4d5-e6f7-8901-2345-67890abcdef1"
                    developerToken: "fnt_..."
                    method: "lock.request"
                    account_did: "did:key:z6MkpTHR8VNsBxYAAWHut2Geadd9jSwuBV8xRoAnwWsdvktH"
                  payload:
                    operation: "transfer"
                    tokenId: "a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    to: "bob"
                    value: "100000000"
                  username: "alice@example.com"
                  otp: "123456"
      responses:
        '200':
          description: "Acknowledgement that the code was sent (step 1), or the signed envelope (step 2)."
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ApiResponse_SignOtpSent'
                  - $ref: '#/components/schemas/ApiResponse_SignEnvelope'
              examples:
                Phase1_OtpSent:
                  summary: "Step 1 response"
                  value:
                    context:
                      id: "api.account.sign"
                      version: "v1"
                      ts: "2026-04-07T12:15:01Z"
                      msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                      status: "successful"
                    response:
                      status: "otp_sent"
                      message: "OTP sent. Resubmit with the otp field to complete signing."
                Phase2_Signed:
                  summary: "Step 2 response"
                  value:
                    context:
                      id: "api.account.sign"
                      version: "v1"
                      ts: "2026-04-07T12:15:31Z"
                      msgId: "a2b3c4d5-e6f7-8901-2345-67890abcdef1"
                      status: "successful"
                    response:
                      envelope:
                        context:
                          ulip_version: "v1"
                          method: "lock.request"
                          txn_id: "b7f1c2d3-4e5f-6789-0123-456789abcdef"
                          op_seq: 0
                          caller_instance: ""
                          callee_instance: ""
                          sent_at: "2026-04-07T12:15:31Z"
                        payload:
                          type_url: ""
                          value:
                            operation: "transfer"
                            tokenId: "a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                            to: "bob"
                            value: "100000000"
                        signature:
                          signer_instance: "019ab8e9-0636-74fd-b5c4-192fc68b71e3"
                          algorithm: "ed25519"
                          signature: "3045022100abcdef..."
                      keyId: "019ab8e9-0636-74fd-b5c4-192fc68b71e3"
                      method: "lock.request"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          description: |
            OTP contact does not match the account, proof failed, or OTP invalid
            (also returned for developer-token auth failure).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }
              example:
                context:
                  id: "api.account.sign"
                  version: "v1"
                  ts: "2026-04-07T12:15:30Z"
                  msgId: "a2b3c4d5-e6f7-8901-2345-67890abcdef1"
                  status: "failed"
                  error:
                    code: "UNAUTHORIZED"
                    message: "OTP invalid"
                response: {}
        '429':
          $ref: '#/components/responses/RateLimitedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

# ===============================================================
#   COMPONENTS
# ===============================================================

components:
  # -------------------- Schemas --------------------
  schemas:
    # --- API Envelope Schemas ---
    Context:
      type: object
      required: [id, version, ts, msgId]
      properties:
        id: { type: string, example: "api.account.keys.create" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        transactionId: { type: string, format: uuid, nullable: true }
        developerToken: { type: string, example: "fnt_...", nullable: true, description: "The calling application's developer token." }
        developerSignature: { type: string, example: "t=...,v1=...", nullable: true, description: "Signature over the request (RFC 9421)." }
        authorization: { type: string, example: "Bearer eyJ...", nullable: true, description: "End user's session token." }

    ResponseContext:
      type: object
      required: [id, version, ts, msgId, status]
      properties:
        id: { type: string, example: "api.account.keys.create" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        transactionId: { type: string, format: uuid, nullable: true }
        status: { type: string, enum: [successful, failed, pending] }
        error:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/ErrorPayload'

    Signature:
      type: object
      required: [keyId, jws]
      properties:
        keyId: { type: string, format: uuid, example: "0f8fad5b-d9cb-469f-a165-70867728950e", description: "UUID of the registered key that produced the signature." }
        jws: { type: string, example: "eyJ...", description: "End user's JWS over the payload object." }

    ErrorPayload:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: "INVALID_INPUT" }
        message: { type: string }

    # --- Base Request/Response Schemas ---
    RequestContext:
      type: object
      required: [context, payload]
      properties:
        context: { $ref: '#/components/schemas/Context' }
        payload: { type: object }
        signature:
          nullable: true
          allOf:
            - $ref: '#/components/schemas/Signature'

    ApiResponse:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object }

    ApiError:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object, description: "Always empty on error.", example: {} }

    # --- Specific Request Envelopes ---
    ApiRequest_Empty: { allOf: [ { $ref: '#/components/schemas/RequestContext' }, { properties: { payload: { type: object } } } ] }

    # The /v1/account/sign body is intentionally NOT built on RequestContext:
    # context carries extra routing fields and username/otp are top-level.
    SignContext:
      type: object
      required: [method, account_did]
      description: "The standard context plus the required `method` and `account_did`. Only those two are enforced on this endpoint."
      properties:
        id: { type: string, example: "api.account.sign" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        developerToken: { type: string, example: "fnt_...", nullable: true }
        developerSignature: { type: string, nullable: true }
        method:
          type: string
          example: "lock.request"
          description: "The operation being signed. Becomes `context.method` in the signed envelope."
        account_did:
          type: string
          example: "did:key:z6MkpTHR8VNsBxYAAWHut2Geadd9jSwuBV8xRoAnwWsdvktH"
          description: "DID of the account whose key produces the signature."
    SignRequest:
      type: object
      required: [context, payload, username]
      properties:
        context: { $ref: '#/components/schemas/SignContext' }
        payload:
          type: object
          description: "The operation body to be signed."
        username:
          type: string
          example: "alice@example.com"
          description: "Contact of the account (email, or mobile in E.164 format) that receives the code. Top level field, not part of `payload`."
        otp:
          type: string
          nullable: true
          example: "123456"
          description: "Omit on step 1; supply on step 2 to complete signing. Top level field, not part of `payload`."

    # --- Specific Response Envelopes ---
    ApiResponse_CreateKeyResult:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/CreateKeyResult' }

    ApiResponse_ListKeysResult:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/ListKeysResult' }

    ApiResponse_SignOtpSent:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/SignOtpSentResponse' }

    ApiResponse_SignEnvelope:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/SignEnvelopeResponse' }

    # --- Core Data Schemas (Payloads) ---
    CreateKeyResult:
      type: object
      required: [keyId, publicKey, did]
      properties:
        keyId:
          type: string
          description: "Identifier of the signing key."
          example: "019ab8e9-0636-74fd-b5c4-192fc68b71e3"
        publicKey:
          type: string
          description: "Hex-encoded Ed25519 public key."
          example: "d75a980182b10ab7d54bfed3c964073a0ee172f3daa62325af021a68f707511a"
        did:
          type: string
          description: "did:key derived from the public key."
          example: "did:key:z6MkpTHR8VNsBxYAAWHut2Geadd9jSwuBV8xRoAnwWsdvktH"

    KeyInfo:
      type: object
      required: [id, keyType, keySource, publicKey, did, status, createdAt]
      properties:
        id: { type: string, format: uuid }
        keyType: { type: string, example: "ed25519" }
        keySource: { type: string, example: "external", description: "How the key is held." }
        publicKey: { type: string, description: "Hex-encoded public key." }
        did: { type: string, description: "did:key derived from the public key (empty if the key is malformed)." }
        status: { type: string, example: "active" }
        createdAt: { type: string, format: date-time }

    ListKeysResult:
      type: object
      required: [keys]
      properties:
        keys:
          type: array
          items: { $ref: '#/components/schemas/KeyInfo' }

    SignOtpSentResponse:
      type: object
      required: [status, message]
      properties:
        status: { type: string, enum: [otp_sent], example: "otp_sent" }
        message: { type: string, example: "OTP sent. Resubmit with the otp field to complete signing." }

    SignEnvelopeResponse:
      type: object
      required: [envelope, keyId, method]
      properties:
        envelope: { $ref: '#/components/schemas/SignedEnvelope' }
        keyId:
          type: string
          format: uuid
          description: "Identifier of the key that produced the signature."
          example: "019ab8e9-0636-74fd-b5c4-192fc68b71e3"
        method: { type: string, example: "lock.request" }

    SignedEnvelope:
      type: object
      required: [context, payload, signature]
      properties:
        context: { $ref: '#/components/schemas/UlipContext' }
        payload: { $ref: '#/components/schemas/UlipPayload' }
        signature: { $ref: '#/components/schemas/UlipSignature' }

    UlipContext:
      type: object
      description: "Envelope metadata."
      properties:
        ulip_version: { type: string, example: "v1" }
        method: { type: string, example: "lock.request" }
        txn_id: { type: string, example: "b7f1c2d3-4e5f-6789-0123-456789abcdef" }
        op_seq: { type: integer, format: int32, example: 0 }
        caller_instance: { type: string }
        callee_instance: { type: string }
        sent_at: { type: string, format: date-time }
        trace_id: { type: string, nullable: true }
        in_response_to: { type: string, nullable: true }
        extensions:
          type: object
          nullable: true
          additionalProperties: { type: string }

    UlipPayload:
      type: object
      description: "The signed operation body."
      properties:
        type_url: { type: string, example: "" }
        value:
          type: object
          description: "The signed body, as submitted in the request `payload`."

    UlipSignature:
      type: object
      properties:
        signer_instance: { type: string }
        key_name: { type: string, description: "Name of the key that produced the signature." }
        algorithm: { type: string, example: "ed25519" }
        signature: { type: string, description: "Signature bytes, base64-encoded on the wire." }

  # -------------------- Responses --------------------
  responses:
    UnauthorizedError:
      description: "Authentication failed. The developer token is missing, invalid, or expired."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context:
              id: "api.account.keys.create"
              version: "v1"
              ts: "2026-04-07T12:00:00Z"
              msgId: "..."
              status: "failed"
              error:
                code: "UNAUTHORIZED"
                message: "invalid developer token"
            response: {}

    BadRequestError:
      description: "Invalid request."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context:
              id: "api.account.sign"
              version: "v1"
              ts: "2026-04-07T12:15:00Z"
              msgId: "..."
              status: "failed"
              error:
                code: "INVALID_INPUT"
                message: "context.account_did is required"
            response: {}

    RateLimitedError:
      description: |
        Request exceeded the scope-tier sliding-window rate limit. The `Retry-After`
        response header indicates how long the caller should wait before retrying.
      headers:
        Retry-After:
          schema: { type: integer, description: "Seconds to wait before retrying." }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "TOO_MANY_REQUESTS", message: "Too many requests. Retry after 30s." } }
            response: {}

    InternalServerError:
      description: "Internal server error."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context:
              id: "api.account.keys.create"
              version: "v1"
              ts: "2026-04-07T12:00:00Z"
              msgId: "..."
              status: "failed"
              error:
                code: "INTERNAL_ERROR"
                message: "An unexpected error occurred"
            response: {}

  # -------------------- Security --------------------
  securitySchemes:
    developerToken:
      type: http
      scheme: bearer
      bearerFormat: "JWT or Opaque"
      description: "Token identifying the calling application, sent as `context.developerToken`."

    developerSignature:
      type: apiKey
      in: header
      name: Signature
      description: |
        Optional request signature (RFC 9421) for message integrity and non-repudiation,
        sent in the `Signature` header.
