openapi: 3.0.4
info:
  title: "Finternet API - Registry Service"
  description: |
    API specification for the Finternet Registry service — chain and wallet provider registries.

    These registries are centrally managed by UNITS and consumed by App Backends.
    Token class registry endpoints are defined in `token-interfaces.yaml` under `/v1/registry/tokenclasses/*`.

    ### Protocol-Agnostic Envelope
    All API interactions use a standard JSON envelope.

    **Request Envelope:**
    ```json
    {
      "context": { ... },
      "payload": { ... },
      "signature": { ... } // Optional
    }
    ```

    **Response Envelope (Success):**
    ```json
    {
      "context": { ..., "status": "successful" },
      "response": { ... }
    }
    ```

    **Response Envelope (Error):**
    ```json
    {
      "context": { ..., "status": "failed", "error": {"code": "...", "message": "..." }},
      "response": {} // Empty on error
    }
    ```

    ### Authentication and Authorization
    This API uses the same two-level authorization model as the other UNITS services:

    1.  **Platform-Level (Developer) Authentication:**
        * `context.developerToken`: The B2B Developer's API Key/Token.
        * `context.developerSignature`: The B2B Developer's signature.

    2.  **Admin-Level Authorization:**
        * Write operations (register, update) require admin privileges.
        * Read operations (get, search) require developer authentication only.

    ### RBAC Scopes

    | Endpoint | Required scope |
    |----------|----------------|
    | `POST /v1/registry/chains/register` | `registry-chains:create` |
    | `POST /v1/registry/chains/update` | `registry-chains:manage` |
    | `POST /v1/registry/chains/get` | `registry-chains:view` |
    | `POST /v1/registry/chains/search` | `registry-chains:view` |
    | `POST /v1/registry/wallets/register` | `registry-wallets:create` |
    | `POST /v1/registry/wallets/update` | `registry-wallets:manage` |
    | `POST /v1/registry/wallets/get` | `registry-wallets:view` |
    | `POST /v1/registry/wallets/search` | `registry-wallets:view` |
    | `POST /v1/adapter/register` | `registry-adapters:create` |
    | `POST /v1/adapter/update` | `registry-adapters:manage` |
    | `POST /v1/adapter/get` | `registry-adapters:view` |
    | `POST /v1/adapter/search` | `registry-adapters:view` |
    | `POST /v1/registry/capability/publish` | *(operator — developer token; no user scope)* |
    | `GET /v1/registry/forwarding/{did}` | *(developer token)* |
    | `GET /v1/instance/capabilities` | *(developer token)* |

    ### Rate limiting

    Requests are subject to a scope-tier sliding-window rate limiter. When the limit
    is exceeded the service responds with `429 Too Many Requests` and a `Retry-After`
    header (see the `RateLimitedError` response component).
  version: "1.0.0"
servers:
  - url: "https://foundry.finternetlab.io"
    description: "Development Environment"
  - url: "http://localhost:3000"
    description: "Local Server"
tags:
  - name: "Chain Registry"
    description: "Endpoints for chain registry management. Routes chain IDs to adapter services."
  - name: "Wallet Provider Registry"
    description: "Endpoints for wallet provider registry management. Policy allow-list for wallet apps."
  - name: "Adapter Registry"
    description: |
      Endpoints for adapter service registry management. The AdapterOrchestrator uses
      this table for priority-based routing of chain operations. All adapter endpoints
      require both Developer and end-user authentication.
  - name: "Federation"
    description: |
      Federation address resolution. Resolves an on-chain (chainId, address) pair to the
      owning UNITS account, its DID, and home instance. Developer-token gated.
  - name: "Instance"
    description: |
      Instance capability publishing and discovery. The signed capability document
      advertises the programs an instance supports (asset models, primitive methods,
      templates, operation plans), its signing keys, and when it was generated.
      Operator / federation-infra endpoints, documented for completeness.

# ===============================================================
#   PATHS
# ===============================================================

paths:
  # -------------------- Chain Registry --------------------
  /v1/registry/chains/register:
    post:
      tags:
        - "Chain Registry"
      summary: "Register a new chain"
      description: |
        Register a blockchain network in the chain registry. Includes adapter configuration
        for routing balance queries and transaction operations to the appropriate adapter service(s).
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_RegisterChainRequest'
            examples:
              ethereum_mainnet:
                summary: "Register Ethereum Mainnet"
                value:
                  context:
                    id: "api.registry.chains.register"
                    version: "v1"
                    ts: "2026-02-17T10:00:00Z"
                    msgId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    developerToken: "fnt_..."
                  payload:
                    networkId: "eip155:1"
                    name: "Ethereum Mainnet"
                    chainFamily: "evm"
                    isTestnet: false
                    metadata:
                      iconUrl: "https://assets.finternet.io/chains/ethereum.svg"
                      explorers:
                        - name: "Etherscan"
                          url: "https://etherscan.io"
                          type: "primary"
                      nativeCurrency:
                        name: "Ether"
                        symbol: "ETH"
                        decimals: 18
                      blockTime: 12
              polygon_mainnet:
                summary: "Register Polygon Mainnet"
                value:
                  context:
                    id: "api.registry.chains.register"
                    version: "v1"
                    ts: "2026-02-17T10:00:00Z"
                    msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef0"
                    developerToken: "fnt_..."
                  payload:
                    networkId: "eip155:137"
                    name: "Polygon Mainnet"
                    chainFamily: "evm"
                    isTestnet: false
                    metadata:
                      iconUrl: "https://assets.finternet.io/chains/polygon.svg"
                      explorers:
                        - name: "Polygonscan"
                          url: "https://polygonscan.com"
                          type: "primary"
                      nativeCurrency:
                        name: "POL"
                        symbol: "POL"
                        decimals: 18
                      blockTime: 2
              sepolia_testnet:
                summary: "Register Sepolia Testnet"
                value:
                  context:
                    id: "api.registry.chains.register"
                    version: "v1"
                    ts: "2026-02-17T10:00:00Z"
                    msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef01"
                    developerToken: "fnt_..."
                  payload:
                    networkId: "eip155:11155111"
                    name: "Sepolia Testnet"
                    chainFamily: "evm"
                    isTestnet: true
                    metadata:
                      iconUrl: "https://assets.finternet.io/chains/ethereum.svg"
                      explorers:
                        - name: "Sepolia Etherscan"
                          url: "https://sepolia.etherscan.io"
                          type: "primary"
                      nativeCurrency:
                        name: "Sepolia Ether"
                        symbol: "ETH"
                        decimals: 18
      responses:
        '201':
          description: "Chain registered successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ChainDetails'
              example:
                context:
                  id: "api.registry.chains.register"
                  version: "v1"
                  ts: "2026-02-17T10:00:00Z"
                  msgId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  status: "successful"
                response:
                  id: "550e8400-e29b-41d4-a716-446655440000"
                  networkId: "eip155:1"
                  name: "Ethereum Mainnet"
                  chainFamily: "evm"
                  isTestnet: false
                  status: "ACTIVE"
                  metadata:
                    iconUrl: "https://assets.finternet.io/chains/ethereum.svg"
                    explorers:
                      - name: "Etherscan"
                        url: "https://etherscan.io"
                        type: "primary"
                    nativeCurrency:
                      name: "Ether"
                      symbol: "ETH"
                      decimals: 18
                    blockTime: 12
                  createdAt: "2026-02-17T10:00:00Z"
                  updatedAt: "2026-02-17T10:00:00Z"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: "Chain with this networkId already exists"

  /v1/registry/chains/update:
    post:
      tags:
        - "Chain Registry"
      summary: "Update chain registry entry"
      description: |
        Update a chain's configuration — adapters, status, or metadata.
        Use this to add/remove adapters, change priorities, or deactivate a chain.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_UpdateChainRequest'
            examples:
              update_metadata:
                summary: "Update Ethereum name and metadata"
                value:
                  context:
                    id: "api.registry.chains.update"
                    version: "v1"
                    ts: "2026-02-17T11:00:00Z"
                    msgId: "d4e5f6a7-b8c9-0123-4567-890abcdef012"
                    developerToken: "fnt_..."
                  payload:
                    networkId: "eip155:1"
                    name: "Ethereum"
                    metadata:
                      iconUrl: "https://assets.finternet.io/chains/ethereum.svg"
                      blockTime: 12
              deactivate_chain:
                summary: "Deactivate a chain"
                value:
                  context:
                    id: "api.registry.chains.update"
                    version: "v1"
                    ts: "2026-02-17T11:00:00Z"
                    msgId: "e5f6a7b8-c9d0-1234-5678-90abcdef0123"
                    developerToken: "fnt_..."
                  payload:
                    networkId: "eip155:11155111"
                    status: "INACTIVE"
      responses:
        '200':
          description: "Chain updated successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ChainDetails'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/registry/chains/get:
    post:
      tags:
        - "Chain Registry"
      summary: "Get chain details"
      description: "Retrieve detailed information about a specific chain by its network ID."
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetChainRequest'
            example:
              context:
                id: "api.registry.chains.get"
                version: "v1"
                ts: "2026-02-17T10:00:00Z"
                msgId: "f6a7b8c9-d0e1-2345-6789-0abcdef01234"
                developerToken: "fnt_..."
              payload:
                networkId: "eip155:1"
      responses:
        '200':
          description: "Chain details retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ChainDetails'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/registry/chains/search:
    post:
      tags:
        - "Chain Registry"
      summary: "Search chains"
      description: "Search and list registered chains with filters."
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_SearchChainsRequest'
            examples:
              active_mainnets:
                summary: "List all active mainnets"
                value:
                  context:
                    id: "api.registry.chains.search"
                    version: "v1"
                    ts: "2026-02-17T10:00:00Z"
                    msgId: "a7b8c9d0-e1f2-3456-7890-abcdef012345"
                    developerToken: "fnt_..."
                  payload:
                    filters:
                      status: "ACTIVE"
                      isTestnet: false
                    pagination:
                      limit: 50
                      offset: 0
                    sortBy:
                      field: "name"
                      order: "asc"
              evm_chains:
                summary: "List all EVM chains"
                value:
                  context:
                    id: "api.registry.chains.search"
                    version: "v1"
                    ts: "2026-02-17T10:00:00Z"
                    msgId: "b8c9d0e1-f2a3-4567-8901-bcdef0123456"
                    developerToken: "fnt_..."
                  payload:
                    filters:
                      chainFamily: "evm"
                    pagination:
                      limit: 50
                      offset: 0
      responses:
        '200':
          description: "Chain list retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ChainList'
              example:
                context:
                  id: "api.registry.chains.search"
                  version: "v1"
                  ts: "2026-02-17T10:00:00Z"
                  msgId: "a7b8c9d0-e1f2-3456-7890-abcdef012345"
                  status: "successful"
                response:
                  chains:
                    - id: "550e8400-e29b-41d4-a716-446655440000"
                      networkId: "eip155:1"
                      name: "Ethereum Mainnet"
                      chainFamily: "evm"
                      isTestnet: false
                      status: "ACTIVE"
                      metadata:
                        iconUrl: "https://assets.finternet.io/chains/ethereum.svg"
                        nativeCurrency: { name: "Ether", symbol: "ETH", decimals: 18 }
                      createdAt: "2026-02-17T10:00:00Z"
                      updatedAt: "2026-02-17T10:00:00Z"
                    - id: "660e8400-e29b-41d4-a716-446655440001"
                      networkId: "eip155:137"
                      name: "Polygon Mainnet"
                      chainFamily: "evm"
                      isTestnet: false
                      status: "ACTIVE"
                      metadata:
                        iconUrl: "https://assets.finternet.io/chains/polygon.svg"
                        nativeCurrency: { name: "POL", symbol: "POL", decimals: 18 }
                      createdAt: "2026-02-17T10:00:00Z"
                      updatedAt: "2026-02-17T10:00:00Z"
                  pagination:
                    total: 2
                    limit: 50
                    offset: 0
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # -------------------- Wallet Provider Registry --------------------
  /v1/registry/wallets/register:
    post:
      tags:
        - "Wallet Provider Registry"
      summary: "Register a wallet provider"
      description: |
        Register a wallet application in the provider registry. This is a policy allow-list
        consumed by App Backends — not enforced by UNITS directly.
        Uses `rdns` (EIP-6963 standard) as the universal, library-agnostic identifier.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_RegisterWalletProviderRequest'
            examples:
              metamask:
                summary: "Register MetaMask"
                value:
                  context:
                    id: "api.registry.wallets.register"
                    version: "v1"
                    ts: "2026-02-17T10:00:00Z"
                    msgId: "c9d0e1f2-a3b4-5678-9012-cdef01234567"
                    developerToken: "fnt_..."
                  payload:
                    name: "MetaMask"
                    rdns: "io.metamask"
                    supportedChains: ["eip155:1", "eip155:137", "eip155:8453", "eip155:42161", "eip155:56", "eip155:10"]
                    metadata:
                      iconUrl: "https://assets.finternet.io/wallets/metamask.svg"
                      website: "https://metamask.io"
                      description: "A crypto wallet & gateway to blockchain apps"
                      platforms: ["browser", "mobile"]
                      deepLink: "metamask://"
                      universalLink: "https://metamask.app.link/"
              coinbase:
                summary: "Register Coinbase Wallet"
                value:
                  context:
                    id: "api.registry.wallets.register"
                    version: "v1"
                    ts: "2026-02-17T10:00:00Z"
                    msgId: "d0e1f2a3-b4c5-6789-0123-def012345678"
                    developerToken: "fnt_..."
                  payload:
                    name: "Coinbase Wallet"
                    rdns: "com.coinbase.wallet"
                    supportedChains: ["eip155:1", "eip155:137", "eip155:8453", "eip155:42161", "eip155:10"]
                    metadata:
                      iconUrl: "https://assets.finternet.io/wallets/coinbase.svg"
                      website: "https://www.coinbase.com/wallet"
                      description: "Your key to the world of crypto"
                      platforms: ["browser", "mobile"]
                      deepLink: "cbwallet://"
              trust_wallet:
                summary: "Register Trust Wallet"
                value:
                  context:
                    id: "api.registry.wallets.register"
                    version: "v1"
                    ts: "2026-02-17T10:00:00Z"
                    msgId: "e1f2a3b4-c5d6-7890-1234-ef0123456789"
                    developerToken: "fnt_..."
                  payload:
                    name: "Trust Wallet"
                    rdns: "com.trustwallet.app"
                    supportedChains: ["eip155:1", "eip155:137", "eip155:56", "eip155:42161"]
                    metadata:
                      iconUrl: "https://assets.finternet.io/wallets/trust.svg"
                      website: "https://trustwallet.com"
                      description: "The most trusted & secure crypto wallet"
                      platforms: ["mobile"]
                      deepLink: "trust://"
      responses:
        '201':
          description: "Wallet provider registered successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_WalletProviderDetails'
              example:
                context:
                  id: "api.registry.wallets.register"
                  version: "v1"
                  ts: "2026-02-17T10:00:00Z"
                  msgId: "c9d0e1f2-a3b4-5678-9012-cdef01234567"
                  status: "successful"
                response:
                  id: "770e8400-e29b-41d4-a716-446655440002"
                  name: "MetaMask"
                  rdns: "io.metamask"
                  status: "ACTIVE"
                  supportedChains: ["eip155:1", "eip155:137", "eip155:8453", "eip155:42161", "eip155:56", "eip155:10"]
                  metadata:
                    iconUrl: "https://assets.finternet.io/wallets/metamask.svg"
                    website: "https://metamask.io"
                    description: "A crypto wallet & gateway to blockchain apps"
                    platforms: ["browser", "mobile"]
                    deepLink: "metamask://"
                    universalLink: "https://metamask.app.link/"
                  createdAt: "2026-02-17T10:00:00Z"
                  updatedAt: "2026-02-17T10:00:00Z"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: "Wallet provider with this rdns already exists"

  /v1/registry/wallets/update:
    post:
      tags:
        - "Wallet Provider Registry"
      summary: "Update wallet provider"
      description: "Update a wallet provider's status, supported chains, or metadata."
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_UpdateWalletProviderRequest'
            examples:
              update_chains:
                summary: "Update supported chains for MetaMask"
                value:
                  context:
                    id: "api.registry.wallets.update"
                    version: "v1"
                    ts: "2026-02-17T11:00:00Z"
                    msgId: "f2a3b4c5-d6e7-8901-2345-f01234567890"
                    developerToken: "fnt_..."
                  payload:
                    rdns: "io.metamask"
                    supportedChains: ["eip155:1", "eip155:137", "eip155:8453", "eip155:42161", "eip155:56", "eip155:10", "eip155:59144"]
              deactivate_wallet:
                summary: "Deactivate a wallet provider"
                value:
                  context:
                    id: "api.registry.wallets.update"
                    version: "v1"
                    ts: "2026-02-17T11:00:00Z"
                    msgId: "a3b4c5d6-e7f8-9012-3456-012345678901"
                    developerToken: "fnt_..."
                  payload:
                    rdns: "com.suspicious.wallet"
                    status: "BLOCKED"
      responses:
        '200':
          description: "Wallet provider updated successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_WalletProviderDetails'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/registry/wallets/get:
    post:
      tags:
        - "Wallet Provider Registry"
      summary: "Get wallet provider details"
      description: "Retrieve detailed information about a specific wallet provider by its rdns identifier."
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetWalletProviderRequest'
            example:
              context:
                id: "api.registry.wallets.get"
                version: "v1"
                ts: "2026-02-17T10:00:00Z"
                msgId: "b4c5d6e7-f8a9-0123-4567-123456789012"
                developerToken: "fnt_..."
              payload:
                rdns: "io.metamask"
      responses:
        '200':
          description: "Wallet provider details retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_WalletProviderDetails'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/registry/wallets/search:
    post:
      tags:
        - "Wallet Provider Registry"
      summary: "Search wallet providers"
      description: "Search and list registered wallet providers with filters."
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_SearchWalletProvidersRequest'
            examples:
              all_active:
                summary: "List all active wallet providers"
                value:
                  context:
                    id: "api.registry.wallets.search"
                    version: "v1"
                    ts: "2026-02-17T10:00:00Z"
                    msgId: "c5d6e7f8-a9b0-1234-5678-234567890123"
                    developerToken: "fnt_..."
                  payload:
                    filters:
                      status: "ACTIVE"
                    pagination:
                      limit: 50
                      offset: 0
              by_chain:
                summary: "Find wallets supporting Ethereum mainnet"
                value:
                  context:
                    id: "api.registry.wallets.search"
                    version: "v1"
                    ts: "2026-02-17T10:00:00Z"
                    msgId: "d6e7f8a9-b0c1-2345-6789-345678901234"
                    developerToken: "fnt_..."
                  payload:
                    filters:
                      "supportedChains": "eip155:1"
                    pagination:
                      limit: 50
                      offset: 0
      responses:
        '200':
          description: "Wallet provider list retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_WalletProviderList'
              example:
                context:
                  id: "api.registry.wallets.search"
                  version: "v1"
                  ts: "2026-02-17T10:00:00Z"
                  msgId: "c5d6e7f8-a9b0-1234-5678-234567890123"
                  status: "successful"
                response:
                  walletProviders:
                    - id: "770e8400-e29b-41d4-a716-446655440002"
                      name: "MetaMask"
                      rdns: "io.metamask"
                      status: "ACTIVE"
                      supportedChains: ["eip155:1", "eip155:137", "eip155:8453"]
                      metadata:
                        iconUrl: "https://assets.finternet.io/wallets/metamask.svg"
                        website: "https://metamask.io"
                        platforms: ["browser", "mobile"]
                      createdAt: "2026-02-17T10:00:00Z"
                      updatedAt: "2026-02-17T10:00:00Z"
                    - id: "880e8400-e29b-41d4-a716-446655440003"
                      name: "Coinbase Wallet"
                      rdns: "com.coinbase.wallet"
                      status: "ACTIVE"
                      supportedChains: ["eip155:1", "eip155:137", "eip155:8453"]
                      metadata:
                        iconUrl: "https://assets.finternet.io/wallets/coinbase.svg"
                        website: "https://www.coinbase.com/wallet"
                        platforms: ["browser", "mobile"]
                      createdAt: "2026-02-17T10:00:00Z"
                      updatedAt: "2026-02-17T10:00:00Z"
                  pagination:
                    total: 2
                    limit: 50
                    offset: 0
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # -------------------- Federation --------------------
  /v1/registry/forwarding/{did}:
    get:
      tags:
        - "Federation"
      summary: "Get the forwarding pointer for a migrated DID"
      description: |
        Return the forwarding pointer for an account DID whose home instance has changed
        (federation home migration). Callers holding a stale home reference use this to
        discover the account's new home instance and the signed forwarding record.
        Developer-token gated.
      security:
        - developerToken: []
      parameters:
        - name: did
          in: path
          required: true
          description: "Decentralized identifier of the account to resolve a forwarding pointer for."
          schema:
            type: string
            example: "did:units:acct:550e8400-e29b-41d4-a716-446655440000"
      responses:
        '200':
          description: "Forwarding pointer found."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ForwardingPointer'
              example:
                context:
                  id: "api.registry.forwarding.get"
                  version: "v1"
                  ts: "2026-02-17T10:00:00Z"
                  msgId: "f8a9b0c1-d2e3-4567-8901-567890123456"
                  status: "successful"
                response:
                  did: "did:units:acct:550e8400-e29b-41d4-a716-446655440000"
                  new_home_id: "990e8400-e29b-41d4-a716-446655440099"
                  installed_at: "2026-02-15T09:30:00Z"
                  grace_until: "2026-05-15T09:30:00Z"
                  signed_record:
                    payload: "eyJ..."
                    signature: "z58DAdFfa9SkqZMVPxAQp..."
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          description: "No forwarding pointer exists for the given DID."
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ApiError' }

  # -------------------- Instance --------------------
  /v1/registry/capability/publish:
    post:
      tags:
        - "Instance"
      summary: "Publish this instance's signed capability document"
      description: |
        Operator endpoint. Re-computes and publishes the instance's signed capability
        document to the federation registry, returning the published instance identifier,
        the new document version, and the signature. No request payload — the operator
        trigger carries only the standard envelope context. Developer-token gated (no
        end-user token) and rate limited.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: false
        description: "No business payload; the envelope carries only the standard context."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestContext'
            example:
              context:
                id: "api.registry.capability.publish"
                version: "v1"
                ts: "2026-02-17T10:00:00Z"
                msgId: "a9b0c1d2-e3f4-5678-9012-678901234567"
                developerToken: "fnt_..."
              payload: {}
      responses:
        '200':
          description: "Capability document published."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_CapabilityPublish'
              example:
                context:
                  id: "api.registry.capability.publish"
                  version: "v1"
                  ts: "2026-02-17T10:00:01Z"
                  msgId: "a9b0c1d2-e3f4-5678-9012-678901234567"
                  status: "successful"
                response:
                  instance: "https://foundry.finternetlab.io"
                  version: 7
                  signature: "z58DAdFfa9SkqZMVPxAQp..."
                  published_at: "2026-02-17T10:00:01Z"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/instance/capabilities:
    get:
      tags:
        - "Instance"
      summary: "Get this instance's signed capability document"
      description: |
        Return the instance's current signed capability document — the free-form, signed
        descriptor advertising the programs this instance supports (per-program asset
        models, primitive methods, templates, and operation plans), its signing keys, and
        the point in time it was generated. Developer-token gated.
      security:
        - developerToken: []
      responses:
        '200':
          description: "Signed capability document."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_CapabilityDocument'
              example:
                context:
                  id: "api.instance.capabilities.get"
                  version: "v1"
                  ts: "2026-02-17T10:00:00Z"
                  msgId: "b0c1d2e3-f4a5-6789-0123-789012345678"
                  status: "successful"
                response:
                  instance: "https://foundry.finternetlab.io"
                  as_of: "2026-02-17T09:59:00Z"
                  signing_keys:
                    - kid: "key-1"
                      kty: "OKP"
                      crv: "Ed25519"
                      x: "11qYAYKxCrfVS_7TyWQHOg7hcvPapiMlrwIaaPcHURo"
                  programs:
                    token:
                      asset_models: ["fungible", "nft"]
                      primitive_methods: ["mint", "transfer", "burn"]
                      templates: ["erc20", "erc721"]
                      operation_plans: ["transfer", "atomic_swap"]
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  # -------------------- Adapter Registry --------------------
  /v1/adapter/register:
    post:
      tags:
        - "Adapter Registry"
      summary: "Register a new adapter"
      description: |
        Register a new adapter service instance in the adapter registry. Each adapter
        declares the chains it serves via `chainIds[]`. The AdapterOrchestrator uses this
        table for priority-based routing. Requires Developer + User auth.
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_RegisterAdapterRequest'
            example:
              context:
                id: "api.adapter.register"
                version: "v1"
                ts: "2026-03-05T10:00:00Z"
                msgId: "f5a6b7c8-d9e0-1234-f012-567890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                adapterId: "alchemy_chain_adapter"
                name: "Alchemy Chain Adapter"
                type: "chain"
                chainIds: ["eip155:1", "eip155:8453", "eip155:11155111"]
                priority: 1
                active: true
                config:
                  url: "http://chain-adapter:3500"
                  timeoutMs: 5000
      responses:
        '201':
          description: "Adapter registered successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_AdapterDetails'
              example:
                context:
                  id: "api.adapter.register"
                  version: "v1"
                  ts: "2026-03-05T10:00:00Z"
                  msgId: "f5a6b7c8-d9e0-1234-f012-567890abcdef"
                  status: "successful"
                response:
                  id: "990e8400-e29b-41d4-a716-446655440004"
                  adapterId: "alchemy_chain_adapter"
                  name: "Alchemy Chain Adapter"
                  type: "chain"
                  chainIds: ["eip155:1", "eip155:8453", "eip155:11155111"]
                  priority: 1
                  active: true
                  config:
                    url: "http://chain-adapter:3500"
                    timeoutMs: 5000
                  createdAt: "2026-03-05T10:00:00Z"
                  updatedAt: "2026-03-05T10:00:00Z"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: "Adapter with this adapterId already exists"

  /v1/adapter/update:
    post:
      tags:
        - "Adapter Registry"
      summary: "Update an adapter"
      description: |
        Update an adapter's configuration. Only the fields provided in the payload are
        updated. Requires Developer + User auth.
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_UpdateAdapterRequest'
            example:
              context:
                id: "api.adapter.update"
                version: "v1"
                ts: "2026-03-05T11:00:00Z"
                msgId: "a6b7c8d9-e0f1-2345-0123-67890abcdef0"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                adapterId: "alchemy_chain_adapter"
                chainIds: ["eip155:1", "eip155:8453", "eip155:11155111", "eip155:137"]
                priority: 2
      responses:
        '200':
          description: "Adapter updated successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_AdapterDetails'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/adapter/get:
    post:
      tags:
        - "Adapter Registry"
      summary: "Get adapter details"
      description: "Retrieve details of a specific adapter by its adapter ID. Requires Developer + User auth."
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetAdapterRequest'
            example:
              context:
                id: "api.adapter.get"
                version: "v1"
                ts: "2026-03-05T10:00:00Z"
                msgId: "b7c8d9e0-f1a2-3456-1234-7890abcdef01"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                adapterId: "alchemy_chain_adapter"
      responses:
        '200':
          description: "Adapter details retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_AdapterDetails'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/adapter/search:
    post:
      tags:
        - "Adapter Registry"
      summary: "Search adapters"
      description: "Search and list registered adapters with filters and pagination. Requires Developer + User auth."
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_SearchAdapterRequest'
            example:
              context:
                id: "api.adapter.search"
                version: "v1"
                ts: "2026-03-05T10:00:00Z"
                msgId: "c8d9e0f1-a2b3-4567-2345-890abcdef012"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                filters:
                  type: "chain"
                  active: true
                pagination:
                  limit: 50
                  offset: 0
                sortBy:
                  field: "priority"
                  order: "asc"
      responses:
        '200':
          description: "Adapter list retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_AdapterList'
              example:
                context:
                  id: "api.adapter.search"
                  version: "v1"
                  ts: "2026-03-05T10:00:00Z"
                  msgId: "c8d9e0f1-a2b3-4567-2345-890abcdef012"
                  status: "successful"
                response:
                  adapters:
                    - id: "990e8400-e29b-41d4-a716-446655440004"
                      adapterId: "alchemy_chain_adapter"
                      name: "Alchemy Chain Adapter"
                      type: "chain"
                      chainIds: ["eip155:1", "eip155:8453"]
                      priority: 1
                      active: true
                      config:
                        url: "http://chain-adapter:3500"
                      createdAt: "2026-03-05T10:00:00Z"
                      updatedAt: "2026-03-05T10:00:00Z"
                  pagination:
                    total: 1
                    limit: 50
                    offset: 0
        '401':
          $ref: '#/components/responses/UnauthorizedError'

# ===============================================================
#   COMPONENTS
# ===============================================================

components:
  schemas:
    # --- Shared Envelope Schemas ---
    Context:
      type: object
      required: [id, version, ts, msgId]
      properties:
        id: { type: string, example: "api.registry.chains.get" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        developerToken: { type: string, nullable: true, description: "B2B Developer API Key/Token" }
        developerSignature: { type: string, nullable: true, description: "B2B Developer Signature" }
    ResponseContext:
      type: object
      required: [id, version, ts, msgId, status]
      properties:
        id: { type: string }
        version: { type: string }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        status: { type: string, enum: [successful, failed] }
        error: { $ref: '#/components/schemas/ErrorPayload' }
    ErrorPayload:
      type: object
      required: [code, message]
      nullable: true
      properties:
        code: { type: string }
        message: { type: string }
    RequestContext:
      type: object
      required: [context, payload]
      properties:
        context: { $ref: '#/components/schemas/Context' }
        payload: { type: object }
    ApiResponse:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object }
    ApiError:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object, example: {} }

    PaginationRequest:
      type: object
      properties:
        limit: { type: integer, default: 50, minimum: 1, maximum: 100 }
        offset: { type: integer, default: 0, minimum: 0 }
    PaginationResponse:
      type: object
      properties:
        total: { type: integer }
        limit: { type: integer }
        offset: { type: integer }
    SortRequest:
      type: object
      properties:
        field: { type: string, enum: [createdAt, updatedAt, name], default: createdAt }
        order: { type: string, enum: [asc, desc], default: desc }

    # --- Chain Registry Schemas ---

    Chain:
      type: object
      required: [id, networkId, name, chainFamily, isTestnet, status]
      description: "Blockchain network registry entry"
      properties:
        id:
          type: string
          format: uuid
          description: "Internal registry ID"
        networkId:
          type: string
          description: "CAIP-2 chain identifier"
          example: "eip155:1"
        name:
          type: string
          description: "Human-readable chain name"
          example: "Ethereum Mainnet"
        chainFamily:
          type: string
          enum: [evm, solana, cosmos, substrate]
          description: "Chain protocol family"
          example: "evm"
        isTestnet:
          type: boolean
          description: "Whether this is a test network"
        status:
          type: string
          enum: [ACTIVE, INACTIVE, DEPRECATED]
          description: "Registry status"
          example: "ACTIVE"
        metadata:
          type: object
          description: "Extensible chain metadata (icons, explorers, native currency, etc.)"
          additionalProperties: true
        identities:
          description: |
            Optional identities associated with the chain. Untyped (interface{}) in the
            service — any JSON value; the concrete shape is not constrained by the API.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    RegisterChainRequest:
      type: object
      required: [networkId, name, chainFamily]
      properties:
        networkId: { type: string, example: "eip155:1" }
        name: { type: string, example: "Ethereum Mainnet" }
        chainFamily: { type: string, enum: [evm, solana, cosmos, substrate] }
        isTestnet: { type: boolean, default: false }
        metadata:
          type: object
          additionalProperties: true

    UpdateChainRequest:
      type: object
      required: [networkId]
      properties:
        networkId: { type: string, example: "eip155:1" }
        name: { type: string }
        chainFamily: { type: string, enum: [evm, solana, cosmos, substrate] }
        isTestnet: { type: boolean }
        status: { type: string, enum: [ACTIVE, INACTIVE, DEPRECATED] }
        metadata:
          type: object
          additionalProperties: true

    GetChainRequest:
      type: object
      required: [networkId]
      properties:
        networkId: { type: string, example: "eip155:1" }

    SearchChainsRequest:
      type: object
      properties:
        filters:
          type: object
          description: |
            Search filters for chains.
            Known fields: status, chainFamily, isTestnet, name.
          properties:
            status: { type: string, description: "Filter by registry status" }
            chainFamily: { type: string, description: "Filter by chain family (evm, solana, etc.)" }
            isTestnet: { type: boolean, description: "Filter by testnet flag" }
          additionalProperties: true
        pagination: { $ref: '#/components/schemas/PaginationRequest' }
        sortBy: { $ref: '#/components/schemas/SortRequest' }

    ChainList:
      type: object
      properties:
        chains:
          type: array
          items: { $ref: '#/components/schemas/Chain' }
        pagination: { $ref: '#/components/schemas/PaginationResponse' }

    # --- Wallet Provider Registry Schemas ---

    WalletProvider:
      type: object
      required: [id, name, rdns, status]
      description: "Wallet application provider registry entry"
      properties:
        id:
          type: string
          format: uuid
          description: "Internal registry ID"
        name:
          type: string
          description: "Wallet provider display name"
          example: "MetaMask"
        rdns:
          type: string
          description: "EIP-6963 reverse domain identifier (library-agnostic)"
          example: "io.metamask"
        status:
          type: string
          enum: [ACTIVE, INACTIVE, BLOCKED]
          description: "Registry status. BLOCKED means regulatory action."
          example: "ACTIVE"
        supportedChains:
          type: array
          items: { type: string }
          description: "CAIP-2 chain IDs this wallet supports"
          example: ["eip155:1", "eip155:137"]
        metadata:
          type: object
          description: "Extensible wallet metadata (icon, website, platforms, deep links, etc.)"
          additionalProperties: true
        identities:
          description: |
            Optional identities associated with the wallet provider. Untyped (interface{})
            in the service — any JSON value; the concrete shape is not constrained by the API.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    RegisterWalletProviderRequest:
      type: object
      required: [name, rdns]
      properties:
        name: { type: string, example: "MetaMask" }
        rdns: { type: string, example: "io.metamask" }
        supportedChains:
          type: array
          items: { type: string }
          example: ["eip155:1", "eip155:137"]
        metadata:
          type: object
          additionalProperties: true

    UpdateWalletProviderRequest:
      type: object
      required: [rdns]
      properties:
        rdns: { type: string, example: "io.metamask" }
        name: { type: string }
        status: { type: string, enum: [ACTIVE, INACTIVE, BLOCKED] }
        supportedChains:
          type: array
          items: { type: string }
        metadata:
          type: object
          additionalProperties: true

    GetWalletProviderRequest:
      type: object
      required: [rdns]
      properties:
        rdns: { type: string, example: "io.metamask" }

    SearchWalletProvidersRequest:
      type: object
      properties:
        filters:
          type: object
          description: |
            Search filters for wallet providers.
            Known fields: status, name, rdns, supportedChains.
          properties:
            status: { type: string }
            supportedChains: { type: string, description: "Filter by a chain ID the wallet supports" }
          additionalProperties: true
        pagination: { $ref: '#/components/schemas/PaginationRequest' }
        sortBy: { $ref: '#/components/schemas/SortRequest' }

    WalletProviderList:
      type: object
      properties:
        walletProviders:
          type: array
          items: { $ref: '#/components/schemas/WalletProvider' }
        pagination: { $ref: '#/components/schemas/PaginationResponse' }

    # --- Federation Schemas ---

    ForwardingPointerResponse:
      type: object
      required: [did, new_home_id, installed_at, grace_until, signed_record]
      description: "Forwarding pointer for an account whose home instance has migrated."
      properties:
        did:
          type: string
          description: "Decentralized identifier of the migrated account."
          example: "did:units:acct:550e8400-e29b-41d4-a716-446655440000"
        new_home_id:
          type: string
          description: "Identifier of the account's new home instance."
          example: "990e8400-e29b-41d4-a716-446655440099"
        installed_at:
          type: string
          format: date-time
          description: "When the forwarding pointer was installed."
        grace_until:
          type: string
          format: date-time
          description: "End of the grace period during which the pointer is honoured."
        signed_record:
          type: object
          additionalProperties: true
          description: "The signed forwarding record proving the home migration."

    # --- Instance Capability Schemas ---

    CapabilityPublishResponse:
      type: object
      required: [instance, version, signature, published_at]
      description: "Result of publishing the instance's signed capability document."
      properties:
        instance:
          type: string
          description: "Identifier of the instance whose capability document was published."
          example: "https://foundry.finternetlab.io"
        version:
          type: integer
          description: "Version number assigned to the published capability document."
          example: 7
        signature:
          type: string
          description: "Signature over the published capability document."
          example: "z58DAdFfa9SkqZMVPxAQp..."
        published_at:
          type: string
          description: "Timestamp at which the document was published (RFC 3339)."
          example: "2026-02-17T10:00:01Z"

    CapabilityDocument:
      type: object
      additionalProperties: true
      description: |
        Signed capability document for an instance. A free-form, signed descriptor whose
        shape is intentionally open (`additionalProperties: true`) and NOT constrained by
        this API. Top-level fields include `instance`, `as_of`, and `signing_keys`, plus
        one section per supported program — each advertising its asset models, primitive
        methods, templates, and operation plans. Consumers must treat unknown fields as
        forward-compatible additions.

    # --- Adapter Registry Schemas ---

    Adapter:
      type: object
      required: [id, adapterId, name, type, chainIds, priority, active, config, createdAt, updatedAt]
      description: "Adapter service registry entry, used by the AdapterOrchestrator for priority-based routing."
      properties:
        id:
          type: string
          format: uuid
          description: "Internal registry ID"
        adapterId:
          type: string
          description: "Client-supplied unique adapter identifier"
          example: "alchemy_chain_adapter"
        name:
          type: string
          example: "Alchemy Chain Adapter"
        type:
          type: string
          description: "Adapter type (e.g. chain)"
          example: "chain"
        chainIds:
          type: array
          items: { type: string }
          description: "CAIP-2 chain IDs this adapter serves"
          example: ["eip155:1", "eip155:8453"]
        priority:
          type: integer
          description: "Selection priority (used for failover ordering)"
          example: 1
        active:
          type: boolean
        config:
          type: object
          additionalProperties: true
          description: "Adapter-specific configuration (e.g. url, timeouts)"
        identities:
          description: |
            Optional adapter identities. Untyped (interface{}) in the service — any JSON
            value; the concrete shape is not constrained by the API.
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    RegisterAdapterRequest:
      type: object
      required: [adapterId, name, chainIds, config]
      additionalProperties: true
      properties:
        adapterId: { type: string, example: "alchemy_chain_adapter" }
        name: { type: string, example: "Alchemy Chain Adapter" }
        type: { type: string, description: "Adapter type", example: "chain" }
        chainIds:
          type: array
          items: { type: string }
          example: ["eip155:1", "eip155:8453"]
        priority: { type: integer, description: "Selection priority (1 = highest)" }
        active: { type: boolean }
        config:
          type: object
          additionalProperties: true
          description: "Adapter-specific configuration"

    UpdateAdapterRequest:
      type: object
      required: [adapterId]
      additionalProperties: true
      properties:
        adapterId: { type: string, example: "alchemy_chain_adapter" }
        name: { type: string }
        type: { type: string }
        chainIds:
          type: array
          items: { type: string }
        priority: { type: integer }
        active: { type: boolean }
        config:
          type: object
          additionalProperties: true

    GetAdapterRequest:
      type: object
      required: [adapterId]
      properties:
        adapterId: { type: string, example: "alchemy_chain_adapter" }

    SearchAdapterRequest:
      type: object
      properties:
        filters:
          type: object
          description: |
            Search filters for adapters. Common fields: type, active.
          properties:
            type: { type: string }
            active: { type: boolean }
          additionalProperties: true
        pagination: { $ref: '#/components/schemas/PaginationRequest' }
        sortBy:
          type: object
          description: "Sort options. `field` is free-form; `order` is asc or desc."
          properties:
            field: { type: string }
            order: { type: string, enum: [asc, desc] }

    AdapterList:
      type: object
      properties:
        adapters:
          type: array
          items: { $ref: '#/components/schemas/Adapter' }
        pagination: { $ref: '#/components/schemas/PaginationResponse' }

    # --- Request Envelopes ---

    ApiRequest_RegisterChainRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/RegisterChainRequest' }

    ApiRequest_UpdateChainRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/UpdateChainRequest' }

    ApiRequest_GetChainRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/GetChainRequest' }

    ApiRequest_SearchChainsRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/SearchChainsRequest' }

    ApiResponse_ChainDetails:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/Chain' }

    ApiResponse_ChainList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/ChainList' }

    ApiRequest_RegisterWalletProviderRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/RegisterWalletProviderRequest' }

    ApiRequest_UpdateWalletProviderRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/UpdateWalletProviderRequest' }

    ApiRequest_GetWalletProviderRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/GetWalletProviderRequest' }

    ApiRequest_SearchWalletProvidersRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/SearchWalletProvidersRequest' }

    ApiResponse_WalletProviderDetails:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/WalletProvider' }

    ApiResponse_WalletProviderList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/WalletProviderList' }

    ApiResponse_ForwardingPointer:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/ForwardingPointerResponse' }

    ApiResponse_CapabilityPublish:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/CapabilityPublishResponse' }

    ApiResponse_CapabilityDocument:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/CapabilityDocument' }

    ApiRequest_RegisterAdapterRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/RegisterAdapterRequest' }

    ApiRequest_UpdateAdapterRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/UpdateAdapterRequest' }

    ApiRequest_GetAdapterRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/GetAdapterRequest' }

    ApiRequest_SearchAdapterRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/SearchAdapterRequest' }

    ApiResponse_AdapterDetails:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/Adapter' }

    ApiResponse_AdapterList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/AdapterList' }

  # -------------------- Responses --------------------
  responses:
    UnauthorizedError:
      description: "Authentication failed."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "UNAUTHORIZED", message: "Token invalid or expired." } }
            response: {}
    ForbiddenError:
      description: "Forbidden. Insufficient permissions."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "FORBIDDEN", message: "Insufficient permissions." } }
            response: {}
    NotFoundError:
      description: "Resource not found."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "RESOURCE_NOT_FOUND", message: "The requested resource was not found." } }
            response: {}
    BadRequestError:
      description: "Invalid request."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "INVALID_INPUT", message: "Invalid request parameters." } }
            response: {}
    RateLimitedError:
      description: |
        Request exceeded the scope-tier sliding-window rate limit. The `Retry-After`
        response header indicates how long the caller should wait before retrying.
      headers:
        Retry-After:
          schema: { type: integer, description: "Seconds to wait before retrying." }
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "TOO_MANY_REQUESTS", message: "Too many requests. Retry after 30s." } }
            response: {}

  # -------------------- Security --------------------
  securitySchemes:
    developerToken:
      type: http
      scheme: bearer
      bearerFormat: "JWT or Opaque"
      description: "B2B Developer API Key/Token in Authorization header."
    developerSignature:
      type: apiKey
      in: header
      name: Signature
      description: "IETF HTTP Signature (RFC 9421) for message integrity."
    userToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        End-user JWT session token, passed in `context.authorization` as `Bearer <token>`.
        Required by the adapter registry endpoints (register, update, get, search).
