openapi: 3.0.4
info:
  title: "Finternet API - Token Service"
  description: |
    The official API specification for the Finternet Token (UNITS) service.

    This API enables creation, management, and lifecycle operations for universal tokens
    following the UNITS Token Specification.

    ### Protocol-Agnostic Envelope
    All API interactions use a standard JSON envelope.

    **Request Envelope:**
    ```json
    {
      "context": { ... },
      "payload": { ... },
      "signature": { ... } // Optional
    }
    ```

    **Response Envelope (Success):**
    ```json
    {
      "context": { ..., "status": "successful" },
      "response": { ... }
    }
    ```

    **Response Envelope (Error):**
    ```json
    {
      "context": { ..., "status": "failed", "error": {"code": "...", "message": "..." }},
      "response": {} // Empty on error
    }
    ```
    (Error details are in the context.error object)

    ### Authentication and Authorization
    This API uses the same two-level authorization model as the Account service:

    1.  **Platform-Level (Developer) Authentication:**
        * `context.developerToken`: The B2B Developer's API Key/Token.
        * `context.developerSignature`: The B2B Developer's signature (e.g., RFC 9421) of the payload.

    2.  **User-Level (End-User) Authorization:**
        * `context.authorization`: The end-user's JWT session token (for session-based calls).
        * `signature` (top-level): The end-user's JWS for critical, cryptographically-signed operations.

    *Note for HTTP Clients:* As a convenience, the `developerToken` may be provided in the standard `Authorization: Bearer <token>` HTTP header, and the `developerSignature` in an `X-Finternet-Signature` header.
  version: "1.0.0"
servers:
  - url: "https://foundry.finternetlab.io"
    description: "Development Environment"
  - url: "http://localhost:3000"
    description: "Local Server"
tags:
  - name: "TokenClass"
    description: "Endpoints for token class registration and management."
  - name: "Token"
    description: "Endpoints for token creation, querying, and lifecycle management."
  - name: "Transaction"
    description: "Endpoints for transaction management."
  - name: "Proof"
    description: "Endpoints for Merkle proof retrieval and verification."

# ===============================================================
#   PATHS
# ===============================================================

paths:
  # -------------------- TokenClass --------------------
  /v1/tokenclass/register:
    post:
      tags:
        - "TokenClass"
      summary: "Register new token class"
      description: |
        Register a new token class with schema definition and metadata.
        Only authorized administrators can register token classes.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_RegisterTokenClassRequest'
            example:
              context:
                id: "api.tokenclass.register"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                developerToken: "dev_pk_..."
                authorization: "Bearer eyJ..."
              payload:
                tokenClass: "USDC"
                tokenStandard: "ERC-3643"
                name: "USD Coin"
                description: "Fully-backed USD stablecoin by Circle"
                schema:
                  metadata:
                    required: ["tokenStandard", "name", "symbol", "decimals", "fungibility"]
                  data:
                    properties:
                      reserveAccount: { type: "string" }
                      jurisdiction: { type: "string" }
                identities:
                  - id: "did:web:circle.com"
                    type: "issuer"
                    roles: ["admin", "minter"]
                metadata:
                  category: "stablecoin"
                  tags: ["fiat-backed", "regulated", "USD"]
      responses:
        '201':
          description: "Token class registered successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenClassDetails'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: "Token class already exists"

  /v1/tokenclass/update:
    post:
      tags:
        - "TokenClass"
      summary: "Update token class"
      description: |
        Update token class metadata, schema, or identities/roles.
        Can be used to add/remove authorized minters or update class properties.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_UpdateTokenClassRequest'
            example:
              context:
                id: "api.tokenclass.update"
                version: "1.0"
                ts: "2025-01-04T11:00:00Z"
                msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef"
                developerToken: "dev_pk_..."
                authorization: "Bearer eyJ..."
              payload:
                tokenClass: "USDC"
                identities:
                  - id: "did:web:newminter.example"
                    type: "operator"
                    roles: ["minter"]
                metadata:
                  tags: ["fiat-backed", "regulated", "USD", "circle"]
      responses:
        '200':
          description: "Token class updated successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenClassDetails'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/tokenclass/get:
    post:
      tags:
        - "TokenClass"
      summary: "Get token class details"
      description: "Retrieve detailed information about a specific token class"
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetTokenClassRequest'
            example:
              context:
                id: "api.tokenclass.get"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef12"
                developerToken: "dev_pk_..."
              payload:
                tokenClass: "USDC"
      responses:
        '200':
          description: "Token class details retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenClassDetails'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/tokenclass/search:
    post:
      tags:
        - "TokenClass"
      summary: "Search token classes"
      description: "Search and list all registered token classes with filters"
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_SearchTokenClassRequest'
            example:
              context:
                id: "api.tokenclass.search"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "d4e5f6a7-b8c9-0123-4567-890abcdef123"
                developerToken: "dev_pk_..."
              payload:
                filters:
                  tokenStandard: "ERC-3643"
                  category: "stablecoin"
                pagination:
                  limit: 50
                  offset: 0
                sort:
                  field: "createdAt"
                  order: "desc"
      responses:
        '200':
          description: "Token class list retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenClassList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # -------------------- Token --------------------
  /v1/token/get:
    post:
      tags:
        - "Token"
      summary: "Get token details"
      description: "Retrieves detailed information about a specific token by its ID. Requires Developer auth."
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetTokenRequest'
            example:
              context:
                id: "api.token.get"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                developerToken: "dev_pk_..."
              payload:
                tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
      responses:
        '200':
          description: "Token details retrieved successfully."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenDetails'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/token/mint:
    post:
      tags:
        - "Token"
      summary: "Mint new token"
      description: |
        Mint (create) a new token instance. This endpoint has separate ACL controls from other token operations.
        Only authorized identities registered for the tokenClass can mint tokens.

        Requires both developer authentication and end-user signature.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_MintTokenRequest'
            example:
              context:
                id: "api.token.mint"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "c1d2e3f4-a5b6-7890-1234-567890abcdef"
                developerToken: "dev_pk_..."
                authorization: "Bearer eyJ..."
              payload:
                tokenClass: "USDC"
                metadata:
                  tokenStandard: "ERC-3643"
                  name: "USD Coin"
                  symbol: "USDC"
                  decimals: 6
                  fungibility: "fungible"
                  valuationType: "fixed"
                  valuationModel:
                    parValue:
                      amount: "1.00"
                      currency: "USD"
                data:
                  reserveAccount: "did:web:circle.com:accounts:reserve-001"
                  jurisdiction: "US"
                identities:
                  - id: "did:web:circle.com"
                    type: "issuer"
                  - id: "did:web:circle.com"
                    type: "creator"
                initialSupply: "1000000000000"
              signature:
                type: "JsonWebSignature2020"
                jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
      responses:
        '202':
          description: "Mint transaction accepted (async)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactAccepted'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'

  /v1/token/search:
    post:
      tags:
        - "Token"
      summary: "Search tokens"
      description: "Search tokens with filters (type, status, etc.). Owner filtering inferred from JWT/ACL. Supports pagination. Requires Developer auth."
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_SearchTokensRequest'
            example:
              context:
                id: "api.token.search"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                developerToken: "dev_pk_..."
                authorization: "Bearer eyJ..."
              payload:
                filters:
                  tokenStandard: "UNITS-FT"
                  status: "active"
                  fungibility: "fungible"
                  tags: ["stablecoin"]
                pagination:
                  limit: 50
                  offset: 0
                sort:
                  field: "createdAt"
                  order: "desc"
      responses:
        '200':
          description: "Token list retrieved successfully."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/token/transact:
    post:
      tags:
        - "Token"
      summary: "Execute token operation"
      description: |
        Unified endpoint for all token write operations. The operation is specified in the payload.

        **Supported Operations:**
        - `burn` - Burn/destroy token (terminal state)
        - `freeze` - Freeze token (compliance/regulatory hold)
        - `unfreeze` - Unfreeze token
        - `lock` - Lock token (for escrow/collateral)
        - `unlock` - Unlock token
        - `redeem` - Redeem token (for redeemable assets)
        - `transfer` - Transfer token ownership
        - `update` - Update token data or metadata fields
        - `addClaim` - Add verifiable credential/attestation
        - `revokeClaim` - Revoke a claim
        - `updateClaimStatus` - Update claim status

        **Note:** `mint` operation has a dedicated `/v1/token/mint` endpoint with separate ACL controls.

        Critical operations (burn, transfer, addClaim, etc.) require end-user signature.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_TransactRequest'
            examples:
              BurnToken:
                summary: "Burn tokens"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:05:00Z"
                    msgId: "d1e2f3a4-b5c6-7890-1234-567890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "burn"
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    amount: "100000000"
                    reason: "Token redemption"
                  signature:
                    type: "JsonWebSignature2020"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              FreezeToken:
                summary: "Freeze a token"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:10:00Z"
                    msgId: "e1f2a3b4-c5d6-7890-1234-567890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "freeze"
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    reason: "Compliance hold"
                    frozenBy: "did:web:regulator.example"
                  signature:
                    type: "JsonWebSignature2020"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              TransferToken:
                summary: "Transfer token ownership"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:15:00Z"
                    msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "transfer"
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    to: "did:web:bob.example"
                    amount: "500000000"
                  signature:
                    type: "JsonWebSignature2020"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              UpdateToken:
                summary: "Update token data and metadata"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:20:00Z"
                    msgId: "a2b3c4d5-e6f7-8901-2345-67890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "update"
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    data:
                      auditReport: "https://www.circle.com/en/usdc-transparency"
                      lastAuditDate: "2025-04-01T00:00:00Z"
              AddClaim:
                summary: "Add a verifiable claim"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:25:00Z"
                    msgId: "b3c4d5e6-f7a8-9012-3456-7890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "addClaim"
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    claim:
                      id: "urn:uuid:claim-002"
                      "@context": ["https://www.w3.org/2018/credentials/v1"]
                      type: ["VerifiableCredential", "ComplianceCertificate"]
                      issuer: "did:web:regulator.example"
                      issuanceDate: "2025-01-04T00:00:00Z"
                      credentialSubject:
                        id: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                        compliant: true
                        jurisdiction: "US"
                      proof:
                        type: "Ed25519Signature2018"
                        created: "2025-01-04T00:00:00Z"
                        verificationMethod: "did:web:regulator.example#key-1"
                        proofPurpose: "assertionMethod"
                        jws: "eyJhbGciOiJFZERTQSJ9..."
                  signature:
                    type: "JsonWebSignature2020"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
      responses:
        '202':
          description: "Transaction accepted for processing (async)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactAccepted'
              examples:
                MintAccepted:
                  summary: "Mint transaction accepted"
                  value:
                    context:
                      id: "api.token.transact"
                      version: "1.0"
                      ts: "2025-01-04T10:00:00Z"
                      msgId: "c1d2e3f4-a5b6-7890-1234-567890abcdef"
                      status: "accepted"
                      transactionId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "submitted"
                      message: "Transaction submitted for processing"
                      estimatedCompletionTime: "2025-01-04T10:00:05Z"
                TransferAccepted:
                  summary: "Transfer transaction accepted"
                  value:
                    context:
                      id: "api.token.transact"
                      version: "1.0"
                      ts: "2025-01-04T10:15:00Z"
                      msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                      status: "accepted"
                      transactionId: "urn:uuid:tx-d8e5f6a7-b8c9-0123-4567-890abcdef123"
                    response:
                      txId: "urn:uuid:tx-d8e5f6a7-b8c9-0123-4567-890abcdef123"
                      status: "submitted"
                      message: "Transfer submitted for processing"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'

  # -------------------- Transaction APIs --------------------
  /v1/transaction/status:
    post:
      tags:
        - "Transaction"
      summary: "Get transaction status"
      description: |
        Polls the status of an asynchronous transaction.

        **Status Progression:**
        submitted → pending → executing → completed/failed/rolled_back

        Use this endpoint to poll for transaction completion after submitting via /v1/token/transact.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_TransactionStatusRequest'
            example:
              context:
                id: "api.transaction.status"
                version: "1.0"
                ts: "2025-01-04T10:00:02Z"
                msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                developerToken: "dev_pk_..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Status retrieved successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactionStatus'
              examples:
                Executing:
                  summary: "Transaction in progress"
                  value:
                    context:
                      id: "api.transaction.status"
                      version: "1.0"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "executing"
                      progress:
                        currentStep: "Generating proof"
                        completedSteps: 2
                        totalSteps: 4
                      timestamps:
                        submitted: "2025-01-04T10:00:00Z"
                        started: "2025-01-04T10:00:01Z"
                Completed:
                  summary: "Transaction completed"
                  value:
                    context:
                      id: "api.transaction.status"
                      version: "1.0"
                      ts: "2025-01-04T10:00:05Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "completed"
                      timestamps:
                        submitted: "2025-01-04T10:00:00Z"
                        started: "2025-01-04T10:00:01Z"
                        completed: "2025-01-04T10:00:03Z"
                        finalized: "2025-01-04T10:00:05Z"
                      summary:
                        operation: "transfer"
                        tokenCount: 1
                        proofId: "urn:uuid:proof-a1b2c3d4"
                Failed:
                  summary: "Transaction failed"
                  value:
                    context:
                      id: "api.transaction.status"
                      version: "1.0"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "failed"
                      error:
                        code: "INSUFFICIENT_BALANCE"
                        message: "Insufficient token balance for transfer"
                        details:
                          required: "100000000"
                          available: "50000000"
                      timestamps:
                        submitted: "2025-01-04T10:00:00Z"
                        started: "2025-01-04T10:00:01Z"
                        failed: "2025-01-04T10:00:02Z"
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/transaction/get:
    post:
      tags:
        - "Transaction"
      summary: "Get transaction details"
      description: |
        Retrieves complete details of a transaction including all token transactions,
        proofs, and ledger anchors.

        Use this after transaction completion to get full audit trail.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetTransactionRequest'
            example:
              context:
                id: "api.transaction.get"
                version: "1.0"
                ts: "2025-01-04T10:00:10Z"
                msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef"
                developerToken: "dev_pk_..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Transaction details retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactionDetails'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/transaction/search:
    post:
      tags:
        - "Transaction"
      summary: "Search transactions"
      description: |
        Search transactions with filters and pagination.
        Useful for transaction history, reconciliation, and reporting. Owner/initiator filtering inferred from JWT/ACL.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_SearchTransactionsRequest'
            example:
              context:
                id: "api.transaction.search"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef"
                developerToken: "dev_pk_..."
                authorization: "Bearer eyJ..."
              payload:
                filters:
                  status: "completed"
                  dateRange:
                    from: "2025-01-01T00:00:00Z"
                    to: "2025-01-31T23:59:59Z"
                pagination:
                  limit: 50
                  offset: 0
                sort:
                  field: "createdAt"
                  order: "desc"
      responses:
        '200':
          description: "Transaction list retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactionList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/token/transactions:
    post:
      tags:
        - "Token"
      summary: "Get token transaction history"
      description: |
        Retrieves all transactions that affected a specific token.
        Provides complete audit trail and state history for the token.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_TokenTransactionsRequest'
            example:
              context:
                id: "api.token.transactions"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "d4e5f6a7-b8c9-0123-4567-890abcdef"
                developerToken: "dev_pk_..."
              payload:
                filters:
                  tokenId: "urn:uuid:usdc-a1b2c3d4"
                  operation: "transfer"
                  dateRange:
                    from: "2025-01-01T00:00:00Z"
                    to: "2025-01-31T23:59:59Z"
                pagination:
                  limit: 100
                  offset: 0
                sort:
                  field: "timestamp"
                  order: "desc"
      responses:
        '200':
          description: "Token transaction history retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenTransactionList'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  # -------------------- Proof APIs --------------------
  /v1/transaction/proof:
    post:
      tags:
        - "Proof"
      summary: "Get Merkle proof for transaction"
      description: |
        Retrieves the Merkle proof for a transaction, enabling independent verification
        that the transaction was included in a batched commitment anchored to a public blockchain.

        **Proof Status:**
        - `pending` - Transaction awaiting proof generation (batch not yet full)
        - `proven` - Merkle proof generated, awaiting blockchain anchoring
        - `anchored` - Proof anchored to blockchain, fully verifiable

        The response includes all data needed for independent verification.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetProofRequest'
            example:
              context:
                id: "api.transaction.proof"
                version: "1.0"
                ts: "2026-01-19T10:00:00Z"
                msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                developerToken: "dev_pk_..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Proof retrieved successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ProofDetails'
              examples:
                Anchored:
                  summary: "Fully anchored proof"
                  value:
                    context:
                      id: "api.transaction.proof"
                      version: "1.0"
                      ts: "2026-01-19T10:00:00Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      leafHash: "a1b2c3d4e5f6..."
                      merkleRoot: "d4e5f6a7b8c9..."
                      proofPath:
                        - hash: "abc123..."
                          direction: "left"
                        - hash: "def456..."
                          direction: "right"
                      leafIndex: 42
                      batchId: "urn:uuid:batch-12345678"
                      proofStatus: "anchored"
                      anchor:
                        network: "ethereum_sepolia"
                        txHash: "0x1234567890abcdef..."
                        blockNumber: 12345678
                        blockTimestamp: "2026-01-19T10:30:00Z"
                        contractAddress: "0xabcdef1234567890..."
                      verification:
                        algorithm: "sha256"
                        leafDataEndpoint: "/v1/transaction/proof/leaf"
                Pending:
                  summary: "Proof pending (batch not full)"
                  value:
                    context:
                      id: "api.transaction.proof"
                      version: "1.0"
                      ts: "2026-01-19T10:00:00Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      proofStatus: "pending"
                      message: "Transaction awaiting proof generation. Batch 847/1000 transactions."
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/transaction/proof/leaf:
    post:
      tags:
        - "Proof"
      summary: "Get transaction leaf data"
      description: |
        Retrieves the raw transaction leaf data used to compute the leaf hash in the Merkle tree.
        This enables independent verification by allowing anyone to:
        1. Fetch this leaf data
        2. Hash it with SHA-256
        3. Verify the hash matches the `leafHash` in the proof response

        The leaf data includes the transaction and all its token_transactions.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetProofLeafRequest'
            example:
              context:
                id: "api.transaction.proof.leaf"
                version: "1.0"
                ts: "2026-01-19T10:00:00Z"
                msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef"
                developerToken: "dev_pk_..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Leaf data retrieved successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ProofLeafData'
              example:
                context:
                  id: "api.transaction.proof.leaf"
                  version: "1.0"
                  ts: "2026-01-19T10:00:00Z"
                  msgId: "..."
                  status: "successful"
                response:
                  txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                  operation: "transfer"
                  tokenClass: "USDC"
                  status: "completed"
                  createdAt: "2026-01-19T09:55:00Z"
                  tokenTransactions:
                    - id: "urn:uuid:tt-001"
                      tokenId: "urn:uuid:token-abc123"
                      entryType: "debit"
                      amount: "1000000"
                      identities:
                        - id: "did:web:alice.example"
                          type: "owner"
                      participants:
                        - accountId: "did:web:alice.example"
                          role: "sender"
                    - id: "urn:uuid:tt-002"
                      tokenId: "urn:uuid:token-def456"
                      entryType: "credit"
                      amount: "1000000"
                      identities:
                        - id: "did:web:bob.example"
                          type: "owner"
                      participants:
                        - accountId: "did:web:bob.example"
                          role: "receiver"
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/transaction/proof/verify:
    post:
      tags:
        - "Proof"
      summary: "Verify transaction proof"
      description: |
        Convenience endpoint that performs server-side verification of a transaction's Merkle proof.
        This verifies:
        1. Leaf hash matches the stored transaction data
        2. Proof path correctly computes to the Merkle root
        3. Anchor exists on the blockchain (if anchored)

        **Note:** For trustless verification, clients should perform verification independently
        using the data from `/v1/transaction/proof` and `/v1/transaction/proof/leaf`.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_VerifyProofRequest'
            example:
              context:
                id: "api.transaction.proof.verify"
                version: "1.0"
                ts: "2026-01-19T10:00:00Z"
                msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef"
                developerToken: "dev_pk_..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Verification result"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ProofVerification'
              examples:
                Verified:
                  summary: "All checks passed"
                  value:
                    context:
                      id: "api.transaction.proof.verify"
                      version: "1.0"
                      ts: "2026-01-19T10:00:00Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      verified: true
                      leafHashValid: true
                      proofPathValid: true
                      anchorValid: true
                      verifiedAt: "2026-01-19T10:00:00Z"
                PartiallyVerified:
                  summary: "Proof valid but not yet anchored"
                  value:
                    context:
                      id: "api.transaction.proof.verify"
                      version: "1.0"
                      ts: "2026-01-19T10:00:00Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      verified: true
                      leafHashValid: true
                      proofPathValid: true
                      anchorValid: null
                      message: "Proof is valid but not yet anchored to blockchain"
                      verifiedAt: "2026-01-19T10:00:00Z"
                Failed:
                  summary: "Verification failed"
                  value:
                    context:
                      id: "api.transaction.proof.verify"
                      version: "1.0"
                      ts: "2026-01-19T10:00:00Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      verified: false
                      leafHashValid: false
                      proofPathValid: true
                      anchorValid: true
                      error: "Leaf hash mismatch - transaction data may have been modified"
                      verifiedAt: "2026-01-19T10:00:00Z"
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

# ===============================================================
#   COMPONENTS
# ===============================================================

components:
  # -------------------- Schemas --------------------
  schemas:
    # --- API Envelope Schemas (reusing from account API) ---
    Context:
      type: object
      required: [id, version, ts, msgId]
      properties:
        id: { type: string, example: "api.token.get" }
        version: { type: string, example: "1.0" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        transactionId: { type: string, format: uuid, nullable: true, description: "ID for async operations" }
        developerToken: { type: string, example: "dev_pk_...", nullable: true, description: "B2B Developer API Key/Token" }
        developerSignature: { type: string, example: "t=...,v1=...", nullable: true, description: "B2B Developer Signature" }
        authorization: { type: string, example: "Bearer eyJ...", nullable: true, description: "End-user's session token" }
    ResponseContext:
      type: object
      required: [id, version, ts, msgId, status]
      properties:
        id: { type: string, example: "api.token.get" }
        version: { type: string, example: "1.0" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        transactionId: { type: string, format: uuid, nullable: true }
        status: { type: string, enum: [successful, failed, pending] }
        error: { $ref: '#/components/schemas/ErrorPayload' }
    Signature:
      type: object
      required: [type, jws]
      properties:
        type: { type: string, example: "JsonWebSignature2020" }
        jws: { type: string, example: "eyJ...", description: "End-user's JWS of the payload object" }
    ErrorPayload:
      type: object
      required: [code, message]
      nullable: true
      properties:
        code: { type: string, example: "RESOURCE_NOT_FOUND" }
        message: { type: string }

    # --- Base Request/Response Schemas ---
    RequestContext:
      type: object
      required: [context, payload]
      properties:
        context: { $ref: '#/components/schemas/Context' }
        payload: { type: object }
        signature: { $ref: '#/components/schemas/Signature'}
    ApiResponse:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object }
    ApiError:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object, description: "Always empty on error", example: {} }

    # --- Common Search Schemas ---

    PaginationRequest:
      type: object
      description: "Pagination parameters for search requests"
      properties:
        limit:
          type: integer
          default: 50
          minimum: 1
          maximum: 100
          description: "Maximum number of results to return"
        offset:
          type: integer
          default: 0
          minimum: 0
          description: "Number of results to skip"

    PaginationResponse:
      type: object
      description: "Pagination metadata in search responses"
      properties:
        total: { type: integer, description: "Total number of matching records" }
        limit: { type: integer, description: "Requested limit" }
        offset: { type: integer, description: "Requested offset" }

    SortRequest:
      type: object
      description: "Sort parameters for search requests"
      properties:
        field:
          type: string
          enum: [createdAt, updatedAt, name]
          default: createdAt
          description: "Field to sort by"
        order:
          type: string
          enum: [asc, desc]
          default: desc
          description: "Sort direction"

    FilterFieldConvention:
      type: string
      description: |
        **Filter Field Naming Convention**

        Filters are resolved in the following order. `defaultFilterScope` ONLY affects
        unqualified custom fields (category 3 below).

        ┌─────────────────────────────────────────────────────────────────────────┐
        │  FILTER RESOLUTION ORDER                                                │
        ├─────────────────────────────────────────────────────────────────────────┤
        │                                                                         │
        │  1. KNOWN FIELDS (top-level table columns):                            │
        │     - Examples: status, tokenClass, tokenStandard, fungibility, owner  │
        │     - These are direct database columns, NOT in JSONB                  │
        │     - ⚠️  defaultFilterScope has NO effect on these                    │
        │     - Usage: "status": "active"                                        │
        │                                                                         │
        │  2. EXPLICIT PATHS (dot-notation):                                     │
        │     - Examples: "data.reserveAccount", "metadata.category"             │
        │     - Explicitly specifies which JSONB column to search                │
        │     - ⚠️  defaultFilterScope has NO effect on these                    │
        │     - Usage: "data.jurisdiction": "US"                                 │
        │                                                                         │
        │  3. UNQUALIFIED CUSTOM FIELDS (no dot, not a known field):             │
        │     - Examples: "customField", "myProperty"                            │
        │     - ✅ defaultFilterScope ONLY affects these fields                  │
        │     - If defaultFilterScope="metadata" → metadata.customField          │
        │     - If defaultFilterScope="data" → data.customField                  │
        │                                                                         │
        └─────────────────────────────────────────────────────────────────────────┘

        **Known Fields by Entity:**
        - TokenClass: tokenClass, tokenStandard, name, status
        - Token: tokenClass, tokenStandard, status, fungibility, owner
        - Transaction: status, tokenId
        - TokenTransaction: tokenId, operation, entryType, fromAccount, toAccount

        **Example 1: Default scope is metadata**
        ```json
        {
          "filters": {
            "status": "active",           // → tokens.status (known field)
            "tokenClass": "USDC",         // → tokens.token_class (known field)
            "category": "stablecoin",     // → metadata.category (unqualified)
            "data.jurisdiction": "US"     // → data.jurisdiction (explicit path)
          },
          "defaultFilterScope": "metadata"
        }
        ```

        **Example 2: Default scope is data**
        ```json
        {
          "filters": {
            "status": "active",           // → tokens.status (known field, unchanged!)
            "reserveAccount": "acct-123", // → data.reserveAccount (unqualified)
            "metadata.tags": ["regulated"] // → metadata.tags (explicit path)
          },
          "defaultFilterScope": "data"
        }
        ```

    # --- TokenClass Schemas ---

    TokenClass:
      type: object
      required: [tokenClass, tokenStandard, name, schema]
      description: "Token class definition with schema and authorized identities"
      properties:
        tokenClass:
          type: string
          description: "Unique token class identifier (e.g., USDC, USDT)"
        tokenStandard:
          type: string
          description: "Base protocol standard (e.g., ERC-3643, UNITS-FT)"
        name:
          type: string
          description: "Human-readable name"
        description:
          type: string
          description: "Detailed description"
        schema:
          type: object
          description: "JSON Schema definition for token instances"
          properties:
            metadata:
              type: object
              description: "Metadata schema requirements"
            data:
              type: object
              description: "Data schema requirements"
        identities:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
          description: "Authorized identities who can mint tokens of this class"
        metadata:
          type: object
          description: "Token class metadata including balance model configuration"
          properties:
            balanceModel:
              type: string
              enum: [per_owner, single_token]
              default: single_token
              description: |
                Defines how token balances are managed:
                - "per_owner": Each owner has their own token with balance (fungible tokens).
                              Mint creates/updates token for the owner.
                              Transfer debits sender's token, credits recipient's token.
                - "single_token": One token per class (NFTs, unique assets).
                                  Mint creates/updates the single token.
                                  Transfer changes ownership of the token.
            decimals:
              type: integer
              minimum: 0
              maximum: 18
              description: "Decimal places for fungible tokens (e.g., 6 for USDC, 18 for ETH)"
            category:
              type: string
              description: "Category (e.g., stablecoin, security, utility)"
            tags:
              type: array
              items: { type: string }
            createdAt:
              type: string
              format: date-time
            updatedAt:
              type: string
              format: date-time

    RegisterTokenClassRequest:
      type: object
      required: [tokenClass, tokenStandard, name, schema]
      description: "Request to register a new token class"
      properties:
        tokenClass: { type: string, example: "USDC" }
        tokenStandard: { type: string, example: "ERC-3643" }
        name: { type: string, example: "USD Coin" }
        description: { type: string }
        schema:
          type: object
          description: "JSON Schema for token instances"
        identities:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
          description: "Initial authorized minters"
        metadata:
          type: object
          description: "Token class metadata"

    UpdateTokenClassRequest:
      type: object
      required: [tokenClass]
      description: "Request to update token class properties"
      properties:
        tokenClass: { type: string, example: "USDC" }
        description: { type: string }
        schema:
          type: object
          description: "Updated schema definition"
        identities:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
          description: "Updated list of authorized identities"
        metadata:
          type: object
          description: "Updated metadata"

    GetTokenClassRequest:
      type: object
      required: [tokenClass]
      properties:
        tokenClass: { type: string, example: "USDC" }

    SearchTokenClassRequest:
      type: object
      description: "Search request with filters, pagination, and sort at payload level"
      properties:
        filters:
          type: object
          description: |
            Search filters for token classes.
            Known fields: tokenStandard, category, tags.
            Custom fields default to metadata scope (see FilterFieldConvention).
          properties:
            tokenStandard: { type: string, description: "Filter by protocol standard" }
            category: { type: string, description: "Filter by category (searches metadata.category)" }
            tags: { type: array, items: { type: string }, description: "Filter by tags" }
          additionalProperties: true
        defaultFilterScope:
          type: string
          enum: [metadata, data]
          default: metadata
          description: "Default scope for unqualified filter fields (default: metadata)"
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        sort:
          $ref: '#/components/schemas/SortRequest'

    TokenClassList:
      type: object
      properties:
        tokenClasses:
          type: array
          items: { $ref: '#/components/schemas/TokenClass' }
        pagination:
          $ref: '#/components/schemas/PaginationResponse'

    # --- Token-Specific Schemas ---

    # Identity
    IdentityType:
      type: string
      description: "Type of identity relationship"
      enum: [issuer, creator, owner, operator, custodian, manager, controller]

    Identity:
      type: object
      description: "Identity relationship record"
      required: [id, type]
      properties:
        id:
          type: string
          format: uri-reference
          description: "DID, URI, or identifier"
        type:
          $ref: '#/components/schemas/IdentityType'
        roles:
          type: array
          items: { type: string }
          description: "Additional role descriptors"

    # Token Metadata
    TokenMetadata:
      type: object
      required: [tokenStandard, name, symbol, decimals, fungibility]
      properties:
        tokenStandard:
          type: string
          description: "Base protocol standard (e.g., ERC-3643, UNITS-FT, ERC-20)"
          example: "ERC-3643"
        name: { type: string, example: "USD Coin" }
        symbol: { type: string, example: "USDC" }
        decimals: { type: integer, example: 6 }
        fungibility: { type: string, enum: [fungible, nonFungible, semiFungible] }
        tokenClass:
          type: string
          description: "Specific token class identifier (e.g., USDC, USDT, WETH)"
          example: "USDC"
        version: { type: string, example: "1.0.0" }
        status: { type: string, enum: [active, inactive, deprecated, test] }
        valuationType: { type: string, enum: [fixed, pegged, market] }
        stateModel: { type: string, enum: [native, proxy] }
        flags:
          type: object
          properties:
            transactable: { type: boolean, default: true }
            transferable: { type: boolean, default: true }
            locked: { type: boolean, default: false }
            revocable: { type: boolean, default: false }
        tags: { type: array, items: { type: string } }
        description: { type: string }
        externalUrls: { type: array, items: { type: string, format: uri } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    # Token State
    TokenState:
      type: object
      required: [status]
      properties:
        status: { type: string, enum: [active, frozen, redeemed, burned, expired] }
        effectiveFrom: { type: string, format: date-time }
        effectiveUntil: { type: string, format: date-time, nullable: true }
        supply:
          type: object
          properties:
            totalSupply: { type: string }
            circulatingSupply: { type: string }
        lockState:
          type: object
          properties:
            locked: { type: boolean }
            lockReason: { type: string }
            lockedBy: { type: string, format: uri-reference }
            lockedAt: { type: string, format: date-time }
        restrictions:
          type: object
          properties:
            jurisdiction: { type: array, items: { type: string } }
            allowedUseCases: { type: array, items: { type: string } }
        customState: { type: object, additionalProperties: true }
        stateCommitment: { type: string }

    # Verifiable Claim
    Claim:
      type: object
      required: [id, "@context", type, issuer, issuanceDate, credentialSubject]
      properties:
        id: { type: string, format: uri }
        "@context":
          oneOf:
            - type: string
            - type: array
              items: { type: string }
        type:
          oneOf:
            - type: string
            - type: array
              items: { type: string }
        issuer: { type: string, format: uri-reference }
        issuanceDate: { type: string, format: date-time }
        expirationDate: { type: string, format: date-time }
        visibility: { type: string, enum: [public, private, protected] }
        credentialSubject:
          type: object
          required: [id]
          properties:
            id: { type: string, format: uri-reference }
          additionalProperties: true
        proof:
          type: object
          properties:
            type: { type: string }
            created: { type: string, format: date-time }
            verificationMethod: { type: string, format: uri }
            proofPurpose: { type: string }
            jws: { type: string }
        status: { type: string, enum: [asserted, verified, revoked, expired] }

    # Token Details (full representation)
    Token:
      type: object
      required: [id, metadata, state]
      properties:
        id: { type: string, format: uri-reference }
        metadata: { $ref: '#/components/schemas/TokenMetadata' }
        data: { type: object, additionalProperties: true }
        claims: { type: array, items: { $ref: '#/components/schemas/Claim' } }
        identities:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
          description: "Identity relationships (issuer, creator, owner, etc.)"
        state: { $ref: '#/components/schemas/TokenState' }

    # --- Request Payloads ---
    GetTokenRequest:
      type: object
      required: [tokenId]
      properties:
        tokenId: { type: string, format: uri-reference, example: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab" }

    MintTokenRequest:
      type: object
      required: [tokenClass, metadata, initialSupply]
      description: "Request to mint a new token instance"
      properties:
        tokenClass:
          type: string
          description: "Token class identifier (must be pre-registered)"
          example: "USDC"
        metadata:
          type: object
          description: "Token metadata"
          additionalProperties: true
        data:
          type: object
          description: "Token data section (optional)"
          additionalProperties: true
        identities:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
          description: "Identity relationships for this token"
        claims:
          type: array
          items: { $ref: '#/components/schemas/Claim' }
          description: "Initial verifiable claims (optional)"
        initialSupply:
          type: string
          description: "Initial token supply (for fungible tokens)"

    SearchTokensRequest:
      type: object
      description: "Search request with filters, pagination, and sort at payload level"
      properties:
        filters:
          type: object
          description: |
            Search filters for tokens. Owner filtering inferred from JWT/ACL.
            Known fields: tokenClass, tokenStandard, fungibility, status, tags.
            Custom fields default to metadata scope (see FilterFieldConvention).
          properties:
            tokenClass: { type: string, description: "Filter by token class (e.g., USDC, USDT)" }
            tokenStandard: { type: string, description: "Filter by protocol standard" }
            fungibility: { type: string, enum: [fungible, nonFungible, semiFungible] }
            status: { type: string, enum: [active, frozen, redeemed, burned, expired] }
            tags: { type: array, items: { type: string } }
          additionalProperties: true
        defaultFilterScope:
          type: string
          enum: [metadata, data]
          default: metadata
          description: "Default scope for unqualified filter fields (default: metadata)"
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        sort:
          $ref: '#/components/schemas/SortRequest'

    TransactRequest:
      type: object
      required: [operation]
      description: |
        Request payload for token operations. The structure varies by operation:

        **For update:** `operation`, `tokenId`, `data` (optional), `metadata` (optional)
        **For addClaim:** `operation`, `tokenId`, `claim`
        **For revokeClaim:** `operation`, `tokenId`, `claimId`
        **For burn/freeze/transfer:** `operation`, `tokenId`, plus operation-specific params at root level

        **Note:** `mint` operation is handled by separate `/v1/token/mint` endpoint.
      properties:
        operation:
          type: string
          enum: [burn, freeze, unfreeze, lock, unlock, redeem, transfer, update, addClaim, revokeClaim, updateClaimStatus]
        tokenId:
          type: string
          format: uri-reference
          description: "Required for all operations except mint"
        metadata:
          type: object
          description: "Token metadata (for mint, update operations)"
          additionalProperties: true
        data:
          type: object
          description: "Token data section (for mint, update operations)"
          additionalProperties: true
        claim:
          type: object
          description: "Verifiable credential to add (for addClaim operation)"
          additionalProperties: true
        claimId:
          type: string
          description: "Claim ID to revoke (for revokeClaim operation)"
        amount:
          type: string
          description: "Amount for burn/transfer operations"
        to:
          type: string
          format: uri-reference
          description: "Recipient for transfer operation"
        reason:
          type: string
          description: "Reason for burn/freeze operations"
        frozenBy:
          type: string
          format: uri-reference
          description: "Entity performing freeze operation"
        initialSupply:
          type: string
          description: "Initial supply for mint operation (fungible tokens)"

    # --- Response Payloads ---
    TokenDetails:
      allOf:
        - $ref: '#/components/schemas/Token'

    TokenList:
      type: object
      properties:
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/Token'
        pagination:
          $ref: '#/components/schemas/PaginationResponse'

    TransactAccepted:
      type: object
      description: "Async transaction submission response"
      required: [txId, status, message]
      properties:
        txId:
          type: string
          format: uri-reference
          description: "Transaction ID for tracking"
        status:
          type: string
          enum: [submitted, queued]
          description: "Initial status"
        message:
          type: string
          description: "Confirmation message"
        estimatedCompletionTime:
          type: string
          format: date-time
          description: "Estimated completion time (optional)"

    # --- Transaction Schemas ---

    ExecutionStatus:
      type: string
      description: "Transaction execution status"
      enum: [submitted, pending, executing, completed, failed, rolled_back]

    ExecutionTimestamps:
      type: object
      description: "Transaction lifecycle timestamps"
      properties:
        submitted:
          type: string
          format: date-time
          description: "When transaction was submitted"
        started:
          type: string
          format: date-time
          description: "When execution started"
        completed:
          type: string
          format: date-time
          description: "When execution completed"
        finalized:
          type: string
          format: date-time
          description: "When transaction was finalized"
        failed:
          type: string
          format: date-time
          description: "When transaction failed (if applicable)"

    TransactionProgress:
      type: object
      description: "Progress information for in-flight transactions"
      properties:
        currentStep:
          type: string
          description: "Current step being executed"
        completedSteps:
          type: integer
          description: "Number of completed steps"
        totalSteps:
          type: integer
          description: "Total number of steps"

    TransactionSummary:
      type: object
      description: "High-level transaction summary"
      properties:
        operation:
          type: string
          description: "Primary operation type"
        tokenCount:
          type: integer
          description: "Number of tokens affected"
        proofId:
          type: string
          format: uri-reference
          description: "Reference to proof record"

    TransactionError:
      type: object
      description: "Error details for failed transactions"
      required: [code, message]
      properties:
        code:
          type: string
          description: "Error code"
        message:
          type: string
          description: "Error message"
        details:
          type: object
          description: "Additional error details"
          additionalProperties: true

    TransactionStatus:
      type: object
      description: "Transaction status response"
      required: [txId, status, timestamps]
      properties:
        txId:
          type: string
          format: uri-reference
        status:
          $ref: '#/components/schemas/ExecutionStatus'
        progress:
          $ref: '#/components/schemas/TransactionProgress'
        timestamps:
          $ref: '#/components/schemas/ExecutionTimestamps'
        summary:
          $ref: '#/components/schemas/TransactionSummary'
        error:
          $ref: '#/components/schemas/TransactionError'

    TransactionLog:
      type: object
      description: "Complete transaction log with all details"
      required: [txId, initiator, tokenTransactions, status, timestamps]
      properties:
        txId:
          type: string
          format: uri-reference
        correlationId:
          type: string
          description: "External correlation ID"
        initiator:
          type: string
          format: uri-reference
          description: "Account that initiated the transaction"
        identities:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
          description: "Snapshot of all identities involved (captured at transaction time for auditability)"
        tokenTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TokenTransactionReference'
          description: "References to token transactions"
        workflowInstanceId:
          type: string
          format: uri-reference
          description: "Workflow instance reference"
        status:
          $ref: '#/components/schemas/ExecutionStatus'
        timestamps:
          $ref: '#/components/schemas/ExecutionTimestamps'
        proofId:
          type: string
          format: uri-reference
        proofProfile:
          type: string
          enum: [zk-snark, zk-stark, merkle, tee-attestation, signature-bundle, none]
        batchId:
          type: string
        ledgerAnchors:
          type: array
          items:
            $ref: '#/components/schemas/LedgerAnchor'
        metadata:
          type: object
          additionalProperties: true

    TokenTransactionReference:
      type: object
      description: "Reference to a token transaction"
      required: [tokenTxId, tokenId, operation]
      properties:
        tokenTxId:
          type: string
          format: uri-reference
        tokenId:
          type: string
          format: uri-reference
        operation:
          type: string

    TokenTransaction:
      type: object
      description: "Detailed token transaction record"
      required: [tokenTxId, txId, tokenId, operation, stateAfter, timestamp]
      properties:
        tokenTxId:
          type: string
          format: uri-reference
        txId:
          type: string
          format: uri-reference
        tokenId:
          type: string
          format: uri-reference
        operation:
          type: string
          enum: [mint, burn, transfer, freeze, unfreeze, lock, unlock, redeem, update, addClaim, revokeClaim]
        entryType:
          type: string
          enum: [debit, credit]
          nullable: true
          description: |
            Double-entry bookkeeping indicator for transfer operations:
            - "debit": Reduces sender's balance (outgoing transfer)
            - "credit": Increases recipient's balance (incoming transfer)
            - null: For non-transfer operations (mint, burn, freeze, etc.)

            Transfer operations create TWO token_transactions with the same txId:
            one debit entry for the sender and one credit entry for the recipient.
        identities:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
          description: "Snapshot of token identities at time of this transaction"
        participants:
          type: array
          items:
            $ref: '#/components/schemas/Participant'
        fromAccount:
          type: string
          format: uri-reference
        toAccount:
          type: string
          format: uri-reference
        amount:
          $ref: '#/components/schemas/AmountTransferred'
        stateBefore:
          $ref: '#/components/schemas/StateReference'
        stateAfter:
          $ref: '#/components/schemas/StateReference'
        proofId:
          type: string
          format: uri-reference
        timestamp:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    Participant:
      type: object
      description: "Transaction participant"
      required: [accountId, role]
      properties:
        accountId:
          type: string
          format: uri-reference
        role:
          type: string
          enum: [sender, receiver, operator, approver]

    AmountTransferred:
      type: object
      description: "Amount transferred/affected"
      properties:
        amount:
          type: string
          description: "Amount (string for big numbers)"
        unit:
          type: string
          default: "token"
        decimals:
          type: integer

    StateReference:
      type: object
      description: |
        State reference with cryptographic commitment for verification.
        State commitments form a chain where each commitment includes the previous one,
        enabling tamper detection and full state history verification.
      required: [stateCommitment]
      properties:
        stateCommitment:
          type: string
          description: |
            SHA-256 hash of the token state computed from:
            previousCommitment + lastTxId + timestamp + tokenId + owner +
            identities + claims + state + stateVersion
        previousCommitment:
          type: string
          description: "Previous state commitment hash (enables chain verification)"
        lastTxId:
          type: string
          format: uri-reference
          description: "Transaction ID that caused this state change"
        stateVersion:
          type: integer
          description: "Monotonically increasing version number (optimistic locking)"
        stateSnapshot:
          type: object
          additionalProperties: true
          description: "Full state snapshot at this version"

    LedgerAnchor:
      type: object
      description: "External blockchain anchor"
      properties:
        chain:
          type: string
          example: [ethereum, bitcoin, solana]
        network:
          type: string
          example: [mainnet, sepolia]
        txHash:
          type: string
        blockId:
          type: string
        timestamp:
          type: string
          format: date-time

    # --- Transaction Request Payloads ---

    TransactionStatusRequest:
      type: object
      required: [txId]
      properties:
        txId:
          type: string
          format: uri-reference

    GetTransactionRequest:
      type: object
      required: [txId]
      properties:
        txId:
          type: string
          format: uri-reference

    SearchTransactionsRequest:
      type: object
      description: "Search request with filters, pagination at payload level"
      properties:
        filters:
          type: object
          description: "Search filters for transactions. Initiator filtering inferred from JWT/ACL."
          properties:
            status:
              $ref: '#/components/schemas/ExecutionStatus'
            tokenId:
              type: string
              format: uri-reference
              description: "Filter by token ID"
            dateRange:
              type: object
              description: "Filter by date range"
              properties:
                from: { type: string, format: date-time }
                to: { type: string, format: date-time }
          additionalProperties: true
        defaultFilterScope:
          type: string
          enum: [metadata, data]
          default: metadata
          description: "Default scope for unqualified filter fields"
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        sort:
          allOf:
            - $ref: '#/components/schemas/SortRequest'
            - properties:
                field:
                  enum: [createdAt, updatedAt, timestamp]
                  default: createdAt

    TokenTransactionsRequest:
      type: object
      description: "Request for token transaction history with filters and pagination at payload level"
      properties:
        filters:
          type: object
          description: "Transaction history filters"
          properties:
            tokenId:
              type: string
              format: uri-reference
              description: "Token ID to get history for"
            operation:
              type: string
              enum: [mint, burn, transfer, freeze, unfreeze, lock, unlock, redeem, update, addClaim, revokeClaim]
              description: "Filter by operation type"
            entryType:
              type: string
              enum: [debit, credit]
              description: "Filter by entry type (for transfer operations)"
            dateRange:
              type: object
              description: "Filter by date range"
              properties:
                from: { type: string, format: date-time }
                to: { type: string, format: date-time }
          additionalProperties: true
        defaultFilterScope:
          type: string
          enum: [metadata, data]
          default: metadata
          description: "Default scope for unqualified filter fields"
        pagination:
          allOf:
            - $ref: '#/components/schemas/PaginationRequest'
            - properties:
                limit:
                  default: 100
        sort:
          allOf:
            - $ref: '#/components/schemas/SortRequest'
            - properties:
                field:
                  enum: [timestamp, createdAt]
                  default: timestamp

    # --- Transaction Response Payloads ---

    TransactionDetails:
      allOf:
        - $ref: '#/components/schemas/TransactionLog'

    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionLog'
        pagination:
          $ref: '#/components/schemas/PaginationResponse'

    TokenTransactionList:
      type: object
      properties:
        tokenTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TokenTransaction'
        pagination:
          $ref: '#/components/schemas/PaginationResponse'

    # --- Specific Request Envelopes ---

    # TokenClass API Envelopes
    ApiRequest_RegisterTokenClassRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/RegisterTokenClassRequest' }

    ApiRequest_UpdateTokenClassRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/UpdateTokenClassRequest' }

    ApiRequest_GetTokenClassRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/GetTokenClassRequest' }

    ApiRequest_SearchTokenClassRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/SearchTokenClassRequest' }

    ApiResponse_TokenClassDetails:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TokenClass' }

    ApiResponse_TokenClassList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TokenClassList' }

    # Token API Envelopes
    ApiRequest_GetTokenRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/GetTokenRequest' }

    ApiRequest_MintTokenRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/MintTokenRequest' }
            signature: { $ref: '#/components/schemas/Signature' }

    ApiRequest_SearchTokensRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/SearchTokensRequest' }

    ApiRequest_TransactRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/TransactRequest' }
            signature: { $ref: '#/components/schemas/Signature' }

    # --- Specific Response Envelopes ---
    ApiResponse_TokenDetails:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TokenDetails' }

    ApiResponse_TokenList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TokenList' }

    ApiResponse_TransactAccepted:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            context:
              allOf:
                - $ref: '#/components/schemas/ResponseContext'
                - properties:
                    status:
                      type: string
                      enum: ["accepted"]
                    transactionId:
                      type: string
                      format: uri-reference
            response: { $ref: '#/components/schemas/TransactAccepted' }

    # --- Transaction API Request Envelopes ---
    ApiRequest_TransactionStatusRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/TransactionStatusRequest' }

    ApiRequest_GetTransactionRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/GetTransactionRequest' }

    ApiRequest_SearchTransactionsRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/SearchTransactionsRequest' }

    ApiRequest_TokenTransactionsRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/TokenTransactionsRequest' }

    # --- Transaction API Response Envelopes ---
    ApiResponse_TransactionStatus:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TransactionStatus' }

    ApiResponse_TransactionDetails:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TransactionDetails' }

    ApiResponse_TransactionList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TransactionList' }

    ApiResponse_TokenTransactionList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TokenTransactionList' }

    # --- Proof Schemas ---

    ProofStatus:
      type: string
      description: "Proof generation and anchoring status"
      enum: [pending, proven, anchored]

    ProofDirection:
      type: string
      description: "Direction indicator for Merkle proof path nodes"
      enum: [left, right]

    ProofPathNode:
      type: object
      description: "A single node in the Merkle proof path"
      required: [hash, direction]
      properties:
        hash:
          type: string
          description: "Sibling hash at this level (hex-encoded)"
        direction:
          $ref: '#/components/schemas/ProofDirection'

    BlockchainAnchor:
      type: object
      description: "Blockchain anchoring details"
      properties:
        network:
          type: string
          description: "Blockchain network name"
          example: "ethereum_sepolia"
        txHash:
          type: string
          description: "Blockchain transaction hash containing the Merkle root"
          example: "0x1234567890abcdef..."
        blockNumber:
          type: integer
          format: int64
          description: "Block number where the anchor was confirmed"
        blockTimestamp:
          type: string
          format: date-time
          description: "Block timestamp"
        contractAddress:
          type: string
          description: "Smart contract address used for anchoring"

    VerificationInfo:
      type: object
      description: "Information for independent verification"
      properties:
        algorithm:
          type: string
          description: "Hashing algorithm used"
          default: "sha256"
        leafDataEndpoint:
          type: string
          description: "Endpoint to retrieve raw leaf data for verification"
          example: "/v1/transaction/proof/leaf"

    ProofDetails:
      type: object
      description: "Complete Merkle proof details for a transaction"
      required: [txId, proofStatus]
      properties:
        txId:
          type: string
          format: uri-reference
          description: "Transaction ID"
        leafHash:
          type: string
          description: "SHA-256 hash of the transaction leaf data (hex-encoded)"
        merkleRoot:
          type: string
          description: "Merkle tree root hash (hex-encoded)"
        proofPath:
          type: array
          items:
            $ref: '#/components/schemas/ProofPathNode'
          description: "Path from leaf to root for verification"
        leafIndex:
          type: integer
          description: "Position of this transaction's leaf in the Merkle tree"
        batchId:
          type: string
          format: uri-reference
          description: "Batch identifier grouping transactions in this Merkle tree"
        proofStatus:
          $ref: '#/components/schemas/ProofStatus'
        anchor:
          $ref: '#/components/schemas/BlockchainAnchor'
        verification:
          $ref: '#/components/schemas/VerificationInfo'
        message:
          type: string
          description: "Additional status message (e.g., for pending proofs)"

    TokenTransactionSummary:
      type: object
      description: "Summary of a token transaction for Merkle leaf data"
      required: [id, tokenId]
      properties:
        id:
          type: string
          format: uri-reference
          description: "Token transaction ID"
        tokenId:
          type: string
          format: uri-reference
          description: "Token ID"
        entryType:
          type: string
          enum: [debit, credit]
          nullable: true
          description: "Double-entry bookkeeping type (for transfers)"
        amount:
          type: string
          description: "Amount (as string for precision)"
        identities:
          type: array
          items:
            $ref: '#/components/schemas/Identity'
        participants:
          type: array
          items:
            $ref: '#/components/schemas/Participant'

    ProofLeafData:
      type: object
      description: "Raw transaction leaf data used in Merkle tree"
      required: [txId, operation, tokenClass, status, createdAt, tokenTransactions]
      properties:
        txId:
          type: string
          format: uri-reference
          description: "Transaction ID"
        operation:
          type: string
          description: "Operation type (mint, transfer, burn, etc.)"
        tokenClass:
          type: string
          description: "Token class identifier"
        status:
          type: string
          description: "Transaction status"
        createdAt:
          type: string
          format: date-time
          description: "Transaction creation timestamp"
        tokenTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TokenTransactionSummary'
          description: "All token transactions included in this transaction"

    ProofVerificationResult:
      type: object
      description: "Result of server-side proof verification"
      required: [verified, verifiedAt]
      properties:
        verified:
          type: boolean
          description: "Overall verification result"
        leafHashValid:
          type: boolean
          description: "Whether the leaf hash matches the transaction data"
        proofPathValid:
          type: boolean
          description: "Whether the proof path correctly computes to the Merkle root"
        anchorValid:
          type: boolean
          nullable: true
          description: "Whether the Merkle root exists on the blockchain (null if not yet anchored)"
        error:
          type: string
          description: "Error message if verification failed"
        message:
          type: string
          description: "Additional information about verification status"
        verifiedAt:
          type: string
          format: date-time
          description: "Timestamp of verification"

    # --- Proof API Request Payloads ---

    GetProofRequest:
      type: object
      required: [txId]
      properties:
        txId:
          type: string
          format: uri-reference
          description: "Transaction ID to get proof for"

    GetProofLeafRequest:
      type: object
      required: [txId]
      properties:
        txId:
          type: string
          format: uri-reference
          description: "Transaction ID to get leaf data for"

    VerifyProofRequest:
      type: object
      required: [txId]
      properties:
        txId:
          type: string
          format: uri-reference
          description: "Transaction ID to verify proof for"

    # --- Proof API Request Envelopes ---

    ApiRequest_GetProofRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/GetProofRequest' }

    ApiRequest_GetProofLeafRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/GetProofLeafRequest' }

    ApiRequest_VerifyProofRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/VerifyProofRequest' }

    # --- Proof API Response Envelopes ---

    ApiResponse_ProofDetails:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/ProofDetails' }

    ApiResponse_ProofLeafData:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/ProofLeafData' }

    ApiResponse_ProofVerification:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/ProofVerificationResult' }

  # -------------------- Responses --------------------
  responses:
    UnauthorizedError:
      description: "Authentication failed. Can be invalid Developer Token OR invalid User JWT."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "AUTHENTICATION_FAILED", message: "Token invalid or expired." } }
            response: {}
    ForbiddenError:
      description: "Forbidden. Insufficient permissions."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "PERMISSION_DENIED", message: "Insufficient permissions to perform this action." } }
            response: {}
    NotFoundError:
      description: "Resource not found."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "RESOURCE_NOT_FOUND", message: "The requested token was not found." } }
            response: {}
    BadRequestError:
      description: "Invalid request."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "INVALID_REQUEST", message: "Invalid request parameters." } }
            response: {}
    ConflictError:
      description: "Conflict with existing resource or state."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "RESOURCE_CONFLICT", message: "Operation conflicts with current token state." } }
            response: {}

  # -------------------- Security --------------------
  securitySchemes:
    developerToken:
      type: http
      scheme: bearer
      bearerFormat: "JWT or Opaque"
      description: |
        A JWT or Opaque token that identifies the calling B2B developer/backend service.
        This is passed in the standard `Authorization: Bearer <token>` header.
        (This can also be passed in the `context.developerToken` as a fallback).

    developerSignature:
      type: apiKey
      in: header
      name: Signature
      description: |
        The IETF HTTP Signature (RFC 9421) used by B2B developers to ensure message
        integrity and non-repudiation. This is passed in the `Signature` header.
