openapi: 3.0.4
info:
  title: "Finternet API - Token Service"
  description: |
    The official API specification for the Finternet Token (UNITS) service.

    This API enables creation, management, and lifecycle operations for universal tokens
    following the UNITS Token Specification.

    ### Envelope

    All endpoints use the standard envelope (`context`/`payload` → `context`/`response`).
    On failure `context.status` is `failed`, `context.error` carries a `code` and a
    `message`, and `response` is empty.

    ### Authentication

    * `context.developerToken`: the calling application's developer token. Required on
      every endpoint.
    * `context.developerSignature`: optional request signature (RFC 9421), sent in the
      `Signature` header.
    * `context.authorization`: the end user's session token, required by the endpoints
      that act on a signed-in user. Each operation states when it is needed.

    ### RBAC Scopes

    Every endpoint requires the caller's developer token to carry at least one of the
    listed scopes. A `*` (wildcard) scope satisfies any check. Calls that fail the scope
    check return `403 FORBIDDEN`.

    | Endpoint | Required scope |
    |----------|----------------|
    | `POST /v1/registry/tokenclasses/register` | `tokenClasses:create` |
    | `POST /v1/registry/tokenclasses/update` | `tokenClasses:manage` |
    | `POST /v1/registry/tokenclasses/get` | `tokenClasses:view` |
    | `POST /v1/registry/tokenclasses/search` | `tokenClasses:view` |
    | `POST /v1/token/get` | `tokens:view` |
    | `POST /v1/token/mint` | `tokens:create` |
    | `POST /v1/token/search` | `tokens:view` |
    | `POST /v1/token/transact` | `tokens:transact` |
    | `POST /v1/token/transactions` | `transactions:view` |
    | `POST /v1/token/add` | `tokens:create` |
    | `POST /v1/transaction/status` | `transactions:view` |
    | `POST /v1/transaction/get` | `transactions:view` |
    | `POST /v1/transaction/search` | `transactions:view` |
    | `POST /v1/transactions/status` | `transactions:view` |
    | `POST /v1/transaction/proof` | `tokens:view` |
    | `POST /v1/transaction/proof/leaf` | `tokens:view` |
    | `POST /v1/transaction/proof/verify` | `tokens:view` |

    ### Rate limiting

    Every request is rate limited. Requests over the limit return `429 Too Many Requests`
    with a `Retry-After` header giving the number of seconds to wait. The limit depends on
    the tier assigned to the calling client.
  version: "1.0.0"
servers:
  - url: "https://foundry.finternetlab.io"
    description: "Development Environment"
  - url: "http://localhost:3000"
    description: "Local Server"
tags:
  - name: "Token Classes"
    description: |
      Endpoints for token class registration and management.

      The `/v1/registry/tokenclasses/*` paths documented here are canonical. The same
      controller is also served under an equivalent, undocumented alias group
      (`/v1/tokenclass/{register,update,get,search}`); both forms hit identical logic.
  - name: "Token"
    description: "Endpoints for token creation, querying, and lifecycle management."
  - name: "Transaction"
    description: "Endpoints for transaction management."
  - name: "Proof"
    description: "Endpoints for retrieving and verifying Merkle proofs of transactions."

# ===============================================================
#   PATHS
# ===============================================================

paths:
  # -------------------- TokenClass --------------------
  /v1/registry/tokenclasses/register:
    post:
      tags:
        - "Token Classes"
      summary: "Register new token class"
      description: |
        Register a new token class with schema definition and metadata.
        Only authorized administrators can register token classes.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_RegisterTokenClassRequest'
            examples:
              USDC:
                summary: "Register USDC - Circle's USD stablecoin"
                value:
                  context:
                    id: "api.registry.tokenclasses.register"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "USDC"
                    tokenStandard: "UNITS-FT"
                    name: "USD Coin"
                    description: "Circle USD stablecoin pegged 1:1 to USD"
                    schema:
                      type: "object"
                      properties:
                        supply:
                          type: "object"
                          properties:
                            total: { type: "string", pattern: "^[0-9]+$" }
                            circulating: { type: "string", pattern: "^[0-9]+$" }
                      required: ["supply"]
                    identities:
                      - id: "circle"
                        type: "issuer"
                        roles: ["admin", "minter", "burner"]
                    metadata:
                      decimals: 6
                      symbol: "USDC"
                      currency: "USD"
                      fungible: true
                      category: "stablecoin"
              USDT:
                summary: "Register USDT - Tether's USD stablecoin"
                value:
                  context:
                    id: "api.registry.tokenclasses.register"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "USDT"
                    tokenStandard: "UNITS-FT"
                    name: "Tether USD"
                    description: "Tether USD stablecoin"
                    schema:
                      type: "object"
                      properties:
                        supply:
                          type: "object"
                          properties:
                            total: { type: "string", pattern: "^[0-9]+$" }
                            circulating: { type: "string", pattern: "^[0-9]+$" }
                      required: ["supply"]
                    identities:
                      - id: "tether"
                        type: "issuer"
                        roles: ["admin", "minter", "burner"]
                    metadata:
                      decimals: 6
                      symbol: "USDT"
                      currency: "USD"
                      fungible: true
                      category: "stablecoin"
              EURC:
                summary: "Register EURC - Circle's Euro stablecoin"
                value:
                  context:
                    id: "api.registry.tokenclasses.register"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "EURC"
                    tokenStandard: "UNITS-FT"
                    name: "Euro Coin"
                    description: "Circle Euro stablecoin pegged 1:1 to EUR"
                    schema:
                      type: "object"
                      properties:
                        supply:
                          type: "object"
                          properties:
                            total: { type: "string", pattern: "^[0-9]+$" }
                            circulating: { type: "string", pattern: "^[0-9]+$" }
                      required: ["supply"]
                    identities:
                      - id: "circle-eu"
                        type: "issuer"
                        roles: ["admin", "minter", "burner"]
                    metadata:
                      decimals: 6
                      symbol: "EURC"
                      currency: "EUR"
                      fungible: true
                      category: "stablecoin"
              GBPT:
                summary: "Register GBPT - British Pound stablecoin"
                value:
                  context:
                    id: "api.registry.tokenclasses.register"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "d4e5f6a7-b8c9-0123-4567-890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "GBPT"
                    tokenStandard: "UNITS-FT"
                    name: "British Pound Token"
                    description: "Stablecoin pegged 1:1 to GBP"
                    schema:
                      type: "object"
                      properties:
                        supply:
                          type: "object"
                          properties:
                            total: { type: "string", pattern: "^[0-9]+$" }
                            circulating: { type: "string", pattern: "^[0-9]+$" }
                      required: ["supply"]
                    identities:
                      - id: "hsbc"
                        type: "issuer"
                        roles: ["admin", "minter", "burner"]
                    metadata:
                      decimals: 6
                      symbol: "GBPT"
                      currency: "GBP"
                      fungible: true
                      category: "stablecoin"
              INRT:
                summary: "Register INRT - Indian Rupee token"
                value:
                  context:
                    id: "api.registry.tokenclasses.register"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "e5f6a7b8-c9d0-1234-5678-90abcdef1"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "INRT"
                    tokenStandard: "UNITS-FT"
                    name: "Indian Rupee Token"
                    description: "Stablecoin pegged 1:1 to INR"
                    schema:
                      type: "object"
                      properties:
                        supply:
                          type: "object"
                          properties:
                            total: { type: "string", pattern: "^[0-9]+$" }
                            circulating: { type: "string", pattern: "^[0-9]+$" }
                      required: ["supply"]
                    identities:
                      - id: "hdfc"
                        type: "issuer"
                        roles: ["admin", "minter", "burner"]
                    metadata:
                      decimals: 2
                      symbol: "INRT"
                      currency: "INR"
                      fungible: true
                      category: "stablecoin"
              NFH-T:
                summary: "Register NFH-T - Utility token with constraints"
                value:
                  context:
                    id: "api.registry.tokenclasses.register"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "f6a7b8c9-d0e1-2345-6789-0abcdef12"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "NFH-T"
                    tokenStandard: "UNITS-FT"
                    name: "Network for Humanities Token"
                    description: "Utility token with max supply and min balance constraints"
                    schema:
                      type: "object"
                      properties:
                        supply:
                          type: "object"
                          properties:
                            total: { type: "string", pattern: "^[0-9]+$" }
                            circulating: { type: "string", pattern: "^[0-9]+$" }
                      required: ["supply"]
                    identities:
                      - id: "nfh"
                        type: "issuer"
                        roles: ["admin", "minter", "burner"]
                    metadata:
                      decimals: 2
                      symbol: "NFH"
                      fungible: true
                      category: "utility"
                      maxSupply: "10000000"
                      minBalance: "1000"
              ART-NFT:
                summary: "Register ART-NFT - Digital art collectibles"
                value:
                  context:
                    id: "api.registry.tokenclasses.register"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "a7b8c9d0-e1f2-3456-7890-abcdef123"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "ART-NFT"
                    tokenStandard: "UNITS-NFT"
                    name: "Digital Art Collectible"
                    description: "NFT for unique digital artworks and collectibles"
                    schema:
                      type: "object"
                      properties:
                        tokenURI: { type: "string", format: "uri" }
                        attributes:
                          type: "array"
                          items:
                            type: "object"
                            properties:
                              trait_type: { type: "string" }
                              value: { type: ["string", "number"] }
                            required: ["trait_type", "value"]
                        creator: { type: "string" }
                        royaltyBps: { type: "integer", minimum: 0, maximum: 10000 }
                      required: ["tokenURI"]
                    identities:
                      - id: "opensea"
                        type: "issuer"
                        roles: ["admin", "minter"]
                    metadata:
                      symbol: "ART"
                      fungible: false
                      category: "collectible"
              RWA-NFT:
                summary: "Register RWA-NFT - Real world asset tokens"
                value:
                  context:
                    id: "api.registry.tokenclasses.register"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "b8c9d0e1-f2a3-4567-8901-bcdef1234"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "RWA-NFT"
                    tokenStandard: "UNITS-NFT"
                    name: "Real World Asset Token"
                    description: "NFT for tokenized real-world assets like property deeds"
                    schema:
                      type: "object"
                      properties:
                        assetId: { type: "string", description: "External asset identifier" }
                        assetType: { type: "string", enum: ["property", "vehicle", "certificate", "document"] }
                        legalDocHash: { type: "string", pattern: "^[a-f0-9]{64}$", description: "SHA-256 hash of legal document" }
                        jurisdiction: { type: "string" }
                        valuationUSD: { type: "string", pattern: "^[0-9]+\\.?[0-9]*$" }
                      required: ["assetId", "assetType", "legalDocHash"]
                    identities:
                      - id: "realassets"
                        type: "issuer"
                        roles: ["admin", "minter", "compliance"]
                    metadata:
                      symbol: "RWA"
                      fungible: false
                      category: "real_world_asset"
                      requiresKYC: true
      responses:
        '201':
          description: "Token class registered successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenClassDetails'
              example:
                context:
                  id: "api.registry.tokenclasses.register"
                  version: "v1"
                  ts: "2025-01-04T10:00:00Z"
                  msgId: "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                  status: "successful"
                response:
                  id: "urn:uuid:b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                  tokenClass: "USDC"
                  tokenStandard: "UNITS-FT"
                  name: "USD Coin"
                  description: "Circle USD stablecoin pegged 1:1 to USD"
                  status: "active"
                  schema:
                    type: "object"
                    properties:
                      supply:
                        type: "object"
                        properties:
                          total: { type: "string", pattern: "^[0-9]+$" }
                          circulating: { type: "string", pattern: "^[0-9]+$" }
                    required: ["supply"]
                  identities:
                    - id: "circle"
                      type: "issuer"
                      roles: ["admin", "minter", "burner"]
                  metadata:
                    decimals: 6
                    symbol: "USDC"
                    currency: "USD"
                    fungible: true
                    category: "stablecoin"
                  createdAt: "2025-01-04T10:00:00Z"
                  updatedAt: "2025-01-04T10:00:00Z"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '409':
          description: "Token class already exists"
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/registry/tokenclasses/update:
    post:
      tags:
        - "Token Classes"
      summary: "Update token class"
      description: |
        Update token class metadata, schema, or identities/roles.
        Can be used to add/remove authorized minters or update class properties.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_UpdateTokenClassRequest'
            example:
              context:
                id: "api.registry.tokenclasses.update"
                version: "v1"
                ts: "2025-01-04T11:00:00Z"
                msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                tokenClass: "USDC"
                metadata:
                  tags:
                    category: "stablecoin"
                    compliance: "regulated"
                    issuer: "circle"
                    peg: "USD"
      responses:
        '200':
          description: "Token class updated successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenClassDetails'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/registry/tokenclasses/get:
    post:
      tags:
        - "Token Classes"
      summary: "Get token class details"
      description: "Retrieve detailed information about a specific token class"
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetTokenClassRequest'
            example:
              context:
                id: "api.registry.tokenclasses.get"
                version: "v1"
                ts: "2025-01-04T10:00:00Z"
                msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef12"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                tokenClass: "USDC"
      responses:
        '200':
          description: "Token class details retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenClassDetails'
              example:
                context:
                  id: "api.registry.tokenclasses.get"
                  version: "v1"
                  ts: "2025-01-04T10:00:00Z"
                  msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef"
                  status: "successful"
                response:
                  id: "urn:uuid:b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                  tokenClass: "USDC"
                  tokenStandard: "UNITS-FT"
                  name: "USD Coin"
                  description: "Circle USD stablecoin pegged 1:1 to USD"
                  status: "active"
                  schema:
                    type: "object"
                    properties:
                      supply:
                        type: "object"
                        properties:
                          total: { type: "string", pattern: "^[0-9]+$" }
                          circulating: { type: "string", pattern: "^[0-9]+$" }
                    required: ["supply"]
                  identities:
                    - id: "circle"
                      type: "issuer"
                      roles: ["admin", "minter", "burner"]
                  metadata:
                    decimals: 6
                    symbol: "USDC"
                    currency: "USD"
                    fungible: true
                    category: "stablecoin"
                  createdAt: "2025-01-04T10:00:00Z"
                  updatedAt: "2025-01-04T10:00:00Z"
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/registry/tokenclasses/search:
    post:
      tags:
        - "Token Classes"
      summary: "Search token classes"
      description: "Search and list all registered token classes with filters"
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_SearchTokenClassRequest'
            example:
              context:
                id: "api.registry.tokenclasses.search"
                version: "v1"
                ts: "2025-01-04T10:00:00Z"
                msgId: "d4e5f6a7-b8c9-0123-4567-890abcdef123"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                filters:
                  tokenStandard: "ERC-3643"
                  category: "stablecoin"
                pagination:
                  limit: 50
                  offset: 0
                sortBy:
                  field: "createdAt"
                  order: "desc"
      responses:
        '200':
          description: "Token class list retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenClassList'
              example:
                context:
                  id: "api.registry.tokenclasses.search"
                  version: "v1"
                  ts: "2025-01-04T10:00:00Z"
                  msgId: "d4e5f6a7-b8c9-0123-4567-890abcdef"
                  status: "successful"
                response:
                  tokenClasses:
                    - id: "urn:uuid:b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                      tokenClass: "USDC"
                      tokenStandard: "UNITS-FT"
                      name: "USD Coin"
                      description: "Circle USD stablecoin pegged 1:1 to USD"
                      status: "active"
                      schema:
                        type: "object"
                        properties:
                          supply:
                            type: "object"
                            properties:
                              total: { type: "string", pattern: "^[0-9]+$" }
                              circulating: { type: "string", pattern: "^[0-9]+$" }
                        required: ["supply"]
                      identities:
                        - id: "circle"
                          type: "issuer"
                          roles: ["admin", "minter", "burner"]
                      metadata:
                        decimals: 6
                        symbol: "USDC"
                        currency: "USD"
                        fungible: true
                        category: "stablecoin"
                      createdAt: "2025-01-04T10:00:00Z"
                      updatedAt: "2025-01-04T10:00:00Z"
                    - id: "urn:uuid:c3d4e5f6-a7b8-9012-3456-7890abcdef12"
                      tokenClass: "USDT"
                      tokenStandard: "UNITS-FT"
                      name: "Tether USD"
                      description: "Tether USD stablecoin"
                      status: "active"
                      schema:
                        type: "object"
                        properties:
                          supply:
                            type: "object"
                            properties:
                              total: { type: "string", pattern: "^[0-9]+$" }
                              circulating: { type: "string", pattern: "^[0-9]+$" }
                        required: ["supply"]
                      identities:
                        - id: "tether"
                          type: "issuer"
                          roles: ["admin", "minter", "burner"]
                      metadata:
                        decimals: 6
                        symbol: "USDT"
                        currency: "USD"
                        fungible: true
                        category: "stablecoin"
                      createdAt: "2025-01-04T10:00:00Z"
                      updatedAt: "2025-01-04T10:00:00Z"
                  pagination:
                    total: 2
                    limit: 50
                    offset: 0
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  # -------------------- Token --------------------
  /v1/token/get:
    post:
      tags:
        - "Token"
      summary: "Get token details"
      description: "Retrieves detailed information about a specific token by its ID. Requires a user session token."
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetTokenRequest'
            examples:
              raw_get:
                summary: "Get token, raw mode (default)"
                value:
                  context:
                    id: "api.token.get"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
              display_get:
                summary: "Get token, display mode (human-readable)"
                value:
                  context:
                    id: "api.token.get"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdf0"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                    valueFormat: "display"
                  payload:
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
      responses:
        '200':
          description: "Token details retrieved successfully."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenDetails'
              examples:
                raw_token:
                  summary: "Token response, raw (smallest-unit integers)"
                  value:
                    context:
                      id: "api.token.get"
                      version: "v1"
                      ts: "2025-01-04T10:00:01Z"
                      msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                      status: "successful"
                    response:
                      id: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                      tokenClass: "USDC"
                      chainRegistryInfo: {}
                      metadata:
                        tokenClassId: "urn:uuid:b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                        tokenClass: "USDC"
                        tokenStandard: "UNITS-FT"
                        name: "USD Coin"
                        symbol: "USDC"
                        decimals: 6
                        fungibility: "fungible"
                      identities:
                        - id: "did:web:circle.com"
                          type: "issuer"
                        - id: "did:web:alice.example"
                          type: "owner"
                      state:
                        status: "active"
                        supply:
                          totalSupply: "1000000000000"
                          circulatingSupply: "500000000000"
                        stateCommitment: "0xabcdef1234567890"
                display_token:
                  summary: "Token response, display (human-readable decimals)"
                  value:
                    context:
                      id: "api.token.get"
                      version: "v1"
                      ts: "2025-01-04T10:00:01Z"
                      msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdf0"
                      status: "successful"
                    response:
                      id: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                      tokenClass: "USDC"
                      chainRegistryInfo: {}
                      metadata:
                        tokenClassId: "urn:uuid:b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                        tokenClass: "USDC"
                        tokenStandard: "UNITS-FT"
                        name: "USD Coin"
                        symbol: "USDC"
                        decimals: 6
                        fungibility: "fungible"
                      identities:
                        - id: "did:web:circle.com"
                          type: "issuer"
                        - id: "did:web:alice.example"
                          type: "owner"
                      state:
                        status: "active"
                        supply:
                          totalSupply: "1000000.00"
                          circulatingSupply: "500000.00"
                        stateCommitment: "0xabcdef1234567890"
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/token/mint:
    post:
      tags:
        - "Token"
      summary: "Mint new token"
      description: |
        Mint (create) a new token instance. This endpoint has separate ACL controls from other token operations.
        Only authorized identities registered for the tokenClass can mint tokens.

        Requires both developer authentication and end-user signature.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_MintTokenRequest'
            examples:
              USDC:
                summary: "Mint USDC - 1M tokens"
                value:
                  context:
                    id: "api.token.mint"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "c1d2e3f4-a5b6-7890-1234-567890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "USDC"
                    identities:
                      - id: "circle"
                        type: "issuer"
                        roles: ["admin", "minter"]
                      - id: "circle"
                        type: "owner"
                        roles: ["owner"]
                    initialSupply: "1000000000000"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              INRT:
                summary: "Mint INRT - 10K tokens"
                value:
                  context:
                    id: "api.token.mint"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "d2e3f4a5-b6c7-8901-2345-67890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "INRT"
                    identities:
                      - id: "hdfc"
                        type: "issuer"
                        roles: ["admin", "minter"]
                      - id: "hdfc"
                        type: "owner"
                        roles: ["owner"]
                    initialSupply: "1000000"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              NFH-T:
                summary: "Mint NFH-T - 5K tokens with constraints"
                value:
                  context:
                    id: "api.token.mint"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "e3f4a5b6-c7d8-9012-3456-7890abcdef1"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "NFH-T"
                    identities:
                      - id: "nfh"
                        type: "issuer"
                        roles: ["admin", "minter"]
                      - id: "nfh"
                        type: "owner"
                        roles: ["owner"]
                    initialSupply: "500000"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              ART-NFT:
                summary: "Mint ART-NFT - Digital Art"
                value:
                  context:
                    id: "api.token.mint"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "f4a5b6c7-d8e9-0123-4567-890abcdef12"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "ART-NFT"
                    metadata:
                      name: "Sunset Dreams #001"
                    data:
                      tokenURI: "https://ipfs.io/ipfs/QmXyz123/metadata.json"
                      attributes:
                        - trait_type: "Artist"
                          value: "Alice Johnson"
                        - trait_type: "Style"
                          value: "Digital Impressionism"
                        - trait_type: "Year"
                          value: 2024
                        - trait_type: "Rarity"
                          value: "Legendary"
                      creator: "alice"
                      royaltyBps: 500
                      valuationUSD: "5000.00"
                    identities:
                      - id: "opensea"
                        type: "issuer"
                        roles: ["admin", "minter"]
                      - id: "alice"
                        type: "owner"
                        roles: ["owner"]
                    initialSupply: "1"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              RWA-NFT:
                summary: "Mint RWA-NFT - Property Deed"
                value:
                  context:
                    id: "api.token.mint"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "a5b6c7d8-e9f0-1234-5678-90abcdef123"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    tokenClass: "RWA-NFT"
                    metadata:
                      name: "Property Deed - 123 Main St"
                    data:
                      assetId: "PROP-2024-001234"
                      assetType: "property"
                      legalDocHash: "a1b2c3d4e5f6789012345678901234567890123456789012345678901234abcd"
                      jurisdiction: "US-CA"
                      valuationUSD: "750000.00"
                      propertyAddress: "123 Main Street, San Francisco, CA 94102"
                    identities:
                      - id: "realassets"
                        type: "issuer"
                        roles: ["admin", "minter", "compliance"]
                      - id: "bob"
                        type: "owner"
                        roles: ["owner"]
                    initialSupply: "1"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
      responses:
        '200':
          description: "Mint transaction submitted (async). The txId tracks the mint workflow."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_MintTokenResult'
              example:
                context:
                  id: "api.token.mint"
                  version: "v1"
                  ts: "2025-01-04T10:00:00Z"
                  msgId: "c1d2e3f4-a5b6-7890-1234-567890abcdef"
                  status: "successful"
                  transactionId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                response:
                  txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                  status: "submitted"
                  message: "domain_lifecycle_workflow_submitted"
                  estimatedCompletionTime: "2025-01-04T10:00:30Z"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/token/search:
    post:
      tags:
        - "Token"
      summary: "Search tokens"
      description: "Search tokens with filters (type, status, and so on). Results are limited to the tokens the caller may see. Supports pagination."
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_SearchTokensRequest'
            examples:
              raw_search:
                summary: "Search tokens, raw mode (default)"
                value:
                  context:
                    id: "api.token.search"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    filters:
                      tokenStandard: "UNITS-FT"
                      status: "active"
                      fungibility: "fungible"
                      tags:
                        - "stablecoin"
                    pagination:
                      limit: 50
                      offset: 0
                    sortBy:
                      field: "createdAt"
                      order: "desc"
              display_search:
                summary: "Search tokens, display mode (human-readable)"
                value:
                  context:
                    id: "api.token.search"
                    version: "v1"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef2"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                    valueFormat: "display"
                  payload:
                    filters:
                      chainId: "eip155:1"
                      tokenStandard: "UNITS-FT"
                    pagination:
                      limit: 20
                      offset: 0
      responses:
        '200':
          description: "Token list retrieved successfully."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenList'
              examples:
                raw_results:
                  summary: "Search results, raw (smallest-unit integers)"
                  value:
                    context:
                      id: "api.token.search"
                      version: "v1"
                      ts: "2025-01-04T10:00:01Z"
                      msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                      status: "successful"
                    response:
                      tokens:
                        - id: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                          tokenClass: "USDC"
                          chainRegistryInfo: {}
                          metadata:
                            tokenClass: "USDC"
                            tokenStandard: "UNITS-FT"
                            name: "USD Coin"
                            symbol: "USDC"
                            decimals: 6
                            fungibility: "fungible"
                          state:
                            status: "active"
                            supply:
                              totalSupply: "1000000000000"
                              circulatingSupply: "500000000000"
                      pagination:
                        total: 1
                        limit: 50
                        offset: 0
                display_results:
                  summary: "Search results, display (human-readable decimals)"
                  value:
                    context:
                      id: "api.token.search"
                      version: "v1"
                      ts: "2025-01-04T10:00:01Z"
                      msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef2"
                      status: "successful"
                    response:
                      tokens:
                        - id: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                          tokenClass: "USDC"
                          chainRegistryInfo: {}
                          metadata:
                            tokenClass: "USDC"
                            tokenStandard: "UNITS-FT"
                            name: "USD Coin"
                            symbol: "USDC"
                            decimals: 6
                            fungibility: "fungible"
                          state:
                            status: "active"
                            supply:
                              totalSupply: "1000000.00"
                              circulatingSupply: "500000.00"
                      pagination:
                        total: 1
                        limit: 20
                        offset: 0
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/token/transact:
    post:
      tags:
        - "Token"
      summary: "Execute token operation"
      description: |
        Unified endpoint for all token write operations. The operation is specified in the payload.

        **Supported Operations:**
        - `burn`: burn or destroy the token (terminal state)
        - `freeze`: freeze the token (compliance or regulatory hold)
        - `unfreeze`: unfreeze the token
        - `lock`: lock the token (for escrow or collateral)
        - `unlock`: unlock the token
        - `redeem`: redeem the token (for redeemable assets)
        - `transfer`: transfer ownership of the token
        - `update`: update the token's data or metadata fields

        **Note:** `mint` operation has a dedicated `/v1/token/mint` endpoint with separate ACL controls.

        **Signature required:** a top-level end user `signature` over the payload is mandatory
        for every transact operation. A request without a valid `signature` is rejected.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_TransactRequest'
            examples:
              TransferUSDC:
                summary: "Transfer - USDC (P2P Payment)"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:15:00Z"
                    msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "transfer"
                    tokenId: "a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    to: "bob"
                    value: "100000000"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              TransferINRT:
                summary: "Transfer - INRT (Cross-Border Remittance)"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:15:00Z"
                    msgId: "g2b3c4d5-e6f7-8901-2345-67890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "transfer"
                    tokenId: "1ab71000-1001-4001-8001-000000000001"
                    to: "lakshmi"
                    value: "5000000000000"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              TransferARTNFT:
                summary: "Transfer - ART-NFT (Art Sale)"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:15:00Z"
                    msgId: "h3c4d5e6-f7a8-9012-3456-7890abcdef1"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "transfer"
                    tokenId: "a4571f00-57a4-4001-8001-000000000001"
                    to: "charlie"
                    value: "1"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              TransferRWANFT:
                summary: "Transfer - RWA-NFT (Property Sale)"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:15:00Z"
                    msgId: "i4d5e6f7-a8b9-0123-4567-890abcdef12"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "transfer"
                    tokenId: "4ea1000a-1001-4001-8001-000000000001"
                    to: "diana"
                    value: "1"
                    data:
                      salePrice: "2500000.00"
                      saleCurrency: "USD"
                      closingDate: "2025-03-15"
                      escrowAgent: "titlecompany"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              BurnUSDT:
                summary: "Burn - USDT (Redemption)"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:05:00Z"
                    msgId: "d1e2f3a4-b5c6-7890-1234-567890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "burn"
                    tokenId: "05d71000-1001-4001-8001-000000000001"
                    value: "1000000000"
                    reason: "Fiat withdrawal - Bank transfer to Tether redemption account"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              BurnNFHT:
                summary: "Burn - NFH-T (Community Token Burn)"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:05:00Z"
                    msgId: "d2e3f4a5-b6c7-8901-2345-67890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "burn"
                    tokenId: "0ffa1000-1001-4001-8001-000000000001"
                    value: "500000000000000000000"
                    reason: "Deflationary burn event - Q1 2025"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              FreezeINRT:
                summary: "Freeze - INRT (Compliance Hold)"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:10:00Z"
                    msgId: "e1f2a3b4-c5d6-7890-1234-567890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "freeze"
                    tokenId: "1ab71000-5054-4001-8001-000000000001"
                    reason: "AML investigation - Case #AML-2025-001"
                    frozenBy: "hdfc:compliance"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              UnfreezeToken:
                summary: "Unfreeze a token"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:10:00Z"
                    msgId: "e2f3a4b5-c6d7-8901-2345-67890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "unfreeze"
                    tokenId: "1ab71000-5054-4001-8001-000000000001"
                    reason: "Compliance review completed"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              LockEURC:
                summary: "Lock - EURC (DeFi Collateral)"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:20:00Z"
                    msgId: "f3a4b5c6-d7e8-9012-3456-7890abcdef1"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "lock"
                    tokenId: "e04c1000-1001-4001-8001-000000000001"
                    value: "500000000"
                    reason: "Collateral for DeFi loan - Protocol: Aave"
                    lockUntil: "2025-12-31T23:59:59Z"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              LockGBPT:
                summary: "Lock - GBPT (Escrow for Trade)"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:20:00Z"
                    msgId: "f4a5b6c7-d8e9-0123-4567-890abcdef12"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "lock"
                    tokenId: "6b971000-1001-4001-8001-000000000001"
                    value: "10000000000"
                    reason: "Escrow for international trade - Invoice #INV-2025-001"
                    lockUntil: "2025-06-30T23:59:59Z"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              UnlockToken:
                summary: "Unlock previously locked tokens"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:20:00Z"
                    msgId: "f5a6b7c8-d9e0-1234-5678-90abcdef123"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "unlock"
                    tokenId: "e04c1000-1001-4001-8001-000000000001"
                    value: "500000000"
                    reason: "Loan repaid"
                  signature:
                    keyId: "0f8fad5b-d9cb-469f-a165-70867728950e"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              UpdateToken:
                summary: "Update token data and metadata"
                value:
                  context:
                    id: "api.token.transact"
                    version: "v1"
                    ts: "2025-01-04T10:20:00Z"
                    msgId: "a2b3c4d5-e6f7-8901-2345-67890abcdef"
                    developerToken: "fnt_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "update"
                    tokenId: "a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    data:
                      auditReport: "https://www.circle.com/en/usdc-transparency"
                      lastAuditDate: "2025-04-01T00:00:00Z"
      responses:
        '202':
          description: "Transaction accepted for processing (async)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactTokenResult'
              examples:
                TransferAccepted:
                  summary: "Federation transfer submitted (workflow fields present)"
                  value:
                    context:
                      id: "api.token.transact"
                      version: "v1"
                      ts: "2025-01-04T10:15:00Z"
                      msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                      status: "accepted"
                      transactionId: "urn:uuid:tx-d8e5f6a7-b8c9-0123-4567-890abcdef123"
                    response:
                      txId: "urn:uuid:tx-d8e5f6a7-b8c9-0123-4567-890abcdef123"
                      status: "submitted"
                      message: "Transfer workflow submitted for primitive orchestration"
                      workflowInstanceId: "urn:uuid:tx-d8e5f6a7-b8c9-0123-4567-890abcdef123"
                BurnAccepted:
                  summary: "Burn submitted (no workflow fields)"
                  value:
                    context:
                      id: "api.token.transact"
                      version: "v1"
                      ts: "2025-01-04T10:05:00Z"
                      msgId: "d1e2f3a4-b5c6-7890-1234-567890abcdef"
                      status: "accepted"
                      transactionId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "submitted"
                      message: "Transaction submitted for processing"
                      estimatedCompletionTime: "2025-01-04T10:05:30Z"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  # -------------------- Transaction APIs --------------------
  /v1/transaction/status:
    post:
      tags:
        - "Transaction"
      summary: "Get transaction status"
      description: |
        Polls the stored status of a transaction. Returns the transaction's `txId`,
        its lifecycle `status`, an optional free-form `error` payload (present only
        on failure), and lifecycle `timestamps`.

        The base `status` defaults to `pending` and advances through the transaction's
        own lifecycle (e.g. `pending`, `processing`, `awaiting_signature`, `completed`,
        `failed`, `cancelled`).

        For the richer per-operation federation lifecycle (ops, retries, outcome), use
        `POST /v1/transactions/status` instead.

        Use this endpoint to poll for transaction completion after submitting via /v1/token/transact.
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_TransactionStatusRequest'
            example:
              context:
                id: "api.transaction.status"
                version: "v1"
                ts: "2025-01-04T10:00:02Z"
                msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Status retrieved successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactionStatus'
              examples:
                Pending:
                  summary: "Transaction pending"
                  value:
                    context:
                      id: "api.transaction.status"
                      version: "v1"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "pending"
                      timestamps:
                        submitted: "2025-01-04T10:00:00Z"
                Completed:
                  summary: "Transaction completed"
                  value:
                    context:
                      id: "api.transaction.status"
                      version: "v1"
                      ts: "2025-01-04T10:00:05Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "completed"
                      timestamps:
                        submitted: "2025-01-04T10:00:00Z"
                        started: "2025-01-04T10:00:01Z"
                        completed: "2025-01-04T10:00:03Z"
                        finalized: "2025-01-04T10:00:05Z"
                Failed:
                  summary: "Transaction failed"
                  value:
                    context:
                      id: "api.transaction.status"
                      version: "v1"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "failed"
                      error:
                        code: "INSUFFICIENT_BALANCE"
                        message: "Insufficient token balance for transfer"
                      timestamps:
                        submitted: "2025-01-04T10:00:00Z"
                        started: "2025-01-04T10:00:01Z"
                        failed: "2025-01-04T10:00:02Z"
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/transaction/get:
    post:
      tags:
        - "Transaction"
      summary: "Get transaction details"
      description: |
        Retrieves complete details of a transaction including all token transactions,
        proofs, and ledger anchors.

        Use this after transaction completion to get full audit trail.
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetTransactionRequest'
            example:
              context:
                id: "api.transaction.get"
                version: "v1"
                ts: "2025-01-04T10:00:10Z"
                msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Transaction details retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactionDetails'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/transaction/search:
    post:
      tags:
        - "Transaction"
      summary: "Search transactions"
      description: |
        Search transactions with filters and pagination.
        Useful for transaction history, reconciliation, and reporting. Owner/initiator filtering inferred from JWT/ACL.
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_SearchTransactionsRequest'
            example:
              context:
                id: "api.transaction.search"
                version: "v1"
                ts: "2025-01-04T10:00:00Z"
                msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                filters:
                  status: "completed"
                  dateRange:
                    from: "2025-01-01T00:00:00Z"
                    to: "2025-01-31T23:59:59Z"
                pagination:
                  limit: 50
                  offset: 0
                sortBy:
                  field: "createdAt"
                  order: "desc"
      responses:
        '200':
          description: "Transaction list retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactionList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/transactions/status:
    post:
      tags:
        - "Transaction"
      summary: "Get federation transaction status (developer-facing)"
      description: |
        Returns the federation lifecycle view of a transaction: overall `status`, the
        ordered list of workflow operations (`ops`), retry/error info, and the final
        `outcome` when available.

        This is the developer-facing federation status endpoint (backed by
        FederationController.Status). It reads the `transactions` row plus the
        `workflow_ops` audit list. A txn id with no transactions row returns 404.

        Requires a developer token (+ scope) and a user token.

        The request has no dedicated JSON schema; the payload is modelled here as the
        transaction id (`txn_id`).
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_FederationTransactionStatusRequest'
            example:
              context:
                id: "api.transactions.status"
                version: "v1"
                ts: "2025-01-04T10:00:02Z"
                msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                txn_id: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Federation transaction status retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_FederationTransactionStatus'
              example:
                context:
                  id: "api.transactions.status"
                  version: "v1"
                  ts: "2025-01-04T10:00:05Z"
                  msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                  status: "successful"
                response:
                  txn_id: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                  workflow_name: "PrimitiveOperationWorkflow"
                  status: "COMMITTED"
                  ops:
                    - op_seq: 0
                      op_type: "DebitSource"
                      result: { ok: true }
                      created_at: "2025-01-04T10:00:01Z"
                    - op_seq: 1
                      op_type: "CommitCredit"
                      result: { ok: true }
                      created_at: "2025-01-04T10:00:03Z"
                  outcome: { committed: true }
                  created_at: "2025-01-04T10:00:00Z"
                  updated_at: "2025-01-04T10:00:05Z"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/token/transactions:
    post:
      tags:
        - "Token"
      summary: "Get token transaction history"
      description: |
        Retrieves all transactions that affected a specific token.
        Provides complete audit trail and state history for the token.
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_TokenTransactionsRequest'
            example:
              context:
                id: "api.token.transactions"
                version: "v1"
                ts: "2025-01-04T10:00:00Z"
                msgId: "d4e5f6a7-b8c9-0123-4567-890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                filters:
                  tokenId: "urn:uuid:usdc-a1b2c3d4"
                  operation: "transfer"
                  entryType: "credit"
                pagination:
                  limit: 100
                  offset: 0
                sortBy:
                  field: "timestamp"
                  order: "desc"
      responses:
        '200':
          description: "Token transaction history retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenTransactionList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/token/add:
    post:
      tags:
        - "Token"
      summary: "Add a token (credential VC or proxy token)"
      description: |
        Add a token to an owner. Two shapes are supported (selected via the payload's
        `oneOf`):
        - **Credential token** (W3C Verifiable Credential): supply `credential` + `metadata`.
        - **Proxy token** (USDC, ETH, SOL, etc.): supply `chainId`, `contractAddress`,
          `walletAddress`, `value`.

        This is a **backend-to-backend** endpoint, typically called by the Finternet App
        Backend on a provider callback.

        **No User JWT Required:** This endpoint does not require end-user authentication.
        The token owner address is provided in the payload.

        The token is created via an async transaction/workflow; the returned `txId`
        tracks it.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_AddTokenRequest'
            examples:
              CredentialToken:
                summary: "Add a credential token (W3C VC)"
                value:
                  context:
                    id: "api.token.add"
                    version: "v1"
                    ts: "2025-01-28T10:15:00Z"
                    msgId: "550e8400-e29b-41d4-a716-446655440000"
                    developerToken: "fnt_..."
                  payload:
                    tokenClass: "CREDENTIAL"
                    owner: "alice"
                    metadata:
                      name: "KYC Credential"
                      tokenStandard: "UNITS-VC"
                    credential:
                      "@context":
                        - "https://www.w3.org/ns/credentials/v2"
                      type:
                        - "VerifiableCredential"
                        - "IdentityCredential"
                      issuer:
                        id: "did:web:issuer.example"
                        name: "Example Issuer"
                      validFrom: "2025-01-28T10:00:00Z"
                      credentialSubject:
                        id: "did:finternet:alice"
                        documentType: "PAN"
                        country: "IN"
                        faceMatchVerified: true
                        faceMatchPercentage: "98.5"
              ProxyToken:
                summary: "Add a proxy token (USDC on Base)"
                value:
                  context:
                    id: "api.token.add"
                    version: "v1"
                    ts: "2025-01-28T10:15:00Z"
                    msgId: "550e8400-e29b-41d4-a716-446655440001"
                    developerToken: "fnt_..."
                  payload:
                    tokenClass: "USDC"
                    owner: "alice"
                    chainId: "eip155:8453"
                    contractAddress: "0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913"
                    walletAddress: "0x1111111111111111111111111111111111111111"
                    value: "1000000"
      responses:
        '200':
          description: "Token add transaction submitted (async). The txId tracks the workflow."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_AddTokenResult'
              example:
                context:
                  id: "api.token.add"
                  version: "v1"
                  ts: "2025-01-28T10:15:05Z"
                  msgId: "550e8400-e29b-41d4-a716-446655440002"
                  status: "successful"
                  transactionId: "urn:uuid:tx-credential-12345"
                response:
                  txId: "urn:uuid:tx-credential-12345"
                  status: "submitted"
                  message: "credential_add_transaction_submitted"
                  estimatedCompletionTime: "2025-01-28T10:15:35Z"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  # -------------------- Proof APIs --------------------
  /v1/transaction/proof:
    post:
      tags:
        - "Proof"
      summary: "Get Merkle proof for a transaction"
      description: |
        Retrieves the Merkle proof for a transaction, enabling independent verification
        that the transaction was included in a state commitment / batched Merkle tree.

        **Proof status:**
        - `pending`: awaiting proof generation
        - `proven`: Merkle proof generated
        - `anchored`: proof anchored to a public ledger, fully verifiable

        Requires a user session token.
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetProofRequest'
            example:
              context:
                id: "api.transaction.proof"
                version: "v1"
                ts: "2025-01-04T10:00:02Z"
                msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Proof retrieved successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ProofDetails'
              examples:
                Anchored:
                  summary: "Fully anchored proof"
                  value:
                    context:
                      id: "api.transaction.proof"
                      version: "v1"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      leafHash: "a1b2c3d4e5f6..."
                      merkleRoot: "d4e5f6a7b8c9..."
                      leafIndex: 42
                      proofPath:
                        - hash: "abc123..."
                          direction: "left"
                        - hash: "def456..."
                          direction: "right"
                      stateCommitment: "0xabcdef1234567890"
                      proofStatus: "anchored"
                      ledgerAnchors:
                        - chain: "ethereum"
                          network: "sepolia"
                          txHash: "0x1234567890abcdef..."
                          blockId: "12345678"
                          timestamp: "2025-01-04T10:30:00Z"
                      verificationEndpoints:
                        leafDataEndpoint: "/v1/transaction/proof/leaf"
                Pending:
                  summary: "Proof pending (batch not yet full)"
                  value:
                    context:
                      id: "api.transaction.proof"
                      version: "v1"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      proofStatus: "pending"
                      message: "Transaction awaiting proof generation."
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/transaction/proof/leaf:
    post:
      tags:
        - "Proof"
      summary: "Get raw leaf data for a transaction proof"
      description: |
        Returns the raw data that was hashed to create the transaction's leaf in the
        Merkle tree. Enables independent verification: fetch this data, hash it, and
        confirm it matches the `leafHash` returned by `/v1/transaction/proof`.

        Requires a user session token.
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetProofLeafRequest'
            example:
              context:
                id: "api.transaction.proof.leaf"
                version: "v1"
                ts: "2025-01-04T10:00:02Z"
                msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Leaf data retrieved successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ProofLeafData'
              example:
                context:
                  id: "api.transaction.proof.leaf"
                  version: "v1"
                  ts: "2025-01-04T10:00:02Z"
                  msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef"
                  status: "successful"
                response:
                  txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                  leafHash: "a1b2c3d4e5f6..."
                  stateCommitment: "0xabcdef1234567890"
                  tokenId: "urn:uuid:token-abc123"
                  tokenClass: "USDC"
                  operation: "transfer"
                  timestamp: "2025-01-04T09:55:00Z"
                  rawData:
                    operation: "transfer"
                    amount: "1000000"
                    from: "alice"
                    to: "bob"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

  /v1/transaction/proof/verify:
    post:
      tags:
        - "Proof"
      summary: "Verify a transaction proof (server-side)"
      description: |
        Performs server-side verification of a transaction's Merkle proof:
        1. Leaf hash matches the stored transaction data
        2. Proof path correctly computes to the Merkle root
        3. Anchor exists on the ledger (if anchored)

        For trustless verification, clients should verify independently using the data
        from `/v1/transaction/proof` and `/v1/transaction/proof/leaf`.

        Requires a user session token.
      security:
        - developerToken: []
        - userToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_VerifyProofRequest'
            example:
              context:
                id: "api.transaction.proof.verify"
                version: "v1"
                ts: "2025-01-04T10:00:02Z"
                msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef"
                developerToken: "fnt_..."
                authorization: "Bearer eyJ..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Verification result"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_ProofVerification'
              examples:
                Verified:
                  summary: "All checks passed"
                  value:
                    context:
                      id: "api.transaction.proof.verify"
                      version: "v1"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef"
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      valid: true
                      leafHashValid: true
                      proofPathValid: true
                      anchorValid: true
                PartiallyVerified:
                  summary: "Proof valid but not yet anchored"
                  value:
                    context:
                      id: "api.transaction.proof.verify"
                      version: "v1"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef"
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      valid: true
                      leafHashValid: true
                      proofPathValid: true
                      anchorValid: null
                      message: "Proof is valid but not yet anchored to a ledger."
                Failed:
                  summary: "Verification failed"
                  value:
                    context:
                      id: "api.transaction.proof.verify"
                      version: "v1"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef"
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      valid: false
                      leafHashValid: false
                      proofPathValid: true
                      message: "Leaf hash mismatch; the transaction data may have been modified."
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '429':
          $ref: '#/components/responses/RateLimitedError'

# ===============================================================
#   COMPONENTS
# ===============================================================

components:
  # -------------------- Schemas --------------------
  schemas:
    # --- API Envelope Schemas (reusing from account API) ---
    Context:
      type: object
      required: [id, version, ts, msgId]
      properties:
        id: { type: string, example: "api.token.get" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        transactionId: { type: string, format: uuid, nullable: true, description: "ID for async operations" }
        developerToken: { type: string, example: "fnt_...", nullable: true, description: "B2B Developer API Key/Token" }
        developerSignature: { type: string, example: "t=...,v1=...", nullable: true, description: "B2B Developer Signature" }
        authorization: { type: string, example: "Bearer eyJ...", nullable: true, description: "End-user's session token" }
        valueFormat:
          type: string
          enum: [raw, display]
          default: "raw"
          description: |
            Controls how numeric amounts (balances, supply, fees) are represented in responses.
            - `raw` (default): Smallest-unit integer strings (e.g., "100500000" for 100.5 USDC with 6 decimals).
            - `display`: Human-readable decimal strings (e.g., "100.50" for 100.5 USDC).
            The service layer performs decimal conversion using token class metadata.
            Amounts are always opaque strings and are never parsed as a float.
    ResponseContext:
      type: object
      required: [id, version, ts, msgId, status]
      properties:
        id: { type: string, example: "api.token.get" }
        version: { type: string, example: "v1" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        transactionId: { type: string, format: uuid, nullable: true }
        status: { type: string, enum: [successful, failed, pending] }
        error: { $ref: '#/components/schemas/ErrorPayload' }
    Signature:
      type: object
      required: [keyId, jws]
      properties:
        keyId: { type: string, format: uuid, example: "0f8fad5b-d9cb-469f-a165-70867728950e", description: "UUID of the registered key that produced the signature." }
        jws: { type: string, example: "eyJ...", description: "End-user's JWS of the payload object" }
    ErrorPayload:
      type: object
      required: [code, message]
      nullable: true
      properties:
        code: { type: string, example: "RESOURCE_NOT_FOUND" }
        message: { type: string }

    # --- Base Request/Response Schemas ---
    RequestContext:
      type: object
      required: [context, payload]
      properties:
        context: { $ref: '#/components/schemas/Context' }
        payload: { type: object }
        signature: { $ref: '#/components/schemas/Signature'}
    ApiResponse:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object }
    ApiError:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object, description: "Always empty on error", example: {} }

    # --- Common Search Schemas ---

    PaginationRequest:
      type: object
      description: "Pagination parameters for search requests"
      properties:
        limit:
          type: integer
          default: 50
          minimum: 1
          maximum: 1000
          description: "Maximum number of results to return"
        offset:
          type: integer
          default: 0
          minimum: 0
          description: "Number of results to skip"

    PaginationResponse:
      type: object
      description: "Pagination metadata in search responses"
      properties:
        total: { type: integer, description: "Total number of matching records" }
        limit: { type: integer, description: "Requested limit" }
        offset: { type: integer, description: "Requested offset" }

    SortRequest:
      type: object
      description: "Sort parameters for search requests"
      properties:
        field:
          type: string
          default: createdAt
          description: "Field to sort by (free-form)"
        order:
          type: string
          enum: [asc, desc]
          default: desc
          description: "Sort direction"

    # --- TokenClass Schemas ---

    TokenClass:
      type: object
      required: [id, tokenClass, tokenStandard, name, schema, status, createdAt, updatedAt]
      description: "Token class details (response)."
      properties:
        id:
          type: string
          description: "Token class record identifier"
        tokenClass:
          type: string
          description: "Unique token class identifier (e.g., USDC, USDT)"
        tokenStandard:
          type: string
          description: "Base protocol standard (e.g., ERC-3643, UNITS-FT)"
        name:
          type: string
          description: "Human-readable name"
        description:
          type: string
          description: "Detailed description"
        schema:
          type: object
          additionalProperties: true
          description: "JSON Schema definition for token instances"
        identities:
          description: "Authorized identities who can mint tokens of this class"
        metadata:
          type: object
          additionalProperties: true
          description: "Token class metadata (free-form; may include fungibility, decimals, category, tags, etc.)"
        status:
          type: string
          description: "Token class status (e.g., active, inactive, deprecated, test)"
          example: "active"
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    RegisterTokenClassRequest:
      type: object
      required: [tokenClass, tokenStandard, name, schema]
      description: "Request to register a new token class"
      properties:
        tokenClass: { type: string, example: "USDC" }
        tokenStandard: { type: string, example: "UNITS-FT" }
        name: { type: string, example: "USD Coin" }
        description: { type: string }
        schema:
          type: object
          description: "JSON Schema for token instances"
        identities:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
          description: "Initial authorized minters"
        metadata:
          type: object
          description: "Token class metadata"

    UpdateTokenClassRequest:
      type: object
      required: [tokenClass]
      description: "Request to update token class properties"
      properties:
        tokenClass: { type: string, example: "USDC" }
        tokenStandard: { type: string }
        name: { type: string }
        description: { type: string }
        schema:
          type: object
          description: "Updated schema definition"
        identities:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
          description: "Updated list of authorized identities"
        metadata:
          type: object
          description: "Updated metadata"
        status:
          type: string
          description: "Updated token class status"

    GetTokenClassRequest:
      type: object
      required: [tokenClass]
      properties:
        tokenClass: { type: string, example: "USDC" }

    SearchTokenClassRequest:
      type: object
      description: "Search request with filters, pagination, and sortBy at payload level"
      properties:
        filters:
          type: object
          description: |
            Search filters for token classes (free-form object).
            Common fields: tokenStandard, status, name.
            Use explicit paths for JSONB fields (e.g., metadata.category).
          properties:
            tokenStandard: { type: string, description: "Filter by protocol standard" }
            status: { type: string, description: "Filter by status" }
            "metadata.category": { type: string, description: "Filter by metadata.category" }
          additionalProperties: true
        pagination:
          $ref: '#/components/schemas/PaginationRequest'
        sortBy:
          $ref: '#/components/schemas/SortRequest'

    TokenClassList:
      type: object
      properties:
        tokenClasses:
          type: array
          items: { $ref: '#/components/schemas/TokenClass' }
        pagination:
          $ref: '#/components/schemas/PaginationResponse'

    # --- Token-Specific Schemas ---

    # Identity
    IdentityType:
      type: string
      description: "Type of identity relationship"
      enum: [issuer, creator, owner, operator, custodian, manager, controller]

    Identity:
      type: object
      description: "Identity relationship record"
      required: [id, type]
      properties:
        id:
          type: string
          format: uri-reference
          description: "DID, URI, or identifier"
        type:
          $ref: '#/components/schemas/IdentityType'
        roles:
          type: array
          items: { type: string }
          description: "Additional role descriptors"

    # Token Metadata
    TokenMetadata:
      type: object
      required: [tokenStandard, name, symbol, decimals, fungibility]
      properties:
        tokenStandard:
          type: string
          description: "Base protocol standard (e.g., ERC-3643, UNITS-FT, ERC-20)"
          example: "ERC-3643"
        name: { type: string, example: "USD Coin" }
        symbol: { type: string, example: "USDC" }
        decimals: { type: integer, example: 6 }
        fungibility: { type: string, enum: [fungible, nonFungible, semiFungible] }
        tokenClass:
          type: string
          description: "Specific token class identifier (e.g., USDC, USDT, WETH)"
          example: "USDC"
        version: { type: string, example: "1.0.0" }
        status: { type: string, enum: [active, inactive, deprecated, test] }
        valuationType: { type: string, enum: [fixed, pegged, market] }
        stateModel: { type: string, enum: [native, proxy] }
        flags:
          type: object
          properties:
            transactable: { type: boolean, default: true }
            transferable: { type: boolean, default: true }
            locked: { type: boolean, default: false }
            revocable: { type: boolean, default: false }
        tags:
          type: object
          description: "Key-value pairs for categorization and filtering"
          additionalProperties: { type: string }
          example: { "category": "stablecoin", "region": "US", "compliance": "regulated" }
        description: { type: string }
        externalUrls: { type: array, items: { type: string, format: uri } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    # Token State
    TokenState:
      type: object
[...]
