openapi: 3.0.4
info:
  title: "Finternet API - Token Service"
  description: |
    The official API specification for the Finternet Token (UNITS) service.

    This API enables creation, management, and lifecycle operations for universal tokens
    following the UNITS Token Specification.

    ### Protocol-Agnostic Envelope
    All API interactions use a standard JSON envelope.

    **Request Envelope:**
    ```json
    {
      "context": { ... },
      "payload": { ... },
      "signature": { ... } // Optional
    }
    ```

    **Response Envelope (Success):**
    ```json
    {
      "context": { ..., "status": "successful" },
      "response": { ... }
    }
    ```

    **Response Envelope (Error):**
    ```json
    {
      "context": { ..., "status": "failed", "error": {"code": "...", "message": "..." }},
      "response": {} // Empty on error
    }
    ```
    (Error details are in the context.error object)

    ### Authentication and Authorization
    This API uses the same two-level authorization model as the Account service:

    1.  **Platform-Level (Developer) Authentication:**
        * `context.developerToken`: The B2B Developer's API Key/Token.
        * `context.developerSignature`: The B2B Developer's signature (e.g., RFC 9421) of the payload.

    2.  **User-Level (End-User) Authorization:**
        * `context.authorization`: The end-user's JWT session token (for session-based calls).
        * `signature` (top-level): The end-user's JWS for critical, cryptographically-signed operations.

    *Note for HTTP Clients:* As a convenience, the `developerToken` may be provided in the standard `Authorization: Bearer <token>` HTTP header, and the `developerSignature` in an `X-Finternet-Signature` header.
  version: "1.0.0"
servers:
  - url: "https://foundry.finternetlab.io"
    description: "Development Environment"
  - url: "http://localhost:3000"
    description: "Local Server"
tags:
  - name: "Token"
    description: "Endpoints for token creation, querying, and lifecycle management."

# ===============================================================
#   PATHS
# ===============================================================

paths:
  # -------------------- Token --------------------
  /v1/token/get:
    post:
      tags:
        - "Token"
      summary: "Get token details"
      description: "Retrieves detailed information about a specific token by its ID. Requires Developer auth."
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetTokenRequest'
            example:
              context:
                id: "api.token.get"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                developerToken: "dev_pk_..."
              payload:
                tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
      responses:
        '200':
          description: "Token details retrieved successfully."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenDetails'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/token/list:
    post:
      tags:
        - "Token"
      summary: "List tokens"
      description: "Lists tokens with optional filters (owner, type, status, etc.). Supports pagination. Requires Developer auth."
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_ListTokensRequest'
            example:
              context:
                id: "api.token.list"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef1"
                developerToken: "dev_pk_..."
                authorization: "Bearer eyJ..."
              payload:
                filters:
                  owner: "did:web:alice.example"
                  tokenStandard: "UNITS-FT"
                  status: "active"
                pagination:
                  limit: 50
                  offset: 0
      responses:
        '200':
          description: "Token list retrieved successfully."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/token/transact:
    post:
      tags:
        - "Token"
      summary: "Execute token operation"
      description: |
        Unified endpoint for all token write operations. The operation is specified in the payload.

        **Supported Operations:**
        - `mint` - Create new token instance
        - `burn` - Burn/destroy token (terminal state)
        - `freeze` - Freeze token (compliance/regulatory hold)
        - `unfreeze` - Unfreeze token
        - `lock` - Lock token (for escrow/collateral)
        - `unlock` - Unlock token
        - `redeem` - Redeem token (for redeemable assets)
        - `transfer` - Transfer token ownership
        - `updateData` - Update the data section
        - `updateMetadata` - Update mutable metadata fields
        - `addClaim` - Add verifiable credential/attestation
        - `revokeClaim` - Revoke a claim
        - `updateClaimStatus` - Update claim status

        Critical operations (mint, burn, transfer, addClaim, etc.) require end-user signature.
      security:
        - developerToken: []
        - developerSignature: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_TransactRequest'
            examples:
              MintToken:
                summary: "Mint a new fungible token"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:00:00Z"
                    msgId: "c1d2e3f4-a5b6-7890-1234-567890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "mint"
                    metadata:
                      tokenStandard: "UNITS-FT"
                      name: "Finternet Dollar"
                      symbol: "FUSD"
                      decimals: 6
                      fungibility: "fungible"
                      issuer: "did:web:finternet-bank.example"
                      valuationType: "fixed"
                      valuationModel:
                        parValue:
                          amount: "1.00"
                          currency: "USD"
                    data:
                      reserveAccount: "did:web:finternet-bank.example:accounts:reserve-001"
                      jurisdiction: "US"
                    initialSupply: "1000000000000"
                  signature:
                    type: "JsonWebSignature2020"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              BurnToken:
                summary: "Burn tokens"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:05:00Z"
                    msgId: "d1e2f3a4-b5c6-7890-1234-567890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "burn"
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    amount: "100000000"
                    reason: "Token redemption"
                  signature:
                    type: "JsonWebSignature2020"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              FreezeToken:
                summary: "Freeze a token"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:10:00Z"
                    msgId: "e1f2a3b4-c5d6-7890-1234-567890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "freeze"
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    reason: "Compliance hold"
                    frozenBy: "did:web:regulator.example"
                  signature:
                    type: "JsonWebSignature2020"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              TransferToken:
                summary: "Transfer token ownership"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:15:00Z"
                    msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "transfer"
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    to: "did:web:bob.example"
                    amount: "500000000"
                  signature:
                    type: "JsonWebSignature2020"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
              UpdateData:
                summary: "Update token data section"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:20:00Z"
                    msgId: "a2b3c4d5-e6f7-8901-2345-67890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "updateData"
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    data:
                      auditReport: "https://auditor.example/reports/fusd-2025-q2"
                      lastAuditDate: "2025-04-01T00:00:00Z"
              AddClaim:
                summary: "Add a verifiable claim"
                value:
                  context:
                    id: "api.token.transact"
                    version: "1.0"
                    ts: "2025-01-04T10:25:00Z"
                    msgId: "b3c4d5e6-f7a8-9012-3456-7890abcdef"
                    developerToken: "dev_pk_..."
                    authorization: "Bearer eyJ..."
                  payload:
                    operation: "addClaim"
                    tokenId: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                    claim:
                      id: "urn:uuid:claim-002"
                      "@context": ["https://www.w3.org/2018/credentials/v1"]
                      type: ["VerifiableCredential", "ComplianceCertificate"]
                      issuer: "did:web:regulator.example"
                      issuanceDate: "2025-01-04T00:00:00Z"
                      credentialSubject:
                        id: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab"
                        compliant: true
                        jurisdiction: "US"
                      proof:
                        type: "Ed25519Signature2018"
                        created: "2025-01-04T00:00:00Z"
                        verificationMethod: "did:web:regulator.example#key-1"
                        proofPurpose: "assertionMethod"
                        jws: "eyJhbGciOiJFZERTQSJ9..."
                  signature:
                    type: "JsonWebSignature2020"
                    jws: "eyJhbGciOiJFUzI1NksifQ..aBcDeFgHiJkLmNoPqRsTuVwXyZ"
      responses:
        '202':
          description: "Transaction accepted for processing (async)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactAccepted'
              examples:
                MintAccepted:
                  summary: "Mint transaction accepted"
                  value:
                    context:
                      id: "api.token.transact"
                      version: "1.0"
                      ts: "2025-01-04T10:00:00Z"
                      msgId: "c1d2e3f4-a5b6-7890-1234-567890abcdef"
                      status: "accepted"
                      transactionId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "submitted"
                      message: "Transaction submitted for processing"
                      estimatedCompletionTime: "2025-01-04T10:00:05Z"
                TransferAccepted:
                  summary: "Transfer transaction accepted"
                  value:
                    context:
                      id: "api.token.transact"
                      version: "1.0"
                      ts: "2025-01-04T10:15:00Z"
                      msgId: "f1a2b3c4-d5e6-7890-1234-567890abcdef"
                      status: "accepted"
                      transactionId: "urn:uuid:tx-d8e5f6a7-b8c9-0123-4567-890abcdef123"
                    response:
                      txId: "urn:uuid:tx-d8e5f6a7-b8c9-0123-4567-890abcdef123"
                      status: "submitted"
                      message: "Transfer submitted for processing"
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '409':
          $ref: '#/components/responses/ConflictError'

  # -------------------- Transaction APIs --------------------
  /v1/transaction/status:
    post:
      tags:
        - "Transaction"
      summary: "Get transaction status"
      description: |
        Polls the status of an asynchronous transaction.

        **Status Progression:**
        submitted → pending → executing → completed/failed/rolled_back

        Use this endpoint to poll for transaction completion after submitting via /v1/token/transact.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_TransactionStatusRequest'
            example:
              context:
                id: "api.transaction.status"
                version: "1.0"
                ts: "2025-01-04T10:00:02Z"
                msgId: "a1b2c3d4-e5f6-7890-1234-567890abcdef"
                developerToken: "dev_pk_..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Status retrieved successfully"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactionStatus'
              examples:
                Executing:
                  summary: "Transaction in progress"
                  value:
                    context:
                      id: "api.transaction.status"
                      version: "1.0"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "executing"
                      progress:
                        currentStep: "Generating proof"
                        completedSteps: 2
                        totalSteps: 4
                      timestamps:
                        submitted: "2025-01-04T10:00:00Z"
                        started: "2025-01-04T10:00:01Z"
                Completed:
                  summary: "Transaction completed"
                  value:
                    context:
                      id: "api.transaction.status"
                      version: "1.0"
                      ts: "2025-01-04T10:00:05Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "completed"
                      timestamps:
                        submitted: "2025-01-04T10:00:00Z"
                        started: "2025-01-04T10:00:01Z"
                        completed: "2025-01-04T10:00:03Z"
                        finalized: "2025-01-04T10:00:05Z"
                      summary:
                        operation: "transfer"
                        tokenCount: 1
                        proofId: "urn:uuid:proof-a1b2c3d4"
                Failed:
                  summary: "Transaction failed"
                  value:
                    context:
                      id: "api.transaction.status"
                      version: "1.0"
                      ts: "2025-01-04T10:00:02Z"
                      msgId: "..."
                      status: "successful"
                    response:
                      txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
                      status: "failed"
                      error:
                        code: "INSUFFICIENT_BALANCE"
                        message: "Insufficient token balance for transfer"
                        details:
                          required: "100000000"
                          available: "50000000"
                      timestamps:
                        submitted: "2025-01-04T10:00:00Z"
                        started: "2025-01-04T10:00:01Z"
                        failed: "2025-01-04T10:00:02Z"
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/transaction/get:
    post:
      tags:
        - "Transaction"
      summary: "Get transaction details"
      description: |
        Retrieves complete details of a transaction including all token transactions,
        proofs, and ledger anchors.

        Use this after transaction completion to get full audit trail.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_GetTransactionRequest'
            example:
              context:
                id: "api.transaction.get"
                version: "1.0"
                ts: "2025-01-04T10:00:10Z"
                msgId: "b2c3d4e5-f6a7-8901-2345-67890abcdef"
                developerToken: "dev_pk_..."
              payload:
                txId: "urn:uuid:tx-b7e3f9a1-c4d2-5e6f-7890-1234567890cd"
      responses:
        '200':
          description: "Transaction details retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactionDetails'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/transaction/list:
    post:
      tags:
        - "Transaction"
      summary: "List transactions"
      description: |
        Lists transactions with optional filters and pagination.
        Useful for transaction history, reconciliation, and reporting.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_ListTransactionsRequest'
            example:
              context:
                id: "api.transaction.list"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "c3d4e5f6-a7b8-9012-3456-7890abcdef"
                developerToken: "dev_pk_..."
                authorization: "Bearer eyJ..."
              payload:
                filters:
                  initiator: "did:web:alice.example"
                  status: "completed"
                  dateRange:
                    from: "2025-01-01T00:00:00Z"
                    to: "2025-01-31T23:59:59Z"
                pagination:
                  limit: 50
                  offset: 0
      responses:
        '200':
          description: "Transaction list retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TransactionList'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/token/transactions:
    post:
      tags:
        - "Token"
      summary: "Get token transaction history"
      description: |
        Retrieves all transactions that affected a specific token.
        Provides complete audit trail and state history for the token.
      security:
        - developerToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiRequest_TokenTransactionsRequest'
            example:
              context:
                id: "api.token.transactions"
                version: "1.0"
                ts: "2025-01-04T10:00:00Z"
                msgId: "d4e5f6a7-b8c9-0123-4567-890abcdef"
                developerToken: "dev_pk_..."
              payload:
                tokenId: "urn:uuid:token-fusd-a1b2c3d4"
                filters:
                  operation: "transfer"
                  dateRange:
                    from: "2025-01-01T00:00:00Z"
                    to: "2025-01-31T23:59:59Z"
                pagination:
                  limit: 100
                  offset: 0
      responses:
        '200':
          description: "Token transaction history retrieved"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse_TokenTransactionList'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

# ===============================================================
#   COMPONENTS
# ===============================================================

components:
  # -------------------- Schemas --------------------
  schemas:
    # --- API Envelope Schemas (reusing from account API) ---
    Context:
      type: object
      required: [id, version, ts, msgId]
      properties:
        id: { type: string, example: "api.token.get" }
        version: { type: string, example: "1.0" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        transactionId: { type: string, format: uuid, nullable: true, description: "ID for async operations" }
        developerToken: { type: string, example: "dev_pk_...", nullable: true, description: "B2B Developer API Key/Token" }
        developerSignature: { type: string, example: "t=...,v1=...", nullable: true, description: "B2B Developer Signature" }
        authorization: { type: string, example: "Bearer eyJ...", nullable: true, description: "End-user's session token" }
    ResponseContext:
      type: object
      required: [id, version, ts, msgId, status]
      properties:
        id: { type: string, example: "api.token.get" }
        version: { type: string, example: "1.0" }
        ts: { type: string, format: date-time }
        msgId: { type: string, format: uuid }
        transactionId: { type: string, format: uuid, nullable: true }
        status: { type: string, enum: [successful, failed, pending] }
        error: { $ref: '#/components/schemas/ErrorPayload', nullable: true }
    Signature:
      type: object
      required: [type, jws]
      properties:
        type: { type: string, example: "JsonWebSignature2020" }
        jws: { type: string, example: "eyJ...", description: "End-user's JWS of the payload object" }
    ErrorPayload:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: "RESOURCE_NOT_FOUND" }
        message: { type: string }

    # --- Base Request/Response Schemas ---
    RequestContext:
      type: object
      required: [context, payload]
      properties:
        context: { $ref: '#/components/schemas/Context' }
        payload: { type: object }
        signature: { $ref: '#/components/schemas/Signature', nullable: true }
    ApiResponse:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object }
    ApiError:
      type: object
      required: [context, response]
      properties:
        context: { $ref: '#/components/schemas/ResponseContext' }
        response: { type: object, description: "Always empty on error", example: {} }

    # --- Token-Specific Schemas ---

    # Token Metadata
    TokenMetadata:
      type: object
      required: [tokenStandard, name, symbol, decimals, fungibility, issuer]
      properties:
        tokenStandard: { type: string, example: "UNITS-FT" }
        name: { type: string, example: "Finternet Dollar" }
        symbol: { type: string, example: "FUSD" }
        decimals: { type: integer, example: 6 }
        fungibility: { type: string, enum: [fungible, nonFungible, semiFungible] }
        tokenClass: { type: string, example: "stablecoin" }
        version: { type: string, example: "1.0.0" }
        issuer: { type: string, format: uri-reference, example: "did:web:finternet-bank.example" }
        creator: { type: string, format: uri-reference }
        owner: { type: string, format: uri-reference }
        status: { type: string, enum: [active, inactive, deprecated, test] }
        valuationType: { type: string, enum: [fixed, pegged, market] }
        stateModel: { type: string, enum: [native, proxy] }
        flags:
          type: object
          properties:
            transactable: { type: boolean, default: true }
            transferable: { type: boolean, default: true }
            locked: { type: boolean, default: false }
            revocable: { type: boolean, default: false }
        tags: { type: array, items: { type: string } }
        description: { type: string }
        externalUrls: { type: array, items: { type: string, format: uri } }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }

    # Token State
    TokenState:
      type: object
      required: [status]
      properties:
        status: { type: string, enum: [active, frozen, redeemed, burned, expired] }
        effectiveFrom: { type: string, format: date-time }
        effectiveUntil: { type: string, format: date-time, nullable: true }
        supply:
          type: object
          properties:
            totalSupply: { type: string }
            circulatingSupply: { type: string }
        currentOwner: { type: string, format: uri-reference }
        lockState:
          type: object
          properties:
            locked: { type: boolean }
            lockReason: { type: string }
            lockedBy: { type: string, format: uri-reference }
            lockedAt: { type: string, format: date-time }
        restrictions:
          type: object
          properties:
            jurisdiction: { type: array, items: { type: string } }
            allowedUseCases: { type: array, items: { type: string } }
        customState: { type: object, additionalProperties: true }
        stateCommitment: { type: string }

    # Verifiable Claim
    Claim:
      type: object
      required: [id, "@context", type, issuer, issuanceDate, credentialSubject]
      properties:
        id: { type: string, format: uri }
        "@context":
          oneOf:
            - type: string
            - type: array
              items: { type: string }
        type:
          oneOf:
            - type: string
            - type: array
              items: { type: string }
        issuer: { type: string, format: uri-reference }
        issuanceDate: { type: string, format: date-time }
        expirationDate: { type: string, format: date-time }
        visibility: { type: string, enum: [public, private, protected] }
        credentialSubject:
          type: object
          required: [id]
          properties:
            id: { type: string, format: uri-reference }
          additionalProperties: true
        proof:
          type: object
          properties:
            type: { type: string }
            created: { type: string, format: date-time }
            verificationMethod: { type: string, format: uri }
            proofPurpose: { type: string }
            jws: { type: string }
        status: { type: string, enum: [asserted, verified, revoked, expired] }

    # Token Details (full representation)
    Token:
      type: object
      required: [id, metadata, state]
      properties:
        "@context":
          oneOf:
            - type: string
            - type: array
              items:
                oneOf:
                  - type: string
                  - type: object
        "@type": { type: string, example: "FinancialProduct" }
        id: { type: string, format: uri-reference }
        metadata: { $ref: '#/components/schemas/TokenMetadata' }
        data: { type: object, additionalProperties: true }
        claims: { type: array, items: { $ref: '#/components/schemas/Claim' } }
        state: { $ref: '#/components/schemas/TokenState' }

    # --- Request Payloads ---
    GetTokenRequest:
      type: object
      required: [tokenId]
      properties:
        tokenId: { type: string, format: uri-reference, example: "urn:uuid:a1b2c3d4-e5f6-7890-abcd-1234567890ab" }

    ListTokensRequest:
      type: object
      properties:
        filters:
          type: object
          properties:
            owner: { type: string, format: uri-reference }
            issuer: { type: string, format: uri-reference }
            tokenStandard: { type: string }
            fungibility: { type: string, enum: [fungible, nonFungible, semiFungible] }
            status: { type: string, enum: [active, frozen, redeemed, burned, expired] }
            tags: { type: array, items: { type: string } }
        pagination:
          type: object
          properties:
            limit: { type: integer, default: 50, minimum: 1, maximum: 100 }
            offset: { type: integer, default: 0, minimum: 0 }
        sort:
          type: object
          properties:
            field: { type: string, enum: [createdAt, updatedAt, name], default: "createdAt" }
            order: { type: string, enum: [asc, desc], default: "desc" }

    TransactRequest:
      type: object
      required: [operation]
      description: |
        Request payload for token operations. The structure varies by operation:

        **For mint:** `operation`, `metadata`, `data` (optional), `claims` (optional), `initialSupply`
        **For updateData:** `operation`, `tokenId`, `data`
        **For updateMetadata:** `operation`, `tokenId`, `metadata`
        **For addClaim:** `operation`, `tokenId`, `claim`
        **For revokeClaim:** `operation`, `tokenId`, `claimId`
        **For burn/freeze/transfer:** `operation`, `tokenId`, plus operation-specific params at root level
      properties:
        operation:
          type: string
          enum: [mint, burn, freeze, unfreeze, lock, unlock, redeem, transfer, updateData, updateMetadata, addClaim, revokeClaim, updateClaimStatus]
        tokenId:
          type: string
          format: uri-reference
          description: "Required for all operations except mint"
        metadata:
          type: object
          description: "Token metadata (for mint, updateMetadata operations)"
          additionalProperties: true
        data:
          type: object
          description: "Token data section (for mint, updateData operations)"
          additionalProperties: true
        claim:
          type: object
          description: "Verifiable credential to add (for addClaim operation)"
          additionalProperties: true
        claimId:
          type: string
          description: "Claim ID to revoke (for revokeClaim operation)"
        amount:
          type: string
          description: "Amount for burn/transfer operations"
        to:
          type: string
          format: uri-reference
          description: "Recipient for transfer operation"
        reason:
          type: string
          description: "Reason for burn/freeze operations"
        frozenBy:
          type: string
          format: uri-reference
          description: "Entity performing freeze operation"
        initialSupply:
          type: string
          description: "Initial supply for mint operation (fungible tokens)"

    # --- Response Payloads ---
    TokenDetails:
      allOf:
        - $ref: '#/components/schemas/Token'

    TokenList:
      type: object
      properties:
        tokens:
          type: array
          items:
            $ref: '#/components/schemas/Token'
        pagination:
          type: object
          properties:
            total: { type: integer }
            limit: { type: integer }
            offset: { type: integer }

    TransactAccepted:
      type: object
      description: "Async transaction submission response"
      required: [txId, status, message]
      properties:
        txId:
          type: string
          format: uri-reference
          description: "Transaction ID for tracking"
        status:
          type: string
          enum: [submitted, queued]
          description: "Initial status"
        message:
          type: string
          description: "Confirmation message"
        estimatedCompletionTime:
          type: string
          format: date-time
          description: "Estimated completion time (optional)"

    # --- Transaction Schemas ---

    ExecutionStatus:
      type: string
      description: "Transaction execution status"
      enum: [submitted, pending, executing, completed, failed, rolled_back]

    ExecutionTimestamps:
      type: object
      description: "Transaction lifecycle timestamps"
      properties:
        submitted:
          type: string
          format: date-time
          description: "When transaction was submitted"
        started:
          type: string
          format: date-time
          description: "When execution started"
        completed:
          type: string
          format: date-time
          description: "When execution completed"
        finalized:
          type: string
          format: date-time
          description: "When transaction was finalized"
        failed:
          type: string
          format: date-time
          description: "When transaction failed (if applicable)"

    TransactionProgress:
      type: object
      description: "Progress information for in-flight transactions"
      properties:
        currentStep:
          type: string
          description: "Current step being executed"
        completedSteps:
          type: integer
          description: "Number of completed steps"
        totalSteps:
          type: integer
          description: "Total number of steps"

    TransactionSummary:
      type: object
      description: "High-level transaction summary"
      properties:
        operation:
          type: string
          description: "Primary operation type"
        tokenCount:
          type: integer
          description: "Number of tokens affected"
        proofId:
          type: string
          format: uri-reference
          description: "Reference to proof record"

    TransactionError:
      type: object
      description: "Error details for failed transactions"
      required: [code, message]
      properties:
        code:
          type: string
          description: "Error code"
        message:
          type: string
          description: "Error message"
        details:
          type: object
          description: "Additional error details"
          additionalProperties: true

    TransactionStatus:
      type: object
      description: "Transaction status response"
      required: [txId, status, timestamps]
      properties:
        txId:
          type: string
          format: uri-reference
        status:
          $ref: '#/components/schemas/ExecutionStatus'
        progress:
          $ref: '#/components/schemas/TransactionProgress'
        timestamps:
          $ref: '#/components/schemas/ExecutionTimestamps'
        summary:
          $ref: '#/components/schemas/TransactionSummary'
        error:
          $ref: '#/components/schemas/TransactionError'

    TransactionLog:
      type: object
      description: "Complete transaction log with all details"
      required: [txId, initiator, tokenTransactions, status, timestamps]
      properties:
        txId:
          type: string
          format: uri-reference
        correlationId:
          type: string
          description: "External correlation ID"
        initiator:
          type: string
          format: uri-reference
          description: "Account that initiated the transaction"
        tokenTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TokenTransactionReference'
          description: "References to token transactions"
        workflowInstanceId:
          type: string
          format: uri-reference
          description: "Workflow instance reference"
        status:
          $ref: '#/components/schemas/ExecutionStatus'
        timestamps:
          $ref: '#/components/schemas/ExecutionTimestamps'
        proofId:
          type: string
          format: uri-reference
        proofProfile:
          type: string
          enum: [zk-snark, zk-stark, merkle, tee-attestation, signature-bundle, none]
        batchId:
          type: string
        ledgerAnchors:
          type: array
          items:
            $ref: '#/components/schemas/LedgerAnchor'
        metadata:
          type: object
          additionalProperties: true

    TokenTransactionReference:
      type: object
      description: "Reference to a token transaction"
      required: [tokenTxId, tokenId, operation]
      properties:
        tokenTxId:
          type: string
          format: uri-reference
        tokenId:
          type: string
          format: uri-reference
        operation:
          type: string

    TokenTransaction:
      type: object
      description: "Detailed token transaction record"
      required: [tokenTxId, txId, tokenId, operation, stateAfter, timestamp]
      properties:
        tokenTxId:
          type: string
          format: uri-reference
        txId:
          type: string
          format: uri-reference
        tokenId:
          type: string
          format: uri-reference
        operation:
          type: string
          enum: [mint, burn, transfer, freeze, unfreeze, lock, unlock, redeem, updateData, updateMetadata, addClaim, revokeClaim]
        participants:
          type: array
          items:
            $ref: '#/components/schemas/Participant'
        fromAccount:
          type: string
          format: uri-reference
        toAccount:
          type: string
          format: uri-reference
        amount:
          $ref: '#/components/schemas/AmountTransferred'
        stateBefore:
          $ref: '#/components/schemas/StateReference'
        stateAfter:
          $ref: '#/components/schemas/StateReference'
        proofId:
          type: string
          format: uri-reference
        timestamp:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties: true

    Participant:
      type: object
      description: "Transaction participant"
      required: [accountId, role]
      properties:
        accountId:
          type: string
          format: uri-reference
        role:
          type: string
          enum: [sender, receiver, operator, approver]

    AmountTransferred:
      type: object
      description: "Amount transferred/affected"
      properties:
        amount:
          type: string
          description: "Amount (string for big numbers)"
        unit:
          type: string
          default: "token"
        decimals:
          type: integer

    StateReference:
      type: object
      description: "State reference with commitment"
      required: [stateCommitment]
      properties:
        stateCommitment:
          type: string
          description: "Cryptographic hash of state"
        stateVersion:
          type: integer
        stateSnapshot:
          type: object
          additionalProperties: true

    LedgerAnchor:
      type: object
      description: "External blockchain anchor"
      properties:
        chain:
          type: string
          examples: [ethereum, bitcoin, solana]
        network:
          type: string
          examples: [mainnet, sepolia]
        txHash:
          type: string
        blockId:
          type: string
        timestamp:
          type: string
          format: date-time

    # --- Transaction Request Payloads ---

    TransactionStatusRequest:
      type: object
      required: [txId]
      properties:
        txId:
          type: string
          format: uri-reference

    GetTransactionRequest:
      type: object
      required: [txId]
      properties:
        txId:
          type: string
          format: uri-reference

    ListTransactionsRequest:
      type: object
      properties:
        filters:
          type: object
          properties:
            initiator:
              type: string
              format: uri-reference
            status:
              $ref: '#/components/schemas/ExecutionStatus'
            tokenId:
              type: string
              format: uri-reference
            dateRange:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
        pagination:
          type: object
          properties:
            limit:
              type: integer
              default: 50
              minimum: 1
              maximum: 100
            offset:
              type: integer
              default: 0
              minimum: 0

    TokenTransactionsRequest:
      type: object
      required: [tokenId]
      properties:
        tokenId:
          type: string
          format: uri-reference
        filters:
          type: object
          properties:
            operation:
              type: string
            dateRange:
              type: object
              properties:
                from:
                  type: string
                  format: date-time
                to:
                  type: string
                  format: date-time
        pagination:
          type: object
          properties:
            limit:
              type: integer
              default: 100
            offset:
              type: integer
              default: 0

    # --- Transaction Response Payloads ---

    TransactionDetails:
      allOf:
        - $ref: '#/components/schemas/TransactionLog'

    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionLog'
        pagination:
          type: object
          properties:
            total: { type: integer }
            limit: { type: integer }
            offset: { type: integer }

    TokenTransactionList:
      type: object
      properties:
        tokenTransactions:
          type: array
          items:
            $ref: '#/components/schemas/TokenTransaction'
        pagination:
          type: object
          properties:
            total: { type: integer }
            limit: { type: integer }
            offset: { type: integer }

    # --- Specific Request Envelopes ---
    ApiRequest_GetTokenRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/GetTokenRequest' }

    ApiRequest_ListTokensRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/ListTokensRequest' }

    ApiRequest_TransactRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/TransactRequest' }
            signature: { $ref: '#/components/schemas/Signature' }

    # --- Specific Response Envelopes ---
    ApiResponse_TokenDetails:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TokenDetails' }

    ApiResponse_TokenList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TokenList' }

    ApiResponse_TransactAccepted:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            context:
              allOf:
                - $ref: '#/components/schemas/ResponseContext'
                - properties:
                    status:
                      type: string
                      const: "accepted"
                    transactionId:
                      type: string
                      format: uri-reference
            response: { $ref: '#/components/schemas/TransactAccepted' }

    # --- Transaction API Request Envelopes ---
    ApiRequest_TransactionStatusRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/TransactionStatusRequest' }

    ApiRequest_GetTransactionRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/GetTransactionRequest' }

    ApiRequest_ListTransactionsRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/ListTransactionsRequest' }

    ApiRequest_TokenTransactionsRequest:
      allOf:
        - $ref: '#/components/schemas/RequestContext'
        - properties:
            payload: { $ref: '#/components/schemas/TokenTransactionsRequest' }

    # --- Transaction API Response Envelopes ---
    ApiResponse_TransactionStatus:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TransactionStatus' }

    ApiResponse_TransactionDetails:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TransactionDetails' }

    ApiResponse_TransactionList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TransactionList' }

    ApiResponse_TokenTransactionList:
      allOf:
        - $ref: '#/components/schemas/ApiResponse'
        - properties:
            response: { $ref: '#/components/schemas/TokenTransactionList' }

  # -------------------- Responses --------------------
  responses:
    UnauthorizedError:
      description: "Authentication failed. Can be invalid Developer Token OR invalid User JWT."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "AUTHENTICATION_FAILED", message: "Token invalid or expired." } }
            response: {}
    ForbiddenError:
      description: "Forbidden. Insufficient permissions."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "PERMISSION_DENIED", message: "Insufficient permissions to perform this action." } }
            response: {}
    NotFoundError:
      description: "Resource not found."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "RESOURCE_NOT_FOUND", message: "The requested token was not found." } }
            response: {}
    BadRequestError:
      description: "Invalid request."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "INVALID_REQUEST", message: "Invalid request parameters." } }
            response: {}
    ConflictError:
      description: "Conflict with existing resource or state."
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ApiError' }
          example:
            context: { id: "...", ts: "...", msgId: "...", status: "failed", error: { code: "RESOURCE_CONFLICT", message: "Operation conflicts with current token state." } }
            response: {}

  # -------------------- Security --------------------
  securitySchemes:
    developerToken:
      type: http
      scheme: bearer
      bearerFormat: "JWT or Opaque"
      description: |
        A JWT or Opaque token that identifies the calling B2B developer/backend service.
        This is passed in the standard `Authorization: Bearer <token>` header.
        (This can also be passed in the `context.developerToken` as a fallback).

    developerSignature:
      type: apiKey
      in: header
      name: Signature
      description: |
        The IETF HTTP Signature (RFC 9421) used by B2B developers to ensure message
        integrity and non-repudiation. This is passed in the `Signature` header.
